//
// Boxes
// 

/**
* Box Counter
*/
.box-counter {
	position: relative;
	text-align: center;
	color: $gray-dark;
}

.box-counter__title {
	font-family: $font-family-sec;
	display: inline-block;
	letter-spacing: .02em;
	line-height: 1.3;
	font-size: 16px;
}

.box-counter__main {
	> * {
		display: inline;
		font-family: $font-family-sec;
		font-size: 45px;
		font-weight: 400;
		line-height: 1.2;
	}

	.small {
		font-size: 28px;
	}

	.small_top {
		vertical-align: top;
	}
}

.box-counter__divider {
	font-size: 0;
	line-height: 0;
	&::after {
		content: '';
		display: inline-block;
		width: 80px;
		height: 2px;
		background: $primary;
	}
}

.box-counter_modern {
	> * {
		display: block;
		max-width: 220px;
		margin-left: auto;
		margin-right: auto;
	}

	.box-counter__main {
		min-width: 200px;
		> * {
			position: relative;
			display: inline-block;
			top: 4px;
		}
	}

	.box-counter__icon {
		top: 0;
		font-size: 30px;
		text-align: center;
	}

	.box-counter__icon + * {
		margin-left: 14px;
	}

	* + .box-counter__title { margin-top: 20px; }

	@include media-breakpoint-up(sm) {
		text-align: left;

		.box-counter__icon {
			top: 0;
			display: inline-block;
			padding-right: 8px;
			vertical-align: middle;
			font-size: 30px;
			min-height: 65px;
			min-width: 82px;
			border-style: solid;
			border-width: 0 0 2px 2px;
			border-color: $primary;
			text-align: center;
		}

		.box-counter__icon + * {
			margin-left: -14px;
		}

		* + .box-counter__title { margin-top: 10px; }
	}
}

.box-counter_creative {
	text-align: center;
	.box-counter__main {
		vertical-align: middle;

		.icon + * {
			margin-left: 10px;
		}
	}

	.icon {
		position: relative;
		top: -10px;
		font-size: 30px;
	}
}

* + .box-counter__title { margin-top: 10px; }

* + .box-counter__main { margin-top: 20px; }

* + .box-counter__divider { margin-top: 10px; }

.box-counter__main + .box-counter__title { margin-top: 5px; }

@include media-breakpoint-up(md) {
	.box-counter__title {
		font-size: 18px;
	}
}

@include media-breakpoint-up(xl) {
	.box-counter__main {
		> * {
			font-size: 60px;
		}

		.small {
			font-size: 36px;
		}
	}

	* + .box-counter__main { margin-top: 30px; }
	* + .box-counter__divider { margin-top: 15px; }
	* + .box-counter__title { margin-top: 18px; }
}

// Box minimal
.box-minimal {
	text-align: center;

	.box-minimal__icon {
		font-size: 50px;
		line-height: 50px;
	}

	p[class] {
		letter-spacing: 1em;
	}
}

.box-minimal__text {
	width: 100%;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

* + .box-minimal__title { margin-top: 13px; }

* + .box-minimal__text { margin-top: 15px; }

/**
* Box Alice
*/
.box-alice {
	padding: 10px;
	max-width: 100%;
	text-align: center;
}

.box-alice__inner {
	@include spacingY(15px);
}

.box-alice__icon {
	padding: 5px 10px;
	border: 2px solid $gray-2;
	font-size: 30px;
	@include icon-gradient($secondary, $primary);

	&.fl-bigmug-line-list63 {
		font-size: 17px;
	}
}

.box-alice__icon-sm {
	font-size: 22px;
}

.box-alice__icon-md {
	font-size: 35px;
}

@include media-breakpoint-down(sm) {
	.box-alice {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(sm) {
	.box-alice__inner {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		text-align: left;

		> * + * {
			padding-left: 30px;
		}
	}

	.box-alice__aside {
		flex-shrink: 0;
	}

	.box-alice__main {
		position: relative;
		top: -5px;
		flex-grow: 1;
	}

	.box-alice__icon-outer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 84px;

		&::before,
		&::after {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 2px;
			width: 22px;
			background: $gray-2;
		}
	}

	.ie-10,
	.ie-11 {
		.box-alice__icon-outer {
			justify-content: flex-start;
		}
	}

	.box-alice__icon {
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 60px;
		min-width: 50px;
		min-height: 60px;
		margin-top: 9px;
		margin-bottom: 8px;
		text-align: center;
		
		.safari & {
			display: block;
			line-height: 45px;
		}
	}
}

@include media-breakpoint-between(lg, lg) {
	.box-alice {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.box-alice__main {
		padding-left: 20px;
	}

	.box-alice__title {
		font-size: 16px;
	}

	.box-alice__icon {
		min-width: 44px;
		font-size: 24px;
	}

	.box-alice__icon-sm {
		font-size: 18px;
	}

	.box-alice__icon-md {
		font-size: 28px;
	}
}

@include media-breakpoint-up(lg) {
	html:not(.tablet):not(.mobile):not([data-x-mode="true"]) {
		.box-alice__icon-outer {
			transition: .3s;

			&::before,
			&::after {
				animation: .3s h-to-w both;
			}
		}

		&.ie-10,
		&.ie-11 {
			.box-alice__icon-outer::before,
			.box-alice__icon-outer::after {
				animation: .3s h-to-w--ie both;
			}
		}

		.box-alice {
			position: relative;
			transition: .22s;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
				transition: .33s;
				pointer-events: none;
				transform: scale3d(1.08, 1.08, 1.08);
				opacity: 0;
				visibility: hidden;
			}

			&:hover {
				&::before {
					opacity: 1;
					visibility: visible;
					transform: scale3d(1, 1, 1);
				}

				.box-alice__icon-outer {
					height: 100%;
					&::before,
					&::after {
						animation: .22s w-to-h both;
					}
				}
			}
		}

		&.ie-10,
		&.ie-11 {
			.box-alice:hover {
				.box-alice__icon-outer::before,
				.box-alice__icon-outer::after {
					animation: .22s w-to-h--ie both;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.box-alice {
		padding: 35px 20px;
	}
}

@include media-breakpoint-up(xl) {
	.box-alice__main {
		max-width: 240px;
	}
}

@keyframes w-to-h {
	0% {
		width: 22px;
		height: 2px;
	}

	50% {
		width: 2px;
		height: 2px;
	}

	100% {
		width: 2px;
		height: 50%;
	}
}

@keyframes h-to-w {
	0% {
		width: 2px;
		height: 50%;
	}

	50% {
		width: 2px;
		height: 2px;
	}

	100% {
		width: 22px;
		height: 2px;
	}
}

@keyframes w-to-h--ie {
	0% {
		width: 22px;
		height: 2px;
	}

	50% {
		width: 2px;
		height: 2px;
	}

	100% {
		width: 2px;
		height: 12px;
	}
}

@keyframes h-to-w--ie {
	0% {
		width: 2px;
		height: 12px;
	}

	50% {
		width: 2px;
		height: 2px;
	}

	100% {
		width: 22px;
		height: 2px;
	}
}

// Insets
.box-inset-1 {
	@include media-breakpoint-up(lg) {
		padding-left: 20px;
	}

	@include media-breakpoint-up(xl) {
		padding-left: 65px;
	}
}

.box-inset-2 {
	@include media-breakpoint-up(lg) {
		padding-right: 20px;
	}

	@include media-breakpoint-up(xl) {
		padding-right: 65px;
	}
}

.box-inset-3 {
	@include media-breakpoint-up(lg) {
		padding-bottom: 20px;
	}

	@include media-breakpoint-up(xl) {
		padding-bottom: 40px;
	}
}

/**
* Box summary
*/
.box-summary {
	font-family: $font-family-sec;
	font-size: 16px;
	color: $gray-darker;
	text-align: left;

	.select-inline {
		.select2-chosen,
		.select2-arrow b:before {
			color: $primary;
		}
	}
}

.box-summary__row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px 5px 0;
	margin-left: 0;
	margin-right: 0;
	border-bottom: 1px solid $gray-2;

	> * {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 15px;
	}

	&:first-child { padding-left: 0; }
	&:last-child { padding-right: 0; }
}

.box-summary__footer {
	@include group(10px);
	text-align: right;
	vertical-align: middle;

	> * {
		display: inline-block;
		vertical-align: middle;
	}

	.rd-form {
		@include display-inline-flex;
		justify-content: flex-end;
		width: auto;
	}

	.form-label {
		color: $gray-darker;
	}

	.button {
		margin-top: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.box-summary__details {
	> * {
		display: inline-block;
		margin-top: 0;
		padding-left: .125em;
		padding-right: .125em;
		vertical-align: middle;

		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}
}

.box-summary__aside-inner {
	@include group(20px, 10px);
	> * {
		vertical-align: middle;
	}
}

.box-summary__subject {
	color: $secondary;
}

.box-summary__remove {
	position: absolute;
	top: 25px;
	right: 0;
	@include reset-button;
	font-size: inherit;
	@include link($gray-darker, $error-color);
	transition: .33s;

	&::before {
		content: '\e00a';
		font-family: 'fl-budicons-free';
	}
}

.box-summary__price-total {
	font-size: 26px;
	line-height: 1;
}

* + .box-summary__footer { margin-top: 25px; }

@include media-breakpoint-up(md) {
	.box-summary__row {
		padding-top: 22px;
		padding-bottom: 7px;
	}

	* + .box-summary__footer { margin-top: 40px; }
}

@include media-breakpoint-up(lg) {
	.box-summary {
		&, .select2-chosen {
			font-size: 18px;
		}

		.select2-arrow b:before {
			top: 1px;
		}
	}

	.box-summary__remove {
		top: 50%;
		transform: translateY(-50%);
	}

	.box-summary__price-total {
		font-size: 36px;
	}

	.box-summary__row {
		padding: 30px 70px 15px 0;
		min-height: 100px;
	}

	.box-summary__aside {
		@include groupX(40px);
	}

	* + .box-summary__footer { margin-top: 60px; }
}

/**
*  Box Bordered
*/
.box-bordered {
	border: 1px solid $gray-2;

	.box-bordered__table,
	.checkbox-inline,
	.radio-inline {
		font-family: $font-family-sec;
		font-size: 16px;
		color: $gray-darker;
	}

	.checkbox-inline,
	.radio-inline {
		padding-left: 32px;
	}

	.radio-custom-dummy,
	.checkbox-custom-dummy {
		top: 2px;
	}
}

.box-bordered__content,
.box-bordered__table td {
	padding: 15px;
}

.box-bordered__content {
	* + p {
		margin-top: 10px;
	}
}

.box-bordered__table {
	width: 100%;
	tr + tr {
		border-top: 1px solid $gray-2;
	}
}

* + .box-bordered { margin-top: 20px; }

@include media-breakpoint-up(md) {
	.box-bordered {
		.box-bordered__table,
		.checkbox-inline,
		.radio-inline {
			font-size: 18px;
		}

		.radio-custom-dummy,
		.checkbox-custom-dummy {
			top: 5px;
		}
	}

	.box-bordered__content,
	.box-bordered__table td {
		padding: 20px;
	}
}

@include media-breakpoint-up(lg) {
	* + .box-bordered { margin-top: 30px; }
}

@include media-breakpoint-up(xl) {
	.box-bordered__content,
	.box-bordered__table td {
		padding: 20px;
	}
}

/**
* Box Chloe
*/
.box-chloe {
	position: relative;
	padding: 20px;
	text-align: center;
	@include responsive-block;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $white;
		box-shadow: 0 0 16px 0 rgba($black, .06);
		pointer-events: none;
		z-index: 0;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	* + .button-sm { margin-top: 20px; }
}

.box-chloe__icon {
	position: relative;
	font-size: 40px;
	color: $primary;
}

.box-chloe__main {
	position: relative;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
}

.box-chloe_primary {
	.box-chloe__icon { }
	.button {
		@include btn-hover-variant($white, $primary, $primary);
	}
}

.box-chloe_secondary {
	.box-chloe__icon {
		color: $secondary;
	}

	.button {
		@include btn-hover-variant($white, $secondary, $secondary);
	}
}

.box-chloe_tertiary {
	.box-chloe__icon {
		color: $tertiary;
	}

	.button {
		@include btn-hover-variant($white, $tertiary, $tertiary);
	}
}

* + .box-chloe__icon { margin-top: 10px; }

* + .box-chloe__main { margin-top: 10px; }

* + .box-chloe__title { margin-top: 10px; }

@include media-breakpoint-up(lg) {
	html:not(.tablet):not(.mobile) {
		.box-chloe {
			&::before {
				transition: .33s;
			}
		}

		.box-chloe__icon {
			transition: .33s;
		}

		.box-chloe__main {
			transform: translate3d(0, 0, 0);
			transition: .33s;
		}

		.box-chloe {
			&:hover {
				&::before {
					transform: scale3d(1.04, 1.04, 1.04);
				}

				.box-chloe__icon {
					transform: scale3d(1.4, 1.4, 1.4);
				}

				.box-chloe__main {
					transform: translate3d(0, 10px, 0);
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.box-chloe {
		padding: 40px 20px;
	}
}

/**
* Box Nina
*/
.box-nina {
	position: relative;
	text-align: center;
	@include responsive-block;

	* + .button-sm { margin-top: 20px; }
}

.box-nina__icon {
	position: relative;
	font-size: 40px;
	line-height: 1;
	color: $primary;
}

.box-nina__main {
	position: relative;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
}

.box-nina__title {
	a:hover {
		color: $primary;
	}
}

.box-nina_secondary {
	.box-nina__icon {
		color: $secondary;
	}
}

.box-nina_tertiary {
	.box-nina__icon {
		color: $tertiary;
	}
}

* + .box-nina__icon { margin-top: 10px; }

* + .box-nina__main { margin-top: 20px; }

* + .box-nina__title { margin-top: 20px; }

@include media-breakpoint-up(xl) {
	.box-nina {
		* + p { margin-top: 16px; }
	}
}

/**
* Box Lucy
*/
.box-lucy {
	position: relative;
	padding: 30px 20px;
	max-width: 330px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid $gray-2;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $secondary;
		transition: .33s;
		pointer-events: none;
		transform: scale3d(1.08, 1.08, 1.08);
		opacity: 0;
		visibility: hidden;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	> * + * {
		margin-top: 12px;
	}

	p {
		letter-spacing: .05em;
	}

	&,
	.box-lucy__icon,
	.box-lucy__title,
	.box-lucy__icon-shape {
		transition: .33s;
	}

	&:hover {
		color: $white;
		border-color: $secondary;

		p {
			color: $secondary-lighten;
		}

		&::before {
			opacity: 1;
			visibility: visible;
			transform: scale3d(1, 1, 1);
		}

		.box-lucy__icon,
		.box-lucy__title {
			color: $white;
		}

		.box-lucy__icon-shape {
			stroke: $white;
		}
	}
}

.box-lucy__aside {
	> * + * { margin-top: 15px; }
}

.box-lucy__icon-outer {
	position: relative;
	display: inline-block;
}

.box-lucy__icon-shape {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	stroke: $primary;
}

.box-lucy__icon {
	padding: 5px;
	font-size: 30px;
	color: $secondary;
}

.box-lucy__icon-sm {
	font-size: 22px;
}

.box-lucy__icon-md {
	font-size: 35px;
}

@include media-breakpoint-up(sm) {
	.box-lucy {
		padding: 20px 30px 30px 30px;
		text-align: left;
	}

	.box-lucy__aside {
		display: flex;
		align-items: center;
		@include groupX(20px);
	}

	.box-lucy__icon-outer {
		flex-shrink: 0;
	}

	.box-lucy__icon {
		@include display-inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 50px;
		min-height: 60px;
		margin-top: 9px;
		margin-bottom: 8px;
		text-align: center;
	}
}

@include media-breakpoint-between(lg, lg) {
	.box-lucy__title {
		font-size: 16px;
	}

	.box-lucy__icon {
		min-width: 44px;
		font-size: 24px;
	}

	.box-lucy__icon-sm { font-size: 18px; }
	.box-lucy__icon-md { font-size: 28px; }
}

@include media-breakpoint-up(xl) {
	.box-lucy {
		padding: 35px 32px 40px 44px;
	}
}

/*
* Box Veronika
*/
// flex cell
.row-flex {
	> [class*="col-"] {
		display: flex;

		> * {
			flex-grow: 1;
			max-width: 100%;
		}
	}
}

html {
	.box-veronika {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		border: 2px solid $gray-lighter;
		border-top: 0;
		text-align: left;
		cursor: default;

		p {
			letter-spacing: .05em;
		}

		&:hover {
			&,
			.box-veronika__icon-outer::before,
			.box-veronika__icon-outer::after {
				border-color: $secondary;
			}

			.box-veronika__icon,
			.box-veronika__title {
				color: $secondary;
			}
		}
	}

	.box-veronika,
	.box-veronika__icon-outer::before,
	.box-veronika__icon-outer::after,
	.box-veronika__icon,
	.box-veronika__title {
		transition: .33s;
	}

	.box-veronika__inner {
		position: relative;
		overflow: hidden;
		top: -20px;
		padding-top: 20px;
		margin-bottom: -10px;
	}

	.box-veronika__icon-outer {
		display: block;
		position: relative;
		margin: 0 40px -20px auto;
		width: 90px;
		text-align: center;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			border-bottom: 2px solid $gray-lighter;
			width: 100vw;
		}

		&::before {
			left: 0;
			transform: translate3d(-100%, 0, 0);
		}

		&::after {
			right: 0;
			transform: translate3d(100%, 0, 0);
		}
	}

	.box-veronika__icon {
		position: relative;
		display: inline-block;
		transform: translate3d(0, -50%, 0);
		font-size: 30px;
		line-height: 1;
		@include icon-gradient($secondary, $primary);
	}

	.box-veronika__main {
		padding: 30px 25px;
	}

	.box-veronika__icon-sm { font-size: 22px; }

	.box-veronika__icon-md { font-size: 35px; }

	@include media-breakpoint-down(sm) {
		.box-veronika {
			max-width: 370px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include media-breakpoint-up(sm) {
		.box-veronika__title {
			max-width: 95%;
		}
	}

	@include media-breakpoint-up(lg) {
		.box-veronika__main {
			padding: 35px 20px;
		}
	}

	@include media-breakpoint-up(xl) {
		.box-veronika__inner {
			top: -25px;
			padding-top: 25px;
		}

		.box-veronika__main {
			padding: 30px 50px;
		}

		.box-veronika__icon {
			font-size: 40px;
		}

		.box-veronika__icon-sm { font-size: 28px; }
		.box-veronika__icon-md { font-size: 45px; }
	}
}

/**
* Box Decorations
*/
.box-decoration-1 {
	position: relative;
	z-index: 1;
	max-width: 620px;

	a {
		position: relative;
		overflow: hidden;
		display: block;
		width: 100%;
		min-width: 51%;
		box-shadow: 0 0 5px 0 rgba($black, 0.07);
		transform: translate3d(0, 0, 0);
		transition: .44s;

		&::before {
			content: '';
			display: block;
			padding-bottom: 100%;
		}

		&:nth-child(odd) {
			margin-left: auto;
			max-width: 70%;
		}

		&:nth-child(even) {
			margin-right: auto;
			max-width: 75%;
		}

		&:hover {
			z-index: 1;
			transform: scale3d(1.03, 1.03, 1.03);
			box-shadow: 0 0 14px 1px rgba($black, 0.2);
		}
	}

	a + a {
		margin-top: -58%;
	}

	img {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		max-width: none;

		@supports (object-fit: cover) {
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			transform: none;
			object-fit: cover;
			object-position: center top;
		}
	}

	@include media-breakpoint-up(lg) {
		padding-top: 35px;

		a {
			&:nth-child(odd) {
				max-width: 57.93%;
				&::before { padding-bottom: (414 / 358) * 100%; }
			}

			&:nth-child(even) {
				max-width: 61.97%;
				&::before { padding-bottom: (414 / 383) * 100%; }
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			border: 3px solid $gray-lighter;
			right: 50px;
			pointer-events: none;
		}

		&::before {
			top: 0;
			left: 25px;
			height: 40px;
			border-bottom: 0;
		}

		&::after {
			border-top: 0;
			border-left: 0;
			top: 50px;
			bottom: 25px;
			width: 23.28%;
			z-index: -1;
		}
	}
}

.box-decoration-2 {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: center;
	width: 100%;

	a {
		position: relative;
		overflow: hidden;
		display: block;
		width: 100%;
		box-shadow: 0 0 13px 0 rgba($black, 0.15);
		transform: translate3d(0, 0, 0);
		transition: .44s;

		&::before {
			content: '';
			display: block;
		}

		&:nth-child(odd) {
			max-width: 47.66% * 1.2;
			&::before { padding-bottom: 77%; }
		}

		&:nth-child(even) {
			max-width: 61.03% * 1.2;
			&::before { padding-bottom: 90%; }
		}

		&:hover {
			transform: scale3d(1.03, 1.03, 1.03);
			box-shadow: 0 0 14px 1px rgba($black, 0.3);
			z-index: 1;
		}
	}

	a + a {
		top: 10px;
		margin-right: -67px;
	}

	img {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		max-width: none;

		@supports (object-fit: cover) {
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			transform: none;
			object-fit: cover;
			object-position: center top;
		}
	}

	@include media-breakpoint-up(lg) {
		a {
			&:nth-child(odd) {
				max-width: 47.66%;
				&::before { padding-bottom: (328 / 367) * 100%; }
			}

			&:nth-child(even) {
				max-width: 61.03%;
				&::before { padding-bottom: (401 / 470) * 100%; }
			}
		}

		a + a {
			margin-right: -67px;
			margin-top: 0;
		}
	}

	@include media-breakpoint-up(xl) {
		left: -25px;
	}
}
