/*
*
* Buttons
* 
*/

// Button General Styles

.button {
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	@include btn-size(12px, 38px, $btn-font-size, $btn-lh-size);
	font-family: $font-family-base;
	font-weight: $btn-font-weight;
	letter-spacing: .1em;
	border-width: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 250ms all ease-in-out;
	text-transform: uppercase;
}

.button-block {
	display: block;
	width: 100%;
}

// Appearance style
// 

html {
	.button-default {
		@include btn-hover-gradient($gray-darker, $gray-light, $gray-light, $white, $primary, $secondary, $primary);
	}

	.button-primary {
		@include btn-hover-gradient($white, $primary, $primary, $white, $secondary, $primary-darken-2, $primary);
	}

	.bg-primary {
		.button-primary {
			@include btn-hover-gradient($gray-darker, $white, $white, $white, $secondary, $primary-darken-2, $white);
		}
	}

	.button-secondary {
		@include btn-variant($white, $secondary, $secondary, $white, $primary, $primary);
	}

	.button-gradient {
		@include btn-gradient-variant($white, $secondary, $primary, $gray-darker, $gray-light);
	}

	// Outline
	.button-default-outline {
		@include btn-hover-gradient($gray-darker, transparent, $gray-2, $white, $secondary, $primary, $gray-2);
	}

	.button-ghost {
		border: 0;
		background-color: transparent;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: $primary;
		}
	}
}

// Social
.button-facebook {
	@include btn-variant($white, $facebook, $facebook, $white, $facebook-darken, $facebook-darken);
}

.button-twitter {
	@include btn-variant($white, $twitter, $twitter, $white, $twitter-darken, $twitter-darken);
}

.button-google {
	@include btn-variant($white, $google, $google, $white, $google-darken, $google-darken);
}

// Btn with shadow
.button-shadow {
	box-shadow: 0 9px 21px 0 rgba(30, 30, 30, 0.15);

	&:hover {
		box-shadow: 0 9px 10px 0 rgba(30, 30, 30, 0.15);
	}

	&:focus,
	&:active {
		box-shadow: none;
	}
}

/*
* Button effects
*/
.button-ujarak {
	position: relative;
	z-index: 0;
	transition: background .4s, border-color .4s, color .4s;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $primary;
		z-index: -1;
		opacity: 0;
		transform: scale3d(0.7, 1, 1);
		transition: transform 0.42s, opacity 0.42s;
		border-radius: inherit;
		pointer-events: none;
	}

	&,
	&::before {
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}

	&:hover,
	&:focus,
	&:active {
		transition: background .4s .4s, border-color .4s 0s, color .2s 0s;
		&::before {
			opacity: 1;
			transform: translate3d(0, 0, 0) scale3d(1.05, 1, 1);
		}
	}
}

// Button Sizes
// 

.button-xs {
	padding: 8px 17px;
}

.button-sm {
	@include btn-size(5px, 25px, 12px, 26px);
}

.button-lg {
	@include btn-size(12px, 50px, 14px, 28px);

	@include media-breakpoint-up(lg) {
		padding-left: 35px;
		padding-right: 35px;
	}
}

.button-xl {
	@include btn-size(16px, 50px, 16px, 28px);

	@include media-breakpoint-up(lg) {
		padding: 20px 80px;
	}
}

// Button Shapes
// 

.button-circle {
	border-radius: 30px;
}

.button-round-1 {
	border-radius: 5px;
}

.button-round-2 {
	border-radius: 10px;
}

// Button Icon styles
// 

/*
* Button Icon styles
*/
.button {
	&.button-icon {
		@include display-inline-flex;
		justify-content: center;
		align-items: center;
		vertical-align: middle;

		.icon {
			position: relative;
			top: 1px;
			display: inline-block;
			vertical-align: middle;
			color: inherit;
			font-size: 1.55em;
			line-height: 1em;
		}

		&-left {
			.icon {
				padding-right: 11px;
			}
		}

		&-right {
			flex-direction: row-reverse;
			.icon {
				padding-left: 11px;
			}
		}

		&.button-sm {
			.icon {
				top: -.05em;
				font-size: 1.2em;
				padding-right: 8px;
			}

			.button-icon-right {
				padding-left: 8px;
			}
		}

		&.button-xs {
			.icon {
				top: .05em;
				font-size: 1.2em;
				padding-right: 8px;
			}

			.button-icon-right {
				padding-left: 8px;
			}
		}
	}

	&.button-icon-only {
		padding-left: 10px;
		padding-right: 10px;
		min-width: 50px;
		.icon {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

/**
* Bootstrap buttons
*/

.btn-primary {
	border-radius: 3px;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	letter-spacing: .05em;
	text-transform: uppercase;
	transition: .33s;

	&,
	&:active,
	&:focus {
		color: $white;
		background: $primary;
		border-color: $primary;
	}

	&:hover {
		color: $white;
		background: $black;
		border-color: $black;
	}
}

/**
* Button Link
*/

.button-link {
	@include reset-button;
}

// Builder button
.builder-button {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 10;
	display: none;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
	text-transform: uppercase;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	font-weight: 700;
	color: $white;
	transform: translateY(-50%) rotate(180deg);
	background-image: linear-gradient(to bottom, #00F3F7 0%, #109DF7 51%, #00F3F7 100%);
	background-size: auto 200%;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;

	img {
		max-width: 30px;
		height: auto;
		margin-bottom: 8px;
		transform: rotate(90deg);
	}

	&:hover,
	&:focus {
		color: $white;
	}

	[data-x-mode="true"] & {
		display: none;
	}

	@media (min-width: 575px) {
		display: inline-flex;
	}
}

