/*
*
* Form styles
* 
*/

// Forms variables
//
$input-height: 50px;
$form-input-color: $gray;
$form-input-color-placeholder: $form-input-color;

$form-input-background: #f5f5f5;
$form-input-border-color: $form-input-background;
$form-input-border-color-radius: $border-radius;

$form-input-font-size: 14px;
$input-line-height: 24px;
$input-font-weight: 400;

$error-color: #e06363;
$success-color: #b6c062;

$form-input-border: 1px solid $form-input-border-color;
$input-padding-horizontal: 19px;
$input-line-height: round($form-input-font-size * 1.7);

$input-padding-vertical: round(($input-height - $input-line-height) / 2) + 1px;
$input-padding: $input-padding-vertical $input-padding-horizontal;

@if ($form-input-border != none) {
	$input-padding-vertical: round(($input-height - $input-line-height - (nth($form-input-border, 1) * 2)) / 2);
	$input-padding: $input-padding-vertical $input-padding-horizontal;
}

$form-textarea-default-height: 135px;
$form-textarea-default-min-height: $input-height;
$form-textarea-default-max-height: round($form-textarea-default-height * 1.7);

//
// Form styles
// 

.rd-mailform {
	position: relative;
	text-align: left;

	.button {
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: $input-height;
	}

	* + .button {
		margin-top: 25px;
	}
}

input:-webkit-autofill ~ label,
input:-webkit-autofill ~ .form-validation {
	color: $black !important;
}

.form-label,
.form-label-outside {
	margin-bottom: 0;
	color: $body-color;
	font-weight: $input-font-weight;
}

.form-input {
	order: 3;
	display: block;
	width: 100%;
	min-height: $input-height;
	padding: $input-padding-vertical $input-padding-horizontal;
	font-size: $form-input-font-size;
	font-weight: $input-font-weight;
	line-height: $input-line-height;
	color: $form-input-color;
	background-color: $form-input-background;
	background-image: none;
	border-radius: $form-input-border-color-radius;
	-webkit-appearance: none;
	transition: .3s ease-in-out;

	@if ($form-input-border) {
		border: $form-input-border;
	}

	&:focus {
		outline: 0;
	}
}

textarea.form-input {
	height: $form-textarea-default-height;
	min-height: $form-textarea-default-min-height;
	max-height: $form-textarea-default-max-height;
	resize: vertical;
}

// Form wrapper

.form-wrap {
	position: relative;
	//display: flex;
	//flex-direction: column;
	//align-items: flex-start;

	.button {
		width: 100%;
	}

	&.has-error {

		.form-input {
			border-bottom-color: $error-color;
		}
	}

	&.has-focus {
		.form-input {
			border-bottom-color: $success-color;
		}
	}
}

.form-wrap + * {
	margin-top: 20px;
}

// Form labels

.form-label {
	position: absolute;
	top: $input-height / 2;
	left: 0;
	right: 0;
	padding-left: $input-padding-horizontal;
	padding-right: $input-padding-horizontal;
	font-size: $form-input-font-size;
	font-weight: $input-font-weight;
	line-height: $input-line-height;
	pointer-events: none;
	text-align: left;
	z-index: 9;
	transition: .25s;
	will-change: transform;
	transform: translateY(-50%);

	&.focus {
		opacity: 0;
	}

	&.auto-fill {
		color: $form-input-color;
	}
}

[data-x-mode='true'] {
	.form-label {
		pointer-events: auto;
	}
}

.form-label-outside {
	width: 100%;
	margin-bottom: 4px;
	letter-spacing: .1em;
	text-transform: uppercase;

	@include media-breakpoint-up(md) {
		position: static;

		&,
		&.focus,
		&.auto-fill {
			transform: none;
		}
	}
}

.form-label-outside ~ .form-validation {
	order: 2;
	top: 28px;
}

// Form validation

.form-validation {
	position: absolute;
	right: 8px;
	top: 0;
	z-index: 11;
	margin-top: 2px;
	font-size: 9px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0;
	color: $error-color;
	transition: .3s;
}

.form-validation-left {
	.form-validation {
		right: auto;
		top: 100%;
		left: 0;
	}
}

// Form output

#form-output-global {
	position: fixed;
	bottom: 30px;
	left: 15px;
	visibility: hidden;
	transform: translateX(-500px);
	transition: .3s all ease;
	z-index: 9999999;

	&.active {
		transform: translateX(0);
		visibility: visible;
	}

	@include media-breakpoint-up(sm) {
		left: 30px;
	}
}

.form-output {
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.2;
	margin-top: 2px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&.error {
		color: $error-color;
	}

	&.success {
		color: $success-color;
	}
}

// Radio and Checkbox Custom

// Base Styles
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
	opacity: 0;

	&, &-dummy {
		position: absolute;
		width: 14px;
		height: 14px;
		margin-left: -20px;
		margin-top: 5px;
		outline: none;
		cursor: pointer;
	}

	&-dummy {
		pointer-events: none;
		background: $white;

		&:after {
			position: absolute;
			opacity: 0;
		}
	}

	&:focus {
		outline: none;
	}
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
	opacity: 1;
}

// Custom Radio Styles
//
.radio,
.radio-inline {
	cursor: pointer;
	.radio-custom-dummy {
		left: 0;
		width: 18px;
		height: 18px;
		margin-top: 2px;
		margin-left: 0;
		border: 1px solid $gray-2;
		border-radius: 2px;
		pointer-events: none;

		&:after {
			content: '';
			top: 4px;
			right: 4px;
			bottom: 4px;
			left: 4px;
			background: $gray-darker;
		}
	}
}

// Custom Checkbox Styles
//
.checkbox,
.checkbox-inline {
	cursor: pointer;
	padding-left: 32px;
	letter-spacing: .05em;

	.checkbox-custom-dummy {
		left: 0;
		width: 18px;
		height: 18px;
		margin-top: 2px;
		margin-left: 0;
		border: 1px solid $gray-2;
		border-radius: 2px;
		pointer-events: none;

		&::after {
			content: '\e5ca';
			font-family: 'Material Icons';
			font-size: 20px;
			line-height: 10px;
			position: absolute;
			top: 1px;
			left: 0;
			color: $gray-darker;
		}
	}
}

.form-wrap.form-wrap-recaptcha {
	.form-validation {
		top: 3px;
		left: 14px;
	}

	@include media-breakpoint-down(xs) {
		.recaptcha {
			> * {
				transform: scale(.96);
				transform-origin: 0 50%;
			}
		}
	}
}

// Mods
.rd-mailform.rd-mailform_label-centered {
	.form-label-outside {
		text-align: center;
	}

	* + .button {
		margin-top: 30px;
	}

	.form-input:focus {
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		&::-moz-placeholder {
			opacity: 0;
		}
		&:-moz-placeholder {
			opacity: 0;
		}
		&:-ms-input-placeholder {
			opacity: 0;
		}
	}

	@include media-breakpoint-up(md) {
		padding-left: 15px;
		padding-right: 15px;
		* + .button {
			margin-top: 40px;
		}
	}

	@include media-breakpoint-up(xxl) {
		* + .button {
			margin-top: 50px;
		}
	}
}

.form_inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	text-align: center;
	margin-left: -4px;
	margin-right: -4px;
	margin-bottom: -8px;

	> * {
		margin-top: 0;
		margin-bottom: 8px;
		padding-left: 4px;
		padding-right: 4px;
	}

	.form-wrap {
		display: flex;
	}

	.form-label {
		left: 4px;
		right: 4px;
	}

	.form-footer {
		padding-right: 0;
		margin-bottom: 0;
	}

	.form-wrap {
		flex: 1;
		min-width: 210px;
	}

	.form-wrap-select {
		text-align: left;
	}

	.form-button {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		flex-shrink: 0;
		flex-grow: 0;
		min-height: $input-height;

		.button {
			min-height: inherit;
		}

		a.button {
			display: flex;
			align-items: center;
		}
	}

	@include media-breakpoint-down(xs) {
		.select2-container {
			min-width: 100%;
		}
	}

	@include media-breakpoint-up(sm) {
		.form-wrap-select {
			flex-grow: 0;
			min-width: 140px;
		}

		.button {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.button {
		padding-left: 34px;
		padding-right: 34px;
	}

	&.form_inline-centered {
		justify-content: center;
	}
}

.form-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	flex-shrink: 0;
	margin-bottom: -8px;
	margin-left: -4px;
	margin-right: -4px;
	flex-grow: 0.05;

	> * {
		margin-top: 0;
		margin-bottom: 8px;
		padding-left: 4px;
		padding-right: 4px;
	}

	.form-wrap {
		flex-grow: 1;
	}

	.form-button {
		max-width: 100%;

		a.button {
			display: flex;
		}
	}

	@include media-breakpoint-down(sm) {
		width: 100%;

		.button {
			width: 100%;
		}
	}
}

.rd-mailform.rd-mailform_light {
	.form-label-outside {
		padding-left: 20px;
		margin-bottom: 6px;
		color: $body-color;
		text-align: left;
	}

	.form-validation {
		right: 5px;
	}

	.button {
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.form_outline {
	.form-input {
		background-color: transparent;
		border-color: $gray-2;
	}

	.form-wrap.has-error {
		.form-input {
			border-color: $error-color;
		}
	}
}

.form-input_outline {
	background-color: transparent;
	border-color: $gray-2;

	&.select {
		.select2-choice {
			background-color: transparent;
			border-color: $gray-2;
		}
	}
}

// Form Sizing
.form_sm {
	$input-height: 40px;

	.form-input,
	.button {
		padding-top: 9px;
		padding-bottom: 9px;
		min-height: $input-height;
	}

	.form-validation {
		top: -16px;
	}

	.form-label {
		top: $input-height / 2;
	}

	* + .button {
		margin-top: 10px;
	}
}

.form_lg {
	$input-height: 60px;
	.form-input,
	.form-label,
	.select2-container .select2-choice {
		font-size: 16px;
	}
	.form-input,
	.select2-container .select2-choice {
		font-size: 16px;
		padding-top: round(($input-height - $input-line-height) / 2) - 1px;
		padding-bottom: round(($input-height - $input-line-height) / 2) - 1px;
	}

	.form-input,
	.select2-container .select2-choice {
		min-height: $input-height - 2px;
	}

	.form-button {
		min-height: $input-height;
	}

	.form-label {
		top: round($input-height / 2);
	}
}

.rd-mailform_centered {
	.form-input,
	.form-label {
		text-align: center;
	}
}

* + .rd-form {
	margin-top: 15px;
}

// Form Transparent
%context-dark {
	.form_transparent {
		.form-label,
		.form-input,
		.form-validation {
			color: $white;
		}

		.form-input {
			background: rgba($white, .47);
			border-color: transparent;
		}
	}
}

.rd-mailform_inline-3 {

	.form-validation {
		right: 68px;
	}

	.button {
		min-height: $input-height - 10px;
		margin: 0;
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px 20px;
	}
}
