/*
*
* Layouts
* 
*/

/**
* Footer Basic
*/

.footer-default__aside {
	padding: 20px 0;
	text-align: center;
}

footer.section .footer-default__aside-inner {
	@include spacing(15px, 7px);

	> * {
		margin-top: 0;
	}
}

@include media-breakpoint-up(md) {
	.footer-default__aside {
		text-align: left;
	}

	.footer-default__aside-inner {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/**
* Footer Classic
*/
.footer-classic {
}

.footer-classic__main {
	padding: 50px 0;
}

@include media-breakpoint-up(md) {
	.footer-classic__main {
		padding: 55px 0;
	}

	.footer-classic__custom-column {
		position: relative;
		padding: 35px 0;

		> * {
			position: relative;
			z-index: 1;
		}
	}

	.footer-classic__custom-column-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: -100vw;
		background: $gray-4;
		transform: skew(20deg);
		transform-origin: 100% 145%;
		pointer-events: none;
	}

}

/**
* Footer Modern
*/
.footer-modern {
}

.footer-modern__main {
	padding: 40px 0;
}

@include media-breakpoint-up(md) {
	.footer-modern__main {
		padding: 82px 0 75px;
	}
}

/*
* Footer Creative
*/
.footer-creative {
}

.footer-creative__column {
	padding: 30px 0;

	h3 {
		font-weight: 500;
	}

	hr + * {
		margin-top: 21px;
	}
	h3 + .unit {
		margin-top: 20px;
	}
}

.footer-creative__column_decorated {
	position: relative;
	z-index: 0;

	.background-item {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 55vw;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		pointer-events: none;
		background: $primary;

		[data-x-mode="true"] & {
			pointer-events: auto;
		}
	}

	[data-x-mode="true"] & .unit.flex-row {
		flex: 0 1 auto;
	}
}

@include media-breakpoint-down(md) {
	.footer-creative__column.footer-creative__column_decorated {
		.background-item {
			right: 0;
			left: 0;
			width: 120vw;
			transform: translateX(-20%);
		}
	}
}

@include media-breakpoint-up(md) {
	.footer-creative .container {
		display: flex;
	}

	.footer-creative__column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		> * {
			width: 100%;
		}

		&:first-child {
			flex-basis: 50%;
			padding: 50px 50px 50px 40px;
		}

		&:last-child {
			flex-basis: 50%;
			padding: 40px 0 30px 30px;
		}
	}

	.footer-creative__column.footer-creative__column_decorated {
		background-color: transparent;
		.background-item {
			right: 0;
			left: auto;
			transform: none;
		}
	}
}

@include media-breakpoint-up(lg) {
	.footer-creative__column {
		&:first-child {
			padding-right: 40px;
			flex-basis: 44%;
		}

		&:last-child {
			padding-left: 68px;
			flex-basis: 56%;
		}
	}
}

/**
* Blog Layout
*/
.blog-layout {
	@include groupY(55px);
	margin-bottom: -20px;
}

.blog-layout__aside {
	@include groupY(30px);
	text-align: center;
	.select {
		text-align: left;
	}

	.select2-container .select2-choice > .select2-chosen {
		font-family: $font-family-sec;
		font-size: 18px;
		color: $gray-darker;
	}
}

.blog-layout__aside-item_bordered {
	padding: 25px 22px 30px;
	border: 1px solid $gray-2;
}

@include media-breakpoint-down(sm) {
	.blog-layout__aside {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-between(md, md) {
	.blog-layout__aside {
		@include columns(2);
		@include break-inside(avoid);
		-moz-column-gap: 30px;
		-webkit-column-gap: 30px;
	}

	.blog-layout__aside-item {
		display: inline-block;
		width: 100%;
	}
}

@include media-breakpoint-up(lg) {
	.blog-layout {
		display: flex;
		align-items: flex-start;
		@include groupX(50px);
	}

	.blog-layout__main {
		flex-basis: 69%;
	}

	.blog-layout__aside {
		flex-basis: 28%;
		min-width: 305px;
	}

	.custom-heading-line + .select2-container {
		margin-top: 42px;
	}
}

@include media-breakpoint-up(xl) {
	.blog-layout {
		@include groupX(94px);
	}

	.blog-layout__aside {
		@include groupY(50px);
	}
}

/**
* Search Layout
*/
.search-layout {
	> * + * {
		margin-top: 20px;
	}
}

@include media-breakpoint-up(md) {
	.search-layout {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> * + * {
			margin-top: 0;
			margin-left: 40px;
		}

		.custom-heading-2 {
			max-width: 220px;
		}
	}

	.search-layout__main {
		max-width: 700px;
	}
}

@include media-breakpoint-up(lg) {
	.search-layout {
		max-width: 1030px;
		margin-left: auto;
		margin-right: auto;
	}
}

/**
* Layout Justify
*/
html .layout-justify {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	@include spacingX(8px);

	> * {
		margin-top: 0;
	}
}

* + .layout-justify {
	margin-top: 10px;
}

/*
* Box Layout
*/
.box-layout-1 {
	$angle: 26deg;
	text-align: center;

	.box-layout__aside,
	.box-layout__main {
		padding: 25px 0;
	}

	.box-layout__aside {
		position: relative;
		z-index: 0;
		padding-left: 20px;
		padding-right: 20px;
		background: $gray-11;
	}

	* + .list-domains {
		margin-top: 10px;
	}

	@include media-breakpoint-down(xs) {
		form {
			.form-button,
			.button {
				width: 100%;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.box-layout__aside,
		.box-layout__main {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	@include media-breakpoint-down(md) {
		.box-layout__aside {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				z-index: -1;
				transform: translate3d(-50%, 0, 0);
				background: inherit;
				width: 100vw;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		display: flex;
		text-align: left;

		.box-layout__aside,
		.box-layout__main {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 50%;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.box-layout__aside {
			background-color: transparent;
			padding-right: 50px;
			padding-left: 0;

			&::before,
			&::after {
				content: '';
				position: absolute;
				right: 0;
				background: $gray-11;
				outline: 1px solid $gray-11;
				//outline: 1px solid red;
				width: 100vw;
				z-index: -1;
				pointer-events: none;
			}

			&::before {
				top: 0;
				bottom: 50.1%;
				transform: skew($angle);
			}

			&::after {
				top: 50%;
				bottom: 0;
				transform: skew(-$angle);
			}
		}

		.box-layout__main {
			padding-left: 60px;
			padding-right: 0;
		}
	}

	@include media-breakpoint-up(xl) {
		.box-layout__aside,
		.box-layout__main {
			padding-top: 70px;
			padding-bottom: 80px;
		}
	}
}

