/*
*
* Tooltip Custom
* 
*/


// Tooltips variables
//

//** Tooltip max width
$tooltip-max-width:     253px;

//** Tooltip background color
$tooltip-bg: $secondary;
$tooltip-opacity: 1;

//** Tooltip arrow width 
$tooltip-arrow-width: 5px;

//** Tooltip arrow color
$tooltip-arrow-color: $tooltip-bg;


.tooltip {
  font-family: $font-family-base;

  &.in {
    opacity: $tooltip-opacity;
  }

  &-inner {
    max-width: $tooltip-max-width;
    padding: 4px 12px;
    font-size: $font-size-base;
    border-radius: 0;
    background: $tooltip-bg;
  }

  &.bs-tooltip-left .arrow:before {
    border-left-color: $tooltip-bg;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
  }

  &.bs-tooltip-right .arrow:before {
    border-right-color: $tooltip-bg;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
  }

  &.bs-tooltip-top .arrow:before {
    border-top-color: $tooltip-bg;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
  }

  &.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $tooltip-bg;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
  }
}
