// Custom button variants
@mixin btn-variant($clr, $bg, $bd, $clr-hover, $bg-hover, $bd-hover) {
  & {
    color: $clr;
    background-color: $bg;
    border-color: $bd;
  }

  &:hover,
  &:active,
  &:focus {
    color: $clr-hover;
    background-color: $bg-hover;
    border-color: $bd-hover;
  }

  &.button-ujarak {
    &::before {
      background: $bg-hover;
    }
  }
}

@mixin btn-hover-gradient($clr, $bg, $bd, $clr-hover, $bg-hover1, $bg-hover2, $bd-hover) {
  & {
    color: $clr;
    background-color: $bg;
    box-shadow: inset 0 0 0 2px $bd;
  }

  &:hover,
  &:focus,
  &:active {
    color: $clr-hover;
    background-color: $bg-hover2;
    box-shadow: inset 0 0 0 2px $bd-hover;
  }

  &.button-ujarak {
    &::before {
      background-image: linear-gradient(to right, $bg-hover1, $bg-hover2);
    }
  }
}

@mixin btn-gradient-variant($clr, $bg1, $bg2, $clr-hover, $bg-hover) {
  & {
    color: $clr;
    background-image: linear-gradient(to right, $bg1, $bg2);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2px transparent;
  }

  &:hover,
  &:active,
  &:focus {
    color: $clr-hover;
    background-color: $bg-hover;
  }

  &.button-ujarak {
    &::before { background: $bg-hover; }
  }
}

@mixin btn-hover-variant($clr-hover, $bg-hover, $bd-hover) {
  &:hover,
  &:active {
    color: $clr-hover;
    background-color: $bg-hover;
    border-color: $bd-hover;
  }

  &.button-ujarak {
    &::before {
      background: $bg-hover;
    }
  }
}

// Button sizes
@mixin btn-size-responsive($padding-vertical, $padding-horizontal) {
  padding: $padding-vertical $padding-horizontal;
}

@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

// Reset Button
@mixin reset-button() {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}