extends  ../_skeleton

//- Includes

block variables
	- var activeCategory = 'about'
	- var pageName = 'About'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-3-1920x238'
	})

	// General Info
	section.section.section-lg.bg-default.novi-bg.novi-bg-img
		.container
			.row.row-fix.row-50.justify-content-md-center.justify-content-lg-start
				.col-md-10.col-lg-6
					.image-custom-1: +jpg('about-1-601x350')

				.col-md-10.col-lg-6
					.box-inset-1
						// Bootstrap tabs
						#tabs-about.tabs-custom.tabs-horizontal.tabs-corporate.tabs-corporate_left
							// Nav tabs
							ul.nav.nav-tabs.list-fix
								li.nav-item: a.nav-link.active(href='#tabs-about-1' data-toggle='tab') What we do
								li.nav-item: a.nav-link(href='#tabs-about-2' data-toggle='tab') Our Mission
								li.nav-item: a.nav-link(href='#tabs-about-3' data-toggle='tab') Our Goal

							// Tab panes
							.tab-content
								div#tabs-about-1.tab-pane.fade.show.active
									h4 High-Quality Business Solutions
									p Consult is a business consulting company with more than 10 years of experience in the industry offering reliable and affordable services.
									p We serve clients at every level of their organization, in whatever capacity we can be most useful, whether as a trusted advisor to top management or as a hands-on coach for front line employees. For every engagement, we assemble a team with the most appropriate experience and expertise.

								div#tabs-about-2.tab-pane.fade
									h4 Providing Full Business Support
									p Consult offers advice and support to leading companies in various industries across the USA. We staff and manage your projects with our experts.
									p We are successful because of our people, the quality of our expert network and our flexibility to anticipate market changes and adapt to your needs. That is why we continuously invest in the education and coaching of our consultants and our team of recruiters and account managers.

								div#tabs-about-3.tab-pane.fade
									h4 Building Business Relationships
									p We aim to build a strong mutual business relationship with our clients and contribute to their success by responding to their needs.
									p Our goal is not to become the largest consultancy agency but to be the agency known for the outstanding and lasting results we achieve with our clients. We work to support you on all stages of your business’s development and to help you avoid unpleasant management experiences.
	="\n"

	include ../sections/_section-team-3-column

	include ../sections/_section-about-facts
	include ../sections/_section-our-clients
	include ../sections/_section-partners


	// Page Footer
	include ../sections/_footer-creative
