extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Blog post'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-4-1920x304',
		customContent: true
	})
		h2 Market Research Tips for Small Business Owners

	// Blog post
	section.section.novi-bg.novi-bg-img.section-lg.bg-white
		.container
			article.blog-layout
				.blog-layout__main
					article.post-single.novi-bg
						.post-single__header
							ul.post-single__meta
								li
									span.novi-icon.icon.mdi.mdi-comment-outline
									a(href='#') 3
								li
									span.novi-icon.icon.mdi.mdi-thumb-up-outline
									a(href='#') 12

							ul.post-single__meta
								li
									span.novi-icon.icon.mdi.icon.mdi.mdi-account
									span by
									a(href='#') John Doe

						.post-single__time-wrap
							time.post-single__time(datetime='2018')
								span.post-single__time-day 25
								span.post-single__time-month June

						h4.post-single__title How Small Business Owners Can Succeed in Market Research This Year
						p You already know that market research is important to the development of your business regardless of the size. Yet, it can also be overwhelming to figure out what you need to know, and how to conduct your research. So we’ve put together these tips to help simplify market research and get you started on the journey to soaring sales.
						+jpg('blog-post-1-715x417')
						p Before setting off on your market research quest, think about what you’re trying to achieve next with your business. Figuring out your objective will help you tailor the rest of your research and your future marketing materials. Having an objective for your research will flesh out what kind of data you need to collect. Next important thing to remember is that your business serves a specific kind of customer. Defining your specific customer has many advantages like allowing you to understand what kind of language to use when crafting your marketing materials, and how to approach building relationships.
						article.quote-classic.quote-classic_secondary
							.quote-classic__body
								svg.quote-classic__mark(version='1.1' xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='21px', height='15px', viewbox='0 0 21 15', overflow='scroll', xml:space='preserve', preserveAspectRatio='none')
									+svg-gradient
									path(fill='url(#linear-gradient)' d='M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316\
																											c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37\
																											C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316\
																											c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37\
																											C20.106,7.145,20.987,8.493,20.987,10.412z')
								.quote-classic__text: p Knowing who you don’t cater to can be essential to helping you grow. When you’re small, you’re advantage is that you can connect deeply with specific customers.
						p As you experience the business from the customer perspective, look for what’s being done right and wrong. Also, take a close look at their market segment. Moreover, a good customer survey is one of the most valuable market research tools because it gives you the opportunity to get inside of your customer’s head. However, remember that some feedback may be harsh, so take criticism as a learning tool to point you in the right direction. We hope these tips will help you improve your market research and achieve better results in running your business as well as in catering to the needs of your customers.

						.post-single__footer
							.post-single__footer-inner
								h5 Share this post
								ul.list-inline.list-inline-xs
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-facebook(href='#')
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-twitter(href='#')
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-google-plus(href='#')
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-pinterest-p(href='#')
					="\n"

					.section-md.section-collapse
						p.custom-heading-line.heading-8 Recent posts
						.row.row-50
							.col-md-6
								// Post Minimal
								article.post-minimal
									a.post-minimal__media(href=postLink)
										+jpg('single-post-2-368x293', 'post-minimal__image')
									h4.post-minimal__title: a(href=postLink) Implementing Digital Transformation

									ul.post-minimal__meta
										li
											span.novi-icon.icon.mdi.mdi-comment-outline
											a(href=postLink) 3
										li
											span.novi-icon.icon.mdi.mdi-thumb-up-outline
											a(href='#') 12
										li
											span.novi-icon.icon.mdi.mdi-account
											span by
											a(href='#') John Doe

							.col-md-6
								// Post Minimal
								article.post-minimal
									a.post-minimal__media(href=postLink)
										+jpg('single-post-3-368x293', 'post-minimal__image')
									h4.post-minimal__title: a(href=postLink) Achieving Effective Brand Management

									ul.post-minimal__meta
										li
											span.novi-icon.icon.mdi.mdi-comment-outline
											a(href=postLink) 3
										li
											span.novi-icon.icon.mdi.mdi-thumb-up-outline
											a(href='#') 12
										li
											span.novi-icon.icon.mdi.mdi-account
											span by
											a(href='#') John Doe

				include ../includes/_blog-aside
	="\n"

	// Page Footer
	include ../sections/_footer-creative

