extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Blog'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})

	// Blog
	section.section.novi-bg.novi-bg-img.section-lg.bg-white.text-center
		.container
			article.blog-layout
				.blog-layout__main
					// Post Classic
					article.post-classic.novi-bg
						h3.post-classic__title: a(href=postLink) Market Research Tips for Small Business Owners
						ul.post-classic__meta
							li
								span.icon.novi-icon.mdi.mdi-calendar-blank
								a(href=postLink): time(datetime='2017') May 12, 2018
							li
								span.icon.novi-icon.mdi.mdi-comment-outline
								a(href=postLink) 3 comments
							li
								span.icon.novi-icon.mdi.mdi-account
								span by
								a(href='#') John Doe

						.post-classic__media
							a.post-classic__figure(href=postLink)
								+jpg('blog-post-1-715x417', 'post-classic__image')

					// Post Classic
					article.post-classic.novi-bg
						h3.post-classic__title: a(href=postLink) Implementing Digital Transformation
						ul.post-classic__meta
							li
								span.icon.novi-icon.mdi.mdi-calendar-blank
								a(href=postLink): time(datetime='2018') May 12, 2018
							li
								span.icon.novi-icon.mdi.mdi-comment-outline
								a(href=postLink) 3 comments
							li
								span.icon.novi-icon.mdi.mdi-account
								span by
								a(href='#') John Doe

						.post-classic__media
							a.post-classic__figure(href=postLink)
								+png('blog-post-2-715x417', 'post-classic__image')

					// Post Classic
					article.post-classic.novi-bg
						h3.post-classic__title: a(href=postLink) Achieving Effective Brand Management
						ul.post-classic__meta
							li
								span.icon.novi-icon.mdi.mdi-calendar-blank
								a(href=postLink): time(datetime='2018') May 12, 2018
							li
								span.icon.novi-icon.mdi.mdi-comment-outline
								a(href=postLink) 3 comments
							li
								span.icon.novi-icon.mdi.mdi-account
								span by
								a(href='#') John Doe

						.post-classic__media
							a.post-classic__figure(href=postLink)
								+jpg('blog-post-3-715x417', 'post-classic__image')


				include ../includes/_blog-aside
	="\n"

	// Page Footer
	include ../sections/_footer-creative

