extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Breadcrumbs'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Breadcrumbs title only
	
	// Breadcrumbs
	section.section.breadcrumbs-custom
		.breadcrumbs-custom__aside.bg-image.context-dark.novi-bg.novi-bg-img(style='background-image: url(images/bg-breadcrumb-2-1920x238.jpg)')
			.container
				h2.breadcrumbs-custom__title=pageName
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Breadcrumbs
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-3-1920x238'
	})
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Breadcrumbs with parallax
	
	section.section.parallax-container.breadcrumbs-custom(data-parallax-img='images/bg-image-3-1920x730.jpg')
		.parallax-content
			.breadcrumbs-custom__aside.context-dark
				.container
					h2.breadcrumbs-custom__title=pageName
			.breadcrumbs-custom__main.bg-gray-light.novi-bg
				.container
					ul.breadcrumbs-custom__path
						li: a(href='index.html') Home
						li: a(href='#') Elements
						li.active=pageName
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

