extends  ../_skeleton

//- Includes
include ../elements/_ui-inline-subscribe-form

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Coming Soon'

block page
	
	// Page Header
	include ../sections/_header-classic
	
	// Coming Soon
	section.section.novi-bg.novi-bg-img.section-xl.bg-image.bg-image-dark.text-center(style='background-image: url(images/bg-image-7-1920x710.jpg)')
		.container
			h3 We’re getting ready to launch in
			.countdown-wraper
				svg.countdown-gradient( x='0px', y='0px', width='0', height='0')
					defs: lineargradient#Gradient1
						stop.stop-color-1( offset='0%' )
						stop.stop-color-2( offset='70%' )
				+countdown({from: '2017-08-19', to: '2018-12-31'})
			
			h5 Stay tuned and subscribe to our newsletter
			+inline-subscribe-form({
				classMod: 'box-width-2 box-centered form_inline-centered'
			})
	
	="\n"
	
	include ../sections/_footer-creative