extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Counters'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Counter Classic
	// Facts
	+parallax-section({
		img: 'bg-image-2-1920x1121'
	})
		.section-lg.text-center.text-sm-left
			.container
				.row.row-fix.row-50.flex-md-row-reverse.justify-content-md-between.align-items-center.align-items-lg-start
					.col-md-5.wow.fadeInRightSmall
						.box-width-3.box-centered
							h2 Some Facts About Us
							p.text-style-1 Delivering cost effective and high-quality business solutions
							a.button.button-lg.button-secondary.button-ujarak(href='about.html') Get Started now
					.col-md-7.col-lg-6.wow.fadeInLeftSmall
						.row.row-style-1
							.col-sm-6: .col-inner
								// Box counter
								article.box-counter.box-counter_modern
									.box-counter__main
										.box-counter__icon.fl-bigmug-line-cube29
										span 1.6
										span.small k
									p.box-counter__title Projects
							
							.col-sm-6: .col-inner
								// Box counter
								article.box-counter.box-counter_modern
									.box-counter__main
										.box-counter__icon.fl-bigmug-line-trophy55
										.counter 27
									p.box-counter__title Winning Awards
							
							.col-sm-6: .col-inner
								// Box counter
								article.box-counter.box-counter_modern
									.box-counter__main
										.box-counter__icon.fl-bigmug-line-planetary2
										.counter 20
										span.small k
									p.box-counter__title Professionals
							
							.col-sm-6: .col-inner
								// Box counter
								article.box-counter.box-counter_modern
									.box-counter__main
										.box-counter__icon.fl-bigmug-line-like51
										.counter 99
										span.small.small_top %
									p.box-counter__title Satisfied Customers
	='\n'
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Counter Creative
	include ../sections/_section-about-facts-creatice
	
	.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Counter Modern
	include ../sections/_section-about-facts
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

