extends  ../_skeleton

//- Includes
include ../elements/_ui-card

block variables
	- var activeCategory = 'help'
	- var pageName = 'FAQ'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-8-1920x238'
	})

	// FAQ
	section.section.section-md.bg-gray-light.novi-bg.novi-bg-img
		.container
			// Bootstrap tabs
			#tabs-faq.tabs-custom.tabs-horizontal.tabs-creative
				// Nav tabs
				ul.nav.nav-tabs.list-fix
					li.nav-item: a.nav-link.active(href='#tabs-faq-1' data-toggle='tab') General questions
					li.nav-item: a.nav-link(href='#tabs-faq-2' data-toggle='tab') Consulting
					li.nav-item: a.nav-link(href='#tabs-faq-3' data-toggle='tab') Management
					li.nav-item: a.nav-link(href='#tabs-faq-4' data-toggle='tab') Pricing
					li.nav-item: a.nav-link(href='#tabs-faq-5' data-toggle='tab') Support

				// Tab panes
				.tab-content
					div#tabs-faq-1.tab-pane.fade.show.active
						#accordion1.card-group.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='true')
							.row.row-30
								.col-lg-6.card-wrap
									+card({
										first: true,
										cardClass: 'card-corporate',
										parentId: 'accordion1',
										number: '1',
										header: 'What are the advantages of a template?'
									})
										p The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion1',
										number: '2',
										header: 'Do you provide any scripts?'
									})
										p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion1',
										number: '3',
										header: 'What do I receive when I order a template?'
									})
										p After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.

								.col-lg-6.card-wrap
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion1',
										number: '4',
										header: 'What template formats are available?'
									})
										p Website templates are available in Photoshop and HTML formats. Fonts are included with Photoshop file. In most templates HTML is compatible with Adobe®, Dreamweaver® and Microsoft Frontpage®.
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion1',
										number: '5',
										header: 'What can I do with your products?'
									})
										p You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion1',
										number: '6',
										header: 'What is a unique/non-unique purchase?'
									})
										p Non-exclusive purchase means that other people can buy the template you have chosen some time later. Exclusive or unique purchase guarantees that you are the last person to buy this template. After an exclusive purchase occurs the template is being permanently removed from the sales directory and will never be available to other customers again. Only you and people who bought the template before you will own it.

					div#tabs-faq-2.tab-pane.fade
						#accordion2.card-group.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='true')
							.row.row-30
								.col-lg-6.card-wrap
									+card({
										first: true,
										cardClass: 'card-corporate',
										parentId: 'accordion2',
										number: '1',
										header: 'What template formats are available?'
									})
										p Website templates are available in Photoshop and HTML formats. Fonts are included with Photoshop file. In most templates HTML is compatible with Adobe®, Dreamweaver® and Microsoft Frontpage®.
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion2',
										number: '2',
										header: 'What can I do with your products?'
									})
										p You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion2',
										number: '3',
										header: 'What is a unique/non-unique purchase?'
									})
										p Non-exclusive purchase means that other people can buy the template you have chosen some time later. Exclusive or unique purchase guarantees that you are the last person to buy this template. After an exclusive purchase occurs the template is being permanently removed from the sales directory and will never be available to other customers again. Only you and people who bought the template before you will own it.

								.col-lg-6.card-wrap
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion2',
										number: '4',
										header: 'What are the advantages of a template?'
									})
										p The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion2',
										number: '5',
										header: 'Do you provide any scripts?'
									})
										p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion2',
										number: '6',
										header: 'What do I receive when I order a template?'
									})
										p After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.


					div#tabs-faq-3.tab-pane.fade
						#accordion3.card-group.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='true')
							.row.row-30
								.col-lg-6.card-wrap
									+card({
										first: true,
										cardClass: 'card-corporate',
										parentId: 'accordion3',
										number: '1',
										header: 'What are the advantages of a template?'
									})
										p The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion3',
										number: '2',
										header: 'Do you provide any scripts?'
									})
										p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion3',
										number: '3',
										header: 'What do I receive when I order a template?'
									})
										p After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.

								.col-lg-6.card-wrap
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion3',
										number: '4',
										header: 'What template formats are available?'
									})
										p Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe® Dreamweaver® and Microsoft® FrontPage®.
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion3',
										number: '5',
										header: 'What can I do with your products?'
									})
										p You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion3',
										number: '6',
										header: 'What is a unique/non-unique purchase?'
									})
										p Non-exclusive purchase means that other people can buy the template you have chosen some time later. Exclusive or unique purchase guarantees that you are the last person to buy this template. After an exclusive purchase occurs the template is being permanently removed from the sales directory and will never be available to other customers again. Only you and people who bought the template before you will own it.

					div#tabs-faq-4.tab-pane.fade
						#accordion4.card-group.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='true')
							.row.row-30
								.col-lg-6.card-wrap
									+card({
										first: true,
										cardClass: 'card-corporate',
										parentId: 'accordion4',
										number: '1',
										header: 'What template formats are available?'
									})
										p Website templates are available in Photoshop and HTML formats. Fonts are included with Photoshop file. In most templates HTML is compatible with Adobe®, Dreamweaver® and Microsoft Frontpage®.
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion4',
										number: '2',
										header: 'What can I do with your products?'
									})
										p You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion4',
										number: '3',
										header: 'What is a unique/non-unique purchase?'
									})
										p Non-exclusive purchase means that other people can buy the template you have chosen some time later. Exclusive or unique purchase guarantees that you are the last person to buy this template. After an exclusive purchase occurs the template is being permanently removed from the sales directory and will never be available to other customers again. Only you and people who bought the template before you will own it.

								.col-lg-6.card-wrap
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion4',
										number: '4',
										header: 'What are the advantages of a template?'
									})
										p The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion4',
										number: '5',
										header: 'Do you provide any scripts?'
									})
										p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion4',
										number: '6',
										header: 'What do I receive when I order a template?'
									})
										p After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.

					div#tabs-faq-5.tab-pane.fade
						#accordion5.card-group.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='true')
							.row.row-30
								.col-lg-6.card-wrap
									+card({
										first: true,
										cardClass: 'card-corporate',
										parentId: 'accordion5',
										number: '1',
										header: 'What are the advantages of a template?'
									})
										p The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion5',
										number: '2',
										header: 'Do you provide any scripts?'
									})
										p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion5',
										number: '3',
										header: 'What do I receive when I order a template?'
									})
										p After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.

								.col-lg-6.card-wrap
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion5',
										number: '4',
										header: 'What template formats are available?'
									})
										p Website templates are available in Photoshop and HTML formats. Fonts are included with Photoshop file. In most templates HTML is compatible with Adobe®, Dreamweaver® and Microsoft Frontpage®.
									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion5',
										number: '5',
										header: 'What can I do with your products?'
									})
										p You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).

									+card({
										cardClass: 'card-corporate',
										parentId: 'accordion5',
										number: '6',
										header: 'What is a unique/non-unique purchase?'
									})
										p Non-exclusive purchase means that other people can buy the template you have chosen some time later. Exclusive or unique purchase guarantees that you are the last person to buy this template. After an exclusive purchase occurs the template is being permanently removed from the sales directory and will never be available to other customers again. Only you and people who bought the template before you will own it.
	="\n"

	// Page Footer
	include ../sections/_footer-creative
