extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Footers'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Footer Classic
	include ../sections/_footer-classic
	='\n'
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Footer Creative
	include ../sections/_footer-creative
	='\n'
	
	.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Footer Modern
	include ../sections/_footer-modern
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

