extends  ../_skeleton

//- Includes
include ../elements/_ui-inline-subscribe-form

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Forms'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-image-1-1920x900'
	})

	+page-title({
		title: pageName,
		text: 'With forms you can get almost any kind of information from your visitors, who will definitely appreciate this attractive element.'
	})
		.row.row-fix.justify-content-md-center
			.col-md-10.col-lg-8.col-xl-6
				h4 Login form
				.group-sm.group-sm-justify.group-middle
					a.button.button-facebook.button-icon.button-icon-left(href='#')
						span.icon.novi-icon.fa.fa-facebook
						| Facebook
					a.button.button-twitter.button-icon.button-icon-left(href='#')
						span.icon.novi-icon.fa.fa-twitter
						| Twitter
					a.button.button-google.button-icon.button-icon-left(href='#')
						span.icon.novi-icon.fa.fa-google-plus
						| Google+
				.text-decoration-lines
					span.text-decoration-lines__content or

				// RD Mailform
				form.rd-mailform.rd-mailform_label-centered
					.form-wrap
						label.form-label-outside(for="login-email") E-mail
						input#login-email.form-input(type="email" name="email" data-constraints="@Email @Required")

					.form-wrap
						label.form-label-outside(for="login-password") Password
						input#login-password.form-input(type="password" name="pass" data-constraints="@Required")

					.form-wrap
						label.checkbox-inline
							input(type='checkbox')
							| Remember Me

					.row.row-fix.row-20.form-wrap
						.col-md-6
							button(type="submit").button.button-gradient.button-ujarak.button-block Login
						.col-md-6
							button.button.button-default-outline.button-block.button-ujarak Create an Account
	="\n"

	section.divider

	// Contact us
	section.section.section-md.bg-default.text-center.novi-bg.novi-bg-img
		.container
			.row.row-fix.justify-content-md-center
				.col-md-10.col-lg-7.col-xl-6
					h4 Contact us
					// RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-fix.align-items-md-end.row-20
							.col-md-6
								.form-wrap
									input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
									label.form-label(for="contact-name") Your Name

							.col-md-6
								.form-wrap
									input#contact-phone.form-input(type="text" name="phone" data-constraints='@PhoneNumber')
									label.form-label(for="contact-phone") Phone

							.col-sm-12
								.form-wrap
									label.form-label(for="contact-message") Your Message
									textarea#contact-message.form-input(name="message" data-constraints="@Required")

							.col-md-6
								.form-wrap
									input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="contact-email") E-mail

							.col-md-6
								button(type="submit").button.button-block.button-gradient.button-ujarak Send Message
	="\n"

	section.divider

	// Contact Us
	section.section.section-md.bg-default.text-center.novi-bg.novi-bg-img
		.container
			.row.row-fix.justify-content-md-center
				.col-md-10.col-lg-7.col-xl-6
					h4 Contact Us (with reCAPTCHA)
					// RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-fix.align-items-md-end.row-20
							.col-md-6
								.form-wrap
									input#contact-form-2-name.form-input(type="text" name="name" data-constraints='@Required')
									label.form-label(for="contact-form-2-name") Your Name

							.col-md-6
								.form-wrap
									input#contact-form-2-phone.form-input(type="text" name="phone" data-constraints='@PhoneNumber')
									label.form-label(for="contact-form-2-phone") Phone

							.col-sm-12
								.form-wrap
									label.form-label(for="contact-form-2-message") Your Message
									textarea#contact-form-2-message.form-input(name="message" data-constraints="@Required")

							.col-md-6
								.form-wrap
									input#contact-form-2-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="contact-form-2-email") E-mail

							.col-md-7
								.form-wrap.form-wrap-recaptcha
									// Google captcha
									.recaptcha#captcha1(data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt")

							.col-md-6
								button(type="submit").button.button-block.button-gradient.button-ujarak Send Message
	="\n"

	section.divider

	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					h3 Subscribe form
	// Subscribe to Our Newsletter
	+parallax-section({
		img: 'bg-image-3-1920x730'
	})
		.section-md.text-center
			.container: .row.row-fix.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
				h3 Subscribe to Our Newsletter
				p: span.box-width-1 Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

				+inline-subscribe-form({
					classMod: 'form_inline-centered form_transparent'
				})
	="\n"

	section.divider

	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					h3 Subscribe form center
	// Subscribe to Our Newsletter
	+parallax-section({
		img: 'bg-image-3-1920x730'
	})
		.section-md.text-center
			.container: .row.row-fix.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
				h3 Subscribe to Our Newsletter
				p: span.box-width-1 Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

				// RD Mailform
				form.rd-mailform.form_transparent.text-center(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
					.form-wrap
						input.form-input(id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required")
						label.form-label(for="subscribe-form-2-email") Your E-mail
					.form-button
						button.button.button-default.button-ujarak(type="submit") Subscribe
	="\n"
	="\n"

	section.divider

	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					h3 Subscribe form icon button
	// Subscribe to Our Newsletter
	+parallax-section({
		img: 'bg-image-3-1920x730'
	})
		.section-md.text-center
			.container: .row.row-fix.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
				h3 Subscribe to Our Newsletter
				p: span.box-width-1 Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

				// RD Mailform
				form.rd-mailform.form_transparent.rd-mailform_inline-3(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
					.form-wrap
						input.form-input(id="subscribe-form-3-email" type="email" name="email" data-constraints="@Email @Required")
						label.form-label(for="subscribe-form-3-email") Your E-mail
					button.button.button-default.fa-envelope(type="submit")
	="\n"

	// Page Footer
	include ../sections/_footer-creative
