extends  ../_skeleton

//- Includes
include ../elements/_ui-comment
include ../elements/_ui-thumb-zoe

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Gallery'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Fullwidth grid gallery
	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			// Section Header
			.section__header.section__header_wide
				h3 Our projects
				.isotope-filters.isotope-filters-horizontal.isotope-filters-left
					button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters', data-custom-toggle-disable-on-blur="true") Filter
						span.caret
					ul.list-fix.isotope-filters-list#isotope-filters
						li
							a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
						li
							a(data-isotope-filter='Commercials', data-isotope-group='gallery', href='#') Commercials
						li
							a(data-isotope-filter='Branding', data-isotope-group='gallery', href='#') Branding
						li
							a(data-isotope-filter='Digital advertising', data-isotope-group='gallery', href='#') Digital advertising
						li
							a(data-isotope-filter='Printed Ads', data-isotope-group='gallery', href='#') Printed Ads
		
		.isotope.isotope-1(data-isotope-layout='masonry', data-isotope-group='gallery', data-lightgallery="group")
			.row.no-gutters.row-condensed
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Commercials')
					a.thumb-elegant(href='images/services-1-565x401.jpg', data-lightgallery='item')
						+jpg('services-1-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-2-565x401.jpg', data-lightgallery='item')
						+jpg('services-2-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Commercials')
					a.thumb-elegant(href='images/services-3-565x401.jpg', data-lightgallery='item')
						+jpg('services-3-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Branding')
					a.thumb-elegant(href='images/services-4-565x401.jpg', data-lightgallery='item')
						+jpg('services-4-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-5-565x401.jpg', data-lightgallery='item')
						+jpg('services-5-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-6-565x401.jpg', data-lightgallery='item')
						+jpg('services-6-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Branding')
					a.thumb-elegant(href='images/services-7-565x401.jpg', data-lightgallery='item')
						+jpg('services-7-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Printed Ads')
					a.thumb-elegant(href='images/services-8-565x401.jpg', data-lightgallery='item')
						+jpg('services-8-565x401')
						.thumb-elegant__overlay
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Cobbles gallery
	
	section.section.section-md.bg-gray-light.novi-bg.novi-bg-img
		.container: .range.range-md-center.range-fix: .cell-lg-11
			// Section Header
			.section__header
				h3 Our Projects
		
		.isotope.isotope-1(data-isotope-layout='masonry', data-isotope-group='projects', data-column-class=".isotope-item-etalon", data-lightgallery="group")
			.row.no-gutters.row-condensed
				.col-sm-6.col-lg-4.isotope-item
					+thumb-zoe-gallery({
						img: 'project-1-639x524',
						imgOriginal: 'project-1-639x524',
						title: 'New Office Co.'
					})
				.col-sm-6.col-lg-4.isotope-item.isotope-item-etalon
					+thumb-zoe-gallery({
						img: 'project-2-320x262',
						imgOriginal: 'project-2-320x262',
						title: '2K Stationery'
					})
				.col-sm-6.col-lg-4.isotope-item
					+thumb-zoe-gallery({
						img: 'project-4-320x524',
						imgOriginal: 'project-4-320x524',
						title: 'iStep'
					})
				.col-sm-6.col-lg-4.isotope-item
					+thumb-zoe-gallery({
						img: 'project-3-640x524',
						imgOriginal: 'project-3-640x524',
						title: 'PaperWorks Ltd.'
					})
				.col-sm-6.col-lg-4.isotope-item
					+thumb-zoe-gallery({
						img: 'project-5-320x262',
						imgOriginal: 'project-5-320x262',
						title: 'BTS Corp.'
					})
	='\n'
	
	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Grid gallery
	
	section.section.section-sm.bg-white.novi-bg.novi-bg-img
		.container
			// Section Header
			.section__header
				h3 Our projects
				.isotope-filters.isotope-filters-horizontal.isotope-filters-left
					button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters-1', data-custom-toggle-disable-on-blur="true") Filter
						span.caret
					ul.list-fix.isotope-filters-list#isotope-filters-1
						li
							a.active(data-isotope-filter='*', data-isotope-group='grid', href='#') All
						li
							a(data-isotope-filter='Commercials', data-isotope-group='grid', href='#') Commercials
						li
							a(data-isotope-filter='Branding', data-isotope-group='grid', href='#') Branding
						li
							a(data-isotope-filter='Digital advertising', data-isotope-group='grid', href='#') Digital advertising
						li
							a(data-isotope-filter='Printed Ads', data-isotope-group='grid', href='#') Printed Ads
			
			// Isotope Content
			.row.row-30.isotope(data-isotope-layout='masonry', data-isotope-group='grid', data-lightgallery="group")
				.col-lg-3.col-md-6.isotope-item(data-filter='Commercials')
					a.thumb-elegant(href='images/services-1-565x401.jpg', data-lightgallery='item')
						+jpg('services-1-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-2-565x401.jpg', data-lightgallery='item')
						+jpg('services-2-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Commercials')
					a.thumb-elegant(href='images/services-3-565x401.jpg', data-lightgallery='item')
						+jpg('services-3-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Branding')
					a.thumb-elegant(href='images/services-4-565x401.jpg', data-lightgallery='item')
						+jpg('services-4-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-5-565x401.jpg', data-lightgallery='item')
						+jpg('services-5-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-6-565x401.jpg', data-lightgallery='item')
						+jpg('services-6-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Branding')
					a.thumb-elegant(href='images/services-7-565x401.jpg', data-lightgallery='item')
						+jpg('services-7-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Printed Ads')
					a.thumb-elegant(href='images/services-8-565x401.jpg', data-lightgallery='item')
						+jpg('services-8-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-9-565x401.jpg', data-lightgallery='item')
						+jpg('services-9-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(href='images/services-10-565x401.jpg', data-lightgallery='item')
						+jpg('services-10-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Branding')
					a.thumb-elegant(href='images/services-11-565x401.jpg', data-lightgallery='item')
						+jpg('services-11-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Printed Ads')
					a.thumb-elegant(href='images/services-12-565x401.jpg', data-lightgallery='item')
						+jpg('services-12-565x401')
						.thumb-elegant__overlay
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

