extends  ../_skeleton

//- Includes
include ../elements/_ui-comment
include ../elements/_ui-thumb-zoe

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Gallery Album'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Fullwidth grid album gallery
	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			// Section Header
			.section__header.section__header_wide
				h4 Our projects
				.isotope-filters.isotope-filters-horizontal
					button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters', data-custom-toggle-disable-on-blur="true") Filter
						span.caret
					ul.list-fix.isotope-filters-list#isotope-filters
						li
							a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
						li
							a(data-isotope-filter='Commercials', data-isotope-group='gallery', href='#') Commercials
						li
							a(data-isotope-filter='Branding', data-isotope-group='gallery', href='#') Branding
						li
							a(data-isotope-filter='Digital advertising', data-isotope-group='gallery', href='#') Digital advertising
						li
							a(data-isotope-filter='Printed Ads', data-isotope-group='gallery', href='#') Printed Ads
		
		.isotope.isotope-1(data-isotope-layout='masonry', data-isotope-group='gallery', data-lightgallery="group")
			.row.no-gutters.row-condensed
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Commercials')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-1-565x401')
						.thumb-elegant__overlay
				
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-2-565x401')
						.thumb-elegant__overlay
				
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Commercials')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-3-565x401')
						.thumb-elegant__overlay
				
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Branding')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-4-565x401')
						.thumb-elegant__overlay
				
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-5-565x401')
						.thumb-elegant__overlay
				
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-9-565x401.jpg\",\"src\":\"images/services-9-565x401.jpg\"}]")
						+jpg('services-6-565x401')
						.thumb-elegant__overlay
				
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Branding')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-7-565x401')
						.thumb-elegant__overlay
				
				.col-lg-3.col-md-4.col-sm-6.isotope-item(data-filter='Printed Ads')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-8-565x401')
						.thumb-elegant__overlay
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Cobbles album gallery
	
	section.section.section-md.bg-gray-light.novi-bg.novi-bg-img
		.container: .range.range-md-center.range-fix: .cell-lg-11
			// Section Header
			.section__header
				h3 Our Projects
		
		.isotope.isotope-1(data-isotope-layout='masonry', data-isotope-group='projects', data-column-class=".isotope-item-etalon", data-lightgallery="group")
			.row.no-gutters.row-condensed
				.col-sm-6.col-lg-4.isotope-item(data-filter='Commercials')
					.thumb-zoe(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg("project-1-639x524", 'thumb-zoe__image')
						.thumb-zoe__caption.novi-bg
							p.thumb-zoe__title New Office Co.
				.col-sm-6.col-lg-2.isotope-item.isotope-item-etalon(data-filter='Commercials')
					.thumb-zoe(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg("project-2-320x262", 'thumb-zoe__image')
						.thumb-zoe__caption.novi-bg
							p.thumb-zoe__title 2K Stationery
				.col-sm-6.col-lg-2.isotope-item(data-filter='Branding')
					.thumb-zoe(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg("project-4-320x524", 'thumb-zoe__image')
						.thumb-zoe__caption.novi-bg
							p.thumb-zoe__title iStep
				.col-sm-6.col-lg-4.isotope-item(data-filter='Digital advertising')
					.thumb-zoe(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg("project-3-640x524", 'thumb-zoe__image')
						.thumb-zoe__caption.novi-bg
							p.thumb-zoe__title PaperWorks Ltd.
				.col-sm-6.col-lg-2.isotope-item(data-filter='Branding')
					.thumb-zoe(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-10-565x401.jpg\",\"src\":\"images/services-10-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg("project-5-320x262", 'thumb-zoe__image')
						.thumb-zoe__caption.novi-bg
							p.thumb-zoe__title BTS Corp.
	='\n'
	
	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Grid album gallery
	
	section.section.section-sm.bg-white.novi-bg.novi-bg-img
		.container
			// Section Header
			.section__header
				h3 Our projects
				.isotope-filters.isotope-filters-horizontal.isotope-filters-left
					button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters-1', data-custom-toggle-disable-on-blur="true") Filter
						span.caret
					ul.list-fix.isotope-filters-list#isotope-filters-1
						li
							a.active(data-isotope-filter='*', data-isotope-group='grid', href='#') All
						li
							a(data-isotope-filter='Commercials', data-isotope-group='grid', href='#') Commercials
						li
							a(data-isotope-filter='Branding', data-isotope-group='grid', href='#') Branding
						li
							a(data-isotope-filter='Digital advertising', data-isotope-group='grid', href='#') Digital advertising
						li
							a(data-isotope-filter='Printed Ads', data-isotope-group='grid', href='#') Printed Ads
			
			// Isotope Content
			.row.row-30.isotope(data-isotope-layout='masonry', data-isotope-group='grid', data-lightgallery="group")
				.col-lg-3.col-md-6.isotope-item(data-filter='Commercials')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}]")
						+jpg('services-1-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}]")
						+jpg('services-2-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Commercials')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-9-565x401.jpg\",\"src\":\"images/services-9-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-10-565x401.jpg\",\"src\":\"images/services-10-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-11-565x401.jpg\",\"src\":\"images/services-11-565x401.jpg\"}]")
						+jpg('services-3-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Branding')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-12-565x401.jpg\",\"src\":\"images/services-12-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}]")
						+jpg('services-4-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}]")
						+jpg('services-5-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-9-565x401.jpg\",\"src\":\"images/services-9-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-10-565x401.jpg\",\"src\":\"images/services-10-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-11-565x401.jpg\",\"src\":\"images/services-11-565x401.jpg\"}]")
						+jpg('services-6-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Branding')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-12-565x401.jpg\",\"src\":\"images/services-12-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}]")
						+jpg('services-7-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Printed Ads')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}]")
						+jpg('services-8-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-9-565x401.jpg\",\"src\":\"images/services-9-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-10-565x401.jpg\",\"src\":\"images/services-10-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-11-565x401.jpg\",\"src\":\"images/services-11-565x401.jpg\"}]")
						+jpg('services-9-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Digital advertising')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-10-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Branding')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-11-565x401')
						.thumb-elegant__overlay
				.col-lg-3.col-md-6.isotope-item(data-filter='Printed Ads')
					.thumb-elegant(data-lightgallery="dynamic", data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-12-565x401')
						.thumb-elegant__overlay
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

