extends  ../_skeleton

//- Includes

block variables
	- var pageName = 'Header Modern'
	- var builderButton = false

block page
	// Page Header
	include ../sections/_header-modern
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-image-4-1920x960'
	})