extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Headers'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Header Classic
	iframe.frame-header(src="header-classic.html")
	='\n'
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Header Creative
	iframe.frame-header(src="header-creative.html")
	='\n'
	
	.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Header Modern
	iframe.frame-header(src="header-modern.html")
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

