extends  ../_skeleton

//- Includes

block variables
	- var pageName = 'Header Classic'
	- var builderButton = false

block page
	// Page Header
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-image-13-1920x920'
	})