extends  ../_skeleton

//- Includes
include ../elements/_ui-box-lucy

block variables
	- var activeCategory = 'home'
	- var pageName = 'Home'
	- var includeNavHome = true

block page
	// Page Header & Swiper
	header.section.page-header.section-navbar-slider
		include ../includes/_navbar-creative
		.swiper-container.swiper-slider.swiper_style-4.swiper_height-2.swiper-pagination_creative(data-loop='true' data-autoplay='5000' data-simulate-touch='false' data-slide-effect='fade')
			.swiper-wrapper
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-1-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Providing High-Quality Business Solutions
							p.caption(data-caption-animate='fadeInUpSmall') We are one of the world’s leading business consulting companies, which combines classic management consulting with outstanding technological expertise and innovations in marketing and promotion.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') A Team of Experts Working for You
							p.caption(data-caption-animate='fadeInUpSmall') Consult is a synonym of professionalism because of the experts we have gathered at our company. Over the years we have helped hundreds of businesses who were more than just satisfied with our work.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-3-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Professional Business Approach Since Day One
							p.caption(data-caption-animate='fadeInUpSmall') Since our establishment in 1999, we have been pursuing the goal of satisfying our customers’ needs, be it small business consulting or assistance to bigger companies as well as international enterprises.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
			
			.swiper-pagination__module
				.swiper-pagination
				.swiper-pagination__divider
				.swiper-pagination__fraction
					span.swiper-pagination__fraction-index 00
					span.swiper-pagination__fraction-divider
					span.swiper-pagination__fraction-count 00
	="\n"
	
	include ../sections/_section-content-creative
	="\n"
	
	// Page Footer
	include ../sections/_footer-creative
