extends  ../_skeleton

//- Includes


block variables
	- var activeCategory = 'pages'
	- var pageName = 'Maintenance'

block page

	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-10-1920x238'
	})

	// Maintenance
	section.section.section-md.bg-default.text-center.novi-bg.novi-bg-img
		.container
			h4.text-default We are currently working on
			h2 This page will appear in
			svg.countdown-gradient( x='0px', y='0px', width='0', height='0')
				defs: lineargradient#Gradient1
					stop.stop-color-1( offset='0%' )
					stop.stop-color-2( offset='70%' )
			.countdown-wraper
				+countdown({from: '2017-08-19', to: '2018-12-31'})

	="\n"

	// Page Footer
	include ../sections/_footer-creative