extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Maps'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Map with information
	section.section.novi-bg.novi-bg-img.section-md.bg-gray-light
		.container.container_bigger
			.row.justify-content-md-center.justify-content-xl-between.row-2-columns-bordered.row-50
				.col-md-10.col-lg-5
					h3 Get in Touch
					ul.list-creative
						li
							dl.list-terms-medium.list-terms-medium_secondary
								dt Address
								dd: a(href='#') 212 Prospect Ave, Brooklyn, New York United States
						li
							dl.list-terms-medium
								dt Phones
								dd
									ul.list-comma
										li: a(href='tel:#') +1-800-700-6200
										li: a(href='tel:#') +1-800-955-4567
						li
							dl.list-terms-medium.list-terms-medium_tertiary
								dt E-mails
								dd
									ul.list-comma
										li: a(href='mailto:#') mail@demolink.org
										li: a(href='mailto:#') info@demolink.org
				
				.col-md-10.col-lg-7.col-xl-6
					.google-map-container.google-map-container-1(data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom="14", data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png')
						.google-map
						ul.google-map-markers
							li(data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow')
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Map boxed
	section.section.novi-bg.novi-bg-img.section-sm.bg-gray-light
		.container
			.row
				.col-12
					.google-map-container(data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom="14", data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png')
						.google-map
						ul.google-map-markers
							li(data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow')
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Map fullwidth
	section.section
		.google-map-container(data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom="14", data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png')
			.google-map
			ul.google-map-markers
				li(data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow')
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

