extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Partners'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Partners Classic
	include ../sections/_section-partners
	='\n'
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Partners Creative
	// Partners
	section.section.novi-bg.novi-bg-img.section-md.bg-white.text-center
		.container: .divider
		.container
			.row.row-50.row-custom-bordered.align-items-sm-center
				.col-sm-6.col-md-3.wow.fadeIn
					a.link-image(href='#'): +png('brand-1-126x68')
				.col-sm-6.col-md-3.wow.fadeIn
					a.link-image(href='#'): +png('brand-2-126x100')
				.col-sm-6.col-md-3.wow.fadeIn
					a.link-image(href='#'): +png('brand-3-134x83')
				.col-sm-6.col-md-3.wow.fadeIn
					a.link-image(href='#'): +png('brand-4-138x55')
	='\n'
	
	.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Partners Modern
	include ../sections/_section-testimonials-modern
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

