extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Pricing'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Pricing Classic
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					include ../includes/_pricing-table-classic
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Pricing Creative
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					include ../includes/_pricing-table-creative
	='\n'
	
	.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Pricing Modern
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					include ../includes/_range-pricing-modern
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

