extends  ../_skeleton

//- Includes
include ../elements/_ui-box-alice

block variables
	- var activeCategory = 'services'
	- var pageName = 'Services'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-image-15-1920x860'
	})

	// Main features
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row.row-30
				.col-md-6.col-lg-4
					+box-alice({
						icon: 'fl-bigmug-line-chat51',
						title: 'Operations Consulting'
					})
						p We can help you reimagine your operations to unlock growth and unleash your strategy.

				.col-md-6.col-lg-4
					+box-alice({
						icon: 'fl-bigmug-line-three142',
						title: 'Market Analysis'
					})
						p This service helps you discover the attractiveness of your products for customers.

				.col-md-6.col-lg-4
					+box-alice({
						icon: 'fl-bigmug-line-graphical8',
						title: 'Risk Management'
					})
						p This service involves analysing risk to make sure organisations achieve their objectives.

				.col-md-6.col-lg-4
					+box-alice({
						icon: 'fl-bigmug-line-circular228',
						title: 'Marketing Consulting'
					})
						p Marketing consulting helps you reach your customers by understanding their needs.

				.col-md-6.col-lg-4
					+box-alice({
						icon: 'fl-bigmug-line-favourites5',
						title: 'Direct Marketing'
					})
						p Direct marketing is designed to help you reach your customers and improve your sales.

				.col-md-6.col-lg-4
					+box-alice({
						icon: 'fl-bigmug-line-list63',
						title: 'Strategic Planning'
					})
						p Strategic Planning can help you clarify your vision and mission, and reach your goals.
	="\n"

	include ../sections/_section-about-facts
	="\n"

	include ../sections/_section-questions

	// Page Footer
	include ../sections/_footer-creative

