extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Sliders'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Slider Classic
	section.section.swiper-container.swiper-slider.swiper_style-1.swiper_height-1.swiper-controls-classic(
		data-loop='true'
		data-autoplay='3500'
		data-simulate-touch='false'
	)
		.swiper-wrapper
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-1-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') Providing High-Quality Business Solutions
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
			
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') A Team of Experts Working
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
		
		.swiper-pagination
		
		.swiper-button-prev
		.swiper-button-next
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Slider Creative
	section.section
		.swiper-container.swiper-slider.swiper_style-4.swiper_height-2.swiper-pagination_creative(data-loop='true' data-autoplay='3500' data-simulate-touch='false' data-slide-effect='fade')
			.swiper-wrapper
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-1-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Providing High-Quality Business Solutions
							p.caption(data-caption-animate='fadeInUpSmall') We are one of the world’s leading business consulting companies, which combines classic management consulting with outstanding technological expertise and innovations in marketing and promotion.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') A Team of Experts Working
							p.caption(data-caption-animate='fadeInUpSmall') Consult is a synonym of professionalism because of the experts we have gathered at our company. Over the years we have helped hundreds of businesses who were more than just satisfied with our work.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-3-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Professional Business Approach Since Day One
							p.caption(data-caption-animate='fadeInUpSmall') Since our establishment in 1999, we have been pursuing the goal of satisfying our customers’ needs, be it small business consulting or assistance to bigger companies as well as international enterprises.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
			
			.swiper-pagination__module
				.swiper-pagination
				.swiper-pagination__divider
				.swiper-pagination__fraction
					span.swiper-pagination__fraction-index 00
					span.swiper-pagination__fraction-divider
					span.swiper-pagination__fraction-count 00
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Slider Modern
	section.section.swiper-container.swiper-slider.swiper_style-2.swiper-controls-modern(
		data-loop='true'
		data-autoplay='3500'
		data-simulate-touch='false'
	)
		.swiper-wrapper
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') A Team of Experts Working
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
			
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-3-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') Professional Business Approach Since Day One
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
		
		.swiper-pagination
		
		.swiper-button-prev
		.swiper-button-next
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

