extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Team'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Team 3 Column
	include ../sections/_section-team-3-column
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Team 4 Column
	include ../sections/_section-team-4-column
	='\n'
	
	.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Team Parallax
	include ../sections/_section-team-3-column-parallax
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

