extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Testimonials'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Testimonial Classic
	include ../sections/_section-our-clients
	='\n'
	
	section.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Testimonial Creative
	include ../sections/_section-testimonials-creative
	='\n'
	
	.section.section-sm.bg-gray-lighter.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Testimonial Modern
	include ../sections/_section-testimonials-modern
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative

