//- Includes
include ../elements/_ui-box-alice
  
.col-md-6.col-lg-4
  +box-alice({
    icon: 'fl-bigmug-line-gear30',
    title: 'Innovative & Creative Approach'
  })
    p We use the latest hardware solutions that are updated and maintained regularly.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'fl-bigmug-line-headphones32',
    title: 'Dedicated 24/7 Support'
  })
    p If you have a question about our domain and hosting services, use our 24/7 support.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'fl-bigmug-line-circular229',
    title: 'More Than 10 Years of Reliability'
  })
    p If you are unsatisfied with our services, we will return you all your money during first 30 days.
.col-md-6.col-lg-4
  +box-alice({
    icon: 'box-alice__icon-sm fl-bigmug-line-email64 ',
    title: 'Client Focus & Trust in Business Affairs'
  })
    p We offer our clients a vast range of available email addresses.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'box-alice__icon-md fl-bigmug-line-lock64',
    title: 'Award-Winning Reputation'
  })
    p Hostpro provides protection for your website from DDoS attacks and other web threats.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'fl-bigmug-line-cloud255',
    title: 'Delivering Success'
  })
    p We use CloudFlare integration to provide even more protection for your website.