// RD Navbar Nav
ul.rd-navbar-nav
  if (includeNavHome)
    li(class={active: activeCategory === 'home' })
      a(href='index.html') Home
  each item in menu
    li(class={active: activeCategory === item.category})
      a(href=item.link ? item.link : nameToLink(item.title))=item.title
      //- Megamenu handler
      if(typeof(item.megamenu) !== 'undefined')
        // RD Navbar Megamenu
        ul.rd-navbar-megamenu
          each column in item.megamenu
            li
              if(typeof(column.title) != 'undefined')
                h5.rd-megamenu-header=column.title
              if (typeof(column.list) !== 'undefined')
                ul.rd-megamenu-list
                  each listItem in column.list
                    li: a(href=listItem.link ? listItem.link : nameToLink(listItem.title))=listItem.title

      //- Dropdown menu handler
      if(typeof(item.dropdown) !== 'undefined')
        // RD Navbar Dropdown
        ul.rd-navbar-dropdown
          each subItem1 in item.dropdown
            li: a(href=subItem1.link ? subItem1.link : nameToLink(subItem1.title))=subItem1.title

              //- Submenu 2 lvl handler
              if(typeof(subItem1.dropdown) !== 'undefined')
                // RD Navbar Dropdown
                ul.rd-navbar-dropdown
                  each subItem2 in subItem1.dropdown
                    li: a(href=subItem2.link ? subItem2.link : nameToLink(subItem2.title))=subItem2.title