.pricing-table.pricing-table-creative
  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item.novi-bg: .pricing-table__item-inner
    p.pricing-table__item-title Basic

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 3.99
      p.pricing-table__item-price-details per month

    .pricing-table__item-control: .button-wrap
      a.button.button-default-outline.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li
        | Data & Analytics
      li
        | Direct Marketing
      li
        | Strategy
      li
        | Risk Management

  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item.novi-bg.pricing-table-creative__item_prefered: .pricing-table__item-inner
    p.pricing-table__item-title Power

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 6.99
      p.pricing-table__item-price-details per month

    .pricing-table__item-control: .button-wrap
      a.button.button-primary.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li
        | Business & IT Strategy
      li
        | Financial Advisory
      li
        | Operations Management
      li
        | Strategic Planning

  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item.novi-bg: .pricing-table__item-inner
    p.pricing-table__item-title Ultimate

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 9.99
      p.pricing-table__item-price-details per month

    .pricing-table__item-control: .button-wrap
      a.button.button-default-outline.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li
        | Marketing Consulting
      li
        | Mergers & Acquisitions
      li
        | Quality Engineering
      li
        | PR Management