.row.row-30.justify-content-md-center
	.col-md-6.col-lg-4
		// Pricing table item
		article.pricing-table__item.pricing-table-modern__item.novi-bg
			.pricing-table__item-header
				.pricing-table__item-header-bg: .pricing-table__item-header-bg-inner: .novi-bg
				p.pricing-table__item-title Basic
			
			.pricing-table__item-main
				.pricing-table__item-price
					span.pricing-table__item-price-currency $
					span.pricing-table__item-price-value 3
					.pricing-table__item-price-aside
						span.top 99
						span.bottom mon
				.pricing-table__item-divider
				ul.pricing-table__item-features
					li
						| Data & Analytics
					li
						| Direct Marketing
					li
						| Strategy
					li
						| Risk Management
				
				.pricing-table__item-control
					a.button.button-default.button-ujarak(href='#') Order now
	
	.col-md-6.col-lg-4
		// Pricing table item
		article.pricing-table__item.pricing-table-modern__item.novi-bg.pricing-table-modern__item_prefered
			.pricing-table__item-header
				.pricing-table__item-header-bg: .pricing-table__item-header-bg-inner: .novi-bg
				p.pricing-table__item-title Power
			
			.pricing-table__item-main
				.pricing-table__item-price
					span.pricing-table__item-price-currency $
					span.pricing-table__item-price-value 6
					.pricing-table__item-price-aside
						span.top 99
						span.bottom mon
				.pricing-table__item-divider
				ul.pricing-table__item-features
					li
						| Business & IT Strategy
					li
						| Financial Advisory
					li
						| Operations Management
					li
						| Strategic Planning
				
				.pricing-table__item-control
					a.button.button-gradient.button-ujarak(href='#') Order now
	
	.col-md-6.col-lg-4
		// Pricing table item
		article.pricing-table__item.pricing-table-modern__item.novi-bg
			.pricing-table__item-header
				.pricing-table__item-header-bg: .pricing-table__item-header-bg-inner: .novi-bg
				p.pricing-table__item-title Ultimate
			
			.pricing-table__item-main
				.pricing-table__item-price
					span.pricing-table__item-price-currency $
					span.pricing-table__item-price-value 9
					.pricing-table__item-price-aside
						span.top 99
						span.bottom mon
				.pricing-table__item-divider
				ul.pricing-table__item-features
					li
						| Marketing Consulting
					li
						| Mergers & Acquisitions
					li
						| Quality Engineering
					li
						| PR Management
				
				.pricing-table__item-control
					a.button.button-default.button-ujarak(href='#') Order now