//- progress - object{progress}
mixin progress-bar-linear(progress)
	// Linear progress bar
	.progress-linear(class= progress.progressStyle)
		.progress-header
			p=progress.title
		.progress-main
			.progress-bar-linear-wrap
				.progress-bar-linear
			span.progress-value(class= progress.style)= progress.valueTo