mixin card(obj)
	- var headingId = id=obj.parentId + 'Heading' + obj.number
	- var bodyId = id=obj.parentId + 'Collapse' + obj.number
	
	// Bootstrap card
	.card.card-custom(class=obj.cardClass)
		.card-heading(id=headingId, role='tab')
			.card-title
				if(obj.first)
					a.novi-bg(role='button', data-toggle='collapse', data-parent='#' + obj.parentId, href='#' + bodyId, aria-controls=bodyId, aria-expanded='true')
						=obj.header
						if(obj.arrow !== false)
							.card-arrow
				else
					a.collapsed.novi-bg(role='button', data-toggle='collapse', data-parent='#' + obj.parentId, href='#' + bodyId, aria-controls=bodyId)
						=obj.header
						if(obj.arrow !== false)
							.card-arrow
		
		.card-collapse.collapse(id=bodyId, class={'show': obj.first}, role='tabpanel', aria-labelledby=headingId)
			.card-body.novi-bg
				block

