mixin box-alice(obj)
	// Box Alice
	article.box-alice: .box-alice__inner
		.box-alice__aside
			.box-alice__icon-outer
				span.box-alice__icon.novi-icon(class=obj.icon)
		.box-alice__main
			h5.box-alice__title=obj.title
			block