mixin thumb-zoe(obj)
  // Thumb Zoe
  a.thumb-zoe(href=obj.link ? obj.link : '#')
    +jpg(obj.img, 'thumb-zoe__image')
    .thumb-zoe__caption.novi-bg
      p.thumb-zoe__title=obj.title

mixin thumb-zoe-gallery(obj)
  // Thumb Zoe
  a.thumb-zoe(href='images/' + obj.imgOriginal + '.jpg', data-lightgallery="item")
    +jpg(obj.img, 'thumb-zoe__image')
    .thumb-zoe__caption.novi-bg
      p.thumb-zoe__title=obj.title