//
// Grid modules
// 
.row-condensed {
  margin-left: 0;
  margin-right: 0;

  > [class*='col'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.row-gutter-custom {
  @include media-breakpoint-down(lg) {
    margin-left: -8px;
    margin-right: -8px;

    > [class*='col'] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

// Grid demonstration
//
.grid-demonstration {
  padding: 12px 8px;
  letter-spacing: 0;
  text-align: left;

  h5,
  .heading-5 {
    font-weight: 700;
  }

  @include media-breakpoint-down(md) {
    h5,
    .heading-5 {
      font-size: 14px;
    }
  }

  @include media-breakpoint-down(lg) {
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.container-fullwidth.grid-demonstration {

  @include media-breakpoint-down(sm) {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  [class*='col'] {
    padding: 5px;
    @include media-breakpoint-down(sm) {
      p {
        font-size: 14px;
      }

      * + p {
        margin-top: 10px;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 15px 10px;
    }

    @include media-breakpoint-up(lg) {
      padding: 25px 15px;
    }

    @include media-breakpoint-up(xl) {
      padding: 30px 15px 30px 30px;
    }

    @include media-breakpoint-up(xxl) {
      padding: 50px 100px;

      * + p {
        margin-top: 24px;
      }
    }
  }

  .row {
    @include media-breakpoint-up(xxl) {
      margin-left: -70px;
      margin-right: -70px;
    }
  }
}

.grid-system-bordered {
  [class*='col'] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .row {
    border-bottom: 1px solid $gray-light;
  }

  @include media-breakpoint-up(md) {
    [class*='col'] {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  @include media-breakpoint-up(xl) {
    [class*='col'] {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}

.grid-system-outline {
  .row {
    border: 1px solid $gray-light;
    border-width: 1px 1px 0 1px;

    &:last-child {
      border-bottom-width: 1px;
    }
  }

  [class*='col']:not(:last-child) {
    border-right: 1px solid $gray-light;
    margin-right: -1px;
  }

  [class*='col']:not(:first-child) {
    border-left: 1px solid $gray-light;
  }

  * + .row {
    margin-top: 45px;
  }

  .row + .row {
    margin-top: 0;
  }
}

.row-2-columns-bordered {
  @include media-breakpoint-between(lg, lg) {
    > [class*='col']:nth-child(1) {
      padding-right: 50px;
    }
  }

  @include media-breakpoint-up(lg) {
    > [class*='col']:nth-child(1) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 16px;
        border-right: 1px solid $gray-2;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    > [class*='col']:nth-child(1) {
      &::after {
        right: -(100% / 12 + 2%);
      }
    }
  }
}

/**
* Range Style 1
*/
@mixin range-style-1($border-color) {
  > [class*='col'] {
    border-color: $border-color;
  }

  @include media-breakpoint-up(sm) {
    .col-sm-6 {
      &::before {
        border-color: $border-color;
      }
    }

    .col-inner {
      &::before,
      &::after {
        border-bottom-color: $border-color;
      }
    }
  }
}

.row-style-1 {
  margin: 0;
  $border-width: 1px;

  > [class*='col'] {
    padding: 0;
    border: 0px solid;
  }

  @include media-breakpoint-down(xs) {
    .col-sm-6 {
      padding-top: 20px;
      padding-bottom: 20px;

      &:first-child { padding-top: 0; }
      &:last-child { padding-bottom: 0; }
    }

    .col-sm-6 + .col-sm-6 {
      border-top-width: $border-width;
    }
  }

  @include media-breakpoint-up(sm) {
    $offset: 100px;
    position: relative;
    overflow: hidden;

    .col-sm-6 {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0 solid;
      }

      &:nth-child(1),
      &:nth-child(2) {
        .col-inner {
          padding-top: 0;
          &::before,
          &::after {
            display: none;
          }
        }
      }

      &:nth-child(odd) {
        &::before {
          border-right-width: $border-width;
        }

        .col-inner {
          &::before {
            left: 30px;
            right: 60px;
          }

          &::after {
            left: 60px;
            right: 30px;
          }
        }
      }

      &:nth-child(even) {
        .col-inner {
          text-align: right;
          &::before {
            left: 60px;
            right: 30px;
          }

          &::after {
            left: 30px;
            right: 60px;
          }
        }
      }
    }

    .col-inner {
      position: relative;
      padding-top: $offset;

      &::before,
      &::after {
        content: '';
        position: absolute;
        border-bottom: $border-width solid;
      }

      &::before {
        top: $offset / 2 - 10px;
      }

      &::after {
        top: $offset / 2 + 10px;
      }

      > * {
        display: inline-block;
      }
    }
  }
}

.row-style-1 {
  @include range-style-1($gray-darker);
}

%context-dark {
  .row-style-1 {
    @include range-style-1(rgba($white, .24));
  }
}

/**
* Range Style 2
*/
.row-style-2 {
  @include media-breakpoint-down(sm) {
    > [class*='col'] {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    > [class*='col'] + [class*='col'] {
      border-top: 1px solid $gray-2;
    }
  }
  
  @include media-breakpoint-up(md) {
    padding: 20px 0;
    > [class*='col'] {
      border-right: 1px solid $gray-2;
      
      &:nth-child(3n) {
        border-right: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 50px 0;
    > [class*='col'] {
      > * {
        margin-top: -10px;
      } 
    }
  }
}
/**
* Range Style 3
*/
.row-style-3-wrap {
  max-width: 575px;
  margin-left: auto;
  margin-right: auto;
}

.row-style-3 {
  @include media-breakpoint-down(xs) {
    > [class*='col'] {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    > [class*='col'] + [class*='col'] {
      border-top: 1px solid $gray-2;
    }
  }
  
  @include media-breakpoint-up(sm) {
   $offset: 74px;
    padding: 35px;
    
    .col-sm-6 {
      position: relative;
      display: flex;
      align-items: stretch;
      margin-top: $offset;
      
      > * {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
      }
            
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }
      
      &:nth-child(odd) {
        &::before {
          content: '';
          position: absolute;
          right: 0;
          border-right: 1px solid $gray-2;
          pointer-events: none;
          bottom: 0;
          top: -$offset;
        }
      }
      
      &:nth-child(even) {
        > * {
          align-items: flex-end;
        }
      }

      &:nth-child(1) {
        &::before { top: 0; }
      }
      
      &:nth-child(n + 3) {
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: -$offset / 2;
          border-bottom: 1px solid $gray-2;
          pointer-events: none;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 30px 70px;
  }
}


/*
* Range bordered
*/
.row-custom-bordered {
  [class*='col'] {
    border: 0 solid $gray-lighter;
  }
  
  @include media-breakpoint-down(xs) {
    [class*='col']:nth-child(n + 2) {
      border-width: 1px 0 0 0;
    }
  
    [class*='col'] {
      &:first-child { padding-top: 0; }
      &:last-child { padding-bottom: 0; }
    }
  }
  
  @include media-breakpoint-down(sm) {
    [class*='col'] {
      margin-bottom: 0;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  
  @include media-breakpoint-between(sm, sm) {
    .col-sm-6 {
      &:nth-child(odd) {
        border-width: 0 1px 0 0;
      }
      
      &:nth-child(n + 3) {
        border-top-width: 1px;
      }
    }
  }
  
  @include media-breakpoint-up(md) {
    .col-md-3 {
      border-right-width: 1px;
      
      &:nth-child(4n) {
        border-right-width: 0;
      }
    }
  }

  @include media-breakpoint-between(md, lg) {
    margin-bottom: -30px;

    .col-sm-6 {
      margin-bottom: 30px;
    }
  }
  
  @include media-breakpoint-up(lg) {
    .col-lg-3 {
      border-right-width: 1px;
    
      &:nth-child(4n) {
        border-right-width: 0;
      }
    }
  }
}

%context-dark {
  .row-custom-bordered {
    [class*='col'] {
      border-color: rgba($white, .4);
    }
  }
}
