/*------------------------------------------------------------------
* Theme Name:    Consult
* Author:        zemez
* Author URI:    https://themeforest.net/user/zemez/portfolio
* Version:       1.0
* Last change:   11/16/18
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
* [Table of contents]
*
*   1. Components
*     1.1 Main Styles
*     1.2 Icons
*     1.3 Buttons
*     1.4 Boxes
*     1.5 Comments
*     1.6 Form
*     1.7 Table
*     1.8 Lists
*     1.9 Links
*     1.10 Posts
*     1.11 Quotes
*     1.12 Thumbnails
*     1.13 Tooltip
*     1.14 Snackbars
*     1.15 Navigation
*     1.16 Breadcrumbs
*     1.17 Pagination
*     1.18 Pricing
*     1.19 Promos
*     1.20 Layouts
*     1.21 Cards
*     1.22 Responsive
*
*   2. Helpers
*     2.1 Text Alignment
*     2.2 Text styling
*     2.3 Grid modules
*     2.4 Utilities
*     2.5 Element groups
*     2.6 Contexts
*     2.7 Sections
*     2.7 Offsets
*
*   3 Plugins
*     3.1 Animate
*     3.2 Isotope
*     3.3 RD Navbar
*     3.4 Google Map
*     3.5 Search Results
*     3.6 ToTop
*     3.7 Tabs
*     3.8 Card
*     3.9 Progress Bars
*     3.10 Counter
*     3.11 Countdown
*     3.12 Circle Progress Bars
*     3.13 Time Circles
*     3.14 Swiper
*     3.15 Modal Styles
*     3.16 Select 2
*     3.17 Slick carousel
*     3.18 jquery mousewheel plugin
*     3.19 Owl Carousel
*     3.20 Lightgallery
*     3.21 Material Parallax
-----------------------------------------------------------------------*/

/*------------------------------------------------------------------
* [Color codes]
*
*   $primary:        #3a7bd5;
*   $secondary:      #04ccfc;
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
* [Typography]
*
*   h1: 60px
*   h2: 48px;
*   h3: 36px;
*   h4: 24px;
*   h5: 18px;
*   h6: 16px;
*
*   p : 14px;
*
*   $primary-font: "Lato"
*   $content-font: "Poppins"
-------------------------------------------------------------------*/

@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

@import "variables-custom";
@import "mixins";
@import "reset"; 


//
// Components
//
@import "main-styles";
@import "components/icons";
@import "components/buttons";
@import "components/boxes";
@import "components/comments";
@import "components/forms";
@import "components/tables";
@import "components/lists";
@import "components/links";
@import "components/posts"; 
@import "components/quotes";
@import "components/thumbnails";
@import "components/tooltip";
@import "components/snackbars";
@import "components/navigation";
@import "components/breadcrumbs";
@import "components/pagination-custom";
@import "components/pricing";
@import "components/promos";
@import "components/layouts";
@import "components/cards";
@import "components/unit-responsive";

//
// Helpers
//

@import "helpers/text-alignment";
@import "helpers/text-styling";
@import "helpers/grid-modules";
@import "helpers/utilities-custom";
@import "helpers/groups";
@import "helpers/context-styling";
@import "helpers/sections";
@import "helpers/offsets";



//
// Plugins
//

@import "plugins/animate";
@import "plugins/isotope";
@import "plugins/rd-navbar";
@import "plugins/google-map";
@import "plugins/rd-search";
@import "plugins/ui-to-top";
@import "plugins/tabs";
@import "plugins/card-custom"; 
@import "plugins/progress-bars"; 
@import "plugins/counter";
@import "plugins/countdown";
@import "plugins/jquery-circle-progress";
@import "plugins/timecircles";
@import "plugins/swiper";
@import "plugins/custom-modal";
@import "plugins/select2";
@import "plugins/slick";
@import "plugins/scrollbar"; 

/*rtl:begin:ignore*/
@import "plugins/owl-carousel";
@import "plugins/lightgallery";
@import "plugins/material-parallax";
/*rtl:end:ignore*/

.frame-header {
	width: 100%;
	outline: none;
	border: 0;
	height: 500px;
}

.novi-bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

[data-x-mode='true'] {

	.footer-classic__custom-column-bg {
		pointer-events: auto;
		left: 0;
	}

	.post-single__time-wrap {
		pointer-events: none;
		> * {
			pointer-events: auto;
		}
	}

	.box-lucy__icon-shape {
		pointer-events: none;
	}

	.footer-creative__column_decorated .background-item {
		max-width: 44vw;
	}
}
