
[data-novi-id="30"]{
  font-size: 17px;
}
[data-novi-id="29"]{
  font-size: 20px;
}
[data-novi-id="28"]{
  font-size: 17px;
}
[data-novi-id="27"]{
  font-size: 20px;
}
[data-novi-id="26"]{
  font-size: 17px;
}
[data-novi-id="25"]{
  font-size: 20px;
}
[data-novi-id="24"]{
  font-size: 20px;
}
[data-novi-id="23"]{
  font-size: 17px;
}
[data-novi-id="22"]{
  font-size: 20px;
}
[data-novi-id="21"]{
  font-size: 17px;
}
[data-novi-id="20"]{
  font-size: 20px;
}
[data-novi-id="19"]{
  font-size: 17px;
}
[data-novi-id="1"]{
  font-size: 16px;
}
[data-novi-id="18"]{
  font-size: 17px;
}
[data-novi-id="17"]{
  font-size: 17px;
}
[data-novi-id="16"]{
  font-size: 17px;
}
[data-novi-id="15"]{
  font-size: 70px;
}
[data-novi-id="14"]{
  font-size: 25px;
}
[data-novi-id="13"]{
  font-size: 30px;
}
[data-novi-id="12"]{
  color: rgba(99, 99, 99, 1);
}
[data-novi-id="11"]{
  color: rgba(99, 99, 99, 1);
  font-size: 30px;
}
[data-novi-id="10"]{
  color: rgba(99, 99, 99, 1);
}
[data-novi-id="0"]{
  color: #454545;
  color: #999999;
  font-size: 17px;
}
[data-novi-id="9"]{
  font-size: 19px;
}
[data-novi-id="8"]{
  font-size: 15px;
}
[data-novi-id="7"]{
  
  font-style: italic;
  font-weight: 700;
}
[data-novi-id="6"]{
  font-size: 17px;
}
[data-novi-id="5"]{
  font-size: 17px;
  
  
  font-weight: 700;
  font-style: italic;
}
[data-novi-id="4"]{
  
  font-style: italic;
  font-size: 15px;
  font-weight: 700;
}
[data-novi-id="3"]{
  font-size: 30px;
}
[data-novi-id="2"]{
  font-size: 40px;
}
