<section class="section novi-bg novi-bg-img section-md bg-white text-center">
  <div class="container">
    <h2>Why Choose Us</h2>
    <div class="row row-30 row-md-70 wow fadeIn">
      <div class="col-md-6 col-lg-4">
        <!-- Box Lucy-->
        <article class="box-lucy">
          <div class="box-lucy__aside">
            <div class="box-lucy__icon-outer"> <svg class="box-lucy__icon-shape" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              </svg><span class="novi-icon box-lucy__icon fl-bigmug-line-gear30"></span> </div>
            <h5 class="box-lucy__title">Innovative &amp; Creative Approach</h5>
          </div>
          <div class="box-lucy__main">
            <p>We bring a lateral approach to all our services, thinking innovatively and creatively.</p>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Lucy-->
        <article class="box-lucy">
          <div class="box-lucy__aside">
            <div class="box-lucy__icon-outer"> <svg class="box-lucy__icon-shape" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              </svg><span class="novi-icon box-lucy__icon fl-bigmug-line-headphones32"></span> </div>
            <h5 class="box-lucy__title">Dedicated 24/7 Support</h5>
          </div>
          <div class="box-lucy__main">
            <p>Our Support Team works 24/7 to solve the complex business tasks of our customers.</p>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Lucy-->
        <article class="box-lucy">
          <div class="box-lucy__aside">
            <div class="box-lucy__icon-outer"> <svg class="box-lucy__icon-shape" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              </svg><span class="novi-icon box-lucy__icon fl-bigmug-line-circular229"></span> </div>
            <h5 class="box-lucy__title">More Than 10 Years of Reliability</h5>
          </div>
          <div class="box-lucy__main">
            <p>If you are unsatisfied with our services, we will return you all your money during first 30 days.</p>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Lucy-->
        <article class="box-lucy">
          <div class="box-lucy__aside">
            <div class="box-lucy__icon-outer"> <svg class="box-lucy__icon-shape" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              </svg><span class="novi-icon box-lucy__icon box-lucy__icon-md fl-bigmug-line-lock64"></span> </div>
            <h5 class="box-lucy__title">Client Focus &amp; Trust in Business Affairs</h5>
          </div>
          <div class="box-lucy__main">
            <p>We put our clients’ needs first and meet their needs when dealing with business issues.</p>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Lucy-->
        <article class="box-lucy">
          <div class="box-lucy__aside">
            <div class="box-lucy__icon-outer"> <svg class="box-lucy__icon-shape" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              </svg><span class="novi-icon box-lucy__icon box-lucy__icon-sm fl-bigmug-line-email64 "></span> </div>
            <h5 class="box-lucy__title">Award-Winning Reputation</h5>
          </div>
          <div class="box-lucy__main">
            <p>Our award-winning reputation is founded on exceeding the expectations of our clients.</p>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Lucy-->
        <article class="box-lucy">
          <div class="box-lucy__aside">
            <div class="box-lucy__icon-outer"> <svg class="box-lucy__icon-shape" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              </svg><span class="novi-icon box-lucy__icon fl-bigmug-line-cloud255"></span> </div>
            <h5 class="box-lucy__title">Delivering Success</h5>
          </div>
          <div class="box-lucy__main">
            <p>We give confidence and re-assurance to our clients as we drive their projects forward.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>