<section class="section novi-bg novi-bg-img section-sm bg-white text-center">
  <div class="container">
    <h2>Why Choose Us</h2>
    <div class="row row-30 wow fadeIn">
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon novi-icon fl-bigmug-line-gear30"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Innovative &amp; Creative Approach</h5>
              <p>We bring a lateral approach to all our services, thinking innovatively and creatively.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon novi-icon fl-bigmug-line-headphones32"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Dedicated 24/7 Support</h5>
              <p>Our Support Team works 24/7 to solve the complex business tasks of our customers.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon novi-icon fl-bigmug-line-circular229"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">More Than 10 Years of Reliability</h5>
              <p>If you are unsatisfied with our services, we will return you all your money during first 30 days.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon novi-icon box-alice__icon-sm fl-bigmug-line-email64 "></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Client Focus &amp; Trust in Business Affairs</h5>
              <p>We put our clients’ needs first and meet their needs when dealing with business issues.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon novi-icon box-alice__icon-md fl-bigmug-line-lock64"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Award-Winning Reputation</h5>
              <p>Our award-winning reputation is founded on exceeding the expectations of our clients.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon novi-icon fl-bigmug-line-cloud255"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Delivering Success</h5>
              <p>We give confidence and re-assurance to our clients as we drive their projects forward.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>