<section class="section section-md section-variant-3 bg-default text-center novi-bg novi-bg-img">
  <div class="container">
    <h2>Why Choose Us</h2>
    <div class="row row-30 row-md-70 row-flex wow fadeIn">
      <div class="col-md-6 col-lg-4">
        <!-- Box Veronika-->
        <article class="box-veronika">
          <div class="box-veronika__inner">
            <div class="box-veronika__icon-outer">
              <div class="box-veronika__icon novi-icon fl-bigmug-line-gear30"></div>
            </div>
            <div class="box-veronika__main">
              <h5 class="box-veronika__title">Innovative &amp; Creative Approach</h5>
              <p>We bring a lateral approach to all our services, thinking innovatively and creatively.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Veronika-->
        <article class="box-veronika">
          <div class="box-veronika__inner">
            <div class="box-veronika__icon-outer">
              <div class="box-veronika__icon novi-icon fl-bigmug-line-headphones32"></div>
            </div>
            <div class="box-veronika__main">
              <h5 class="box-veronika__title">Dedicated 24/7 Support</h5>
              <p>Our Support Team works 24/7 to solve the complex business tasks of our customers.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Veronika-->
        <article class="box-veronika">
          <div class="box-veronika__inner">
            <div class="box-veronika__icon-outer">
              <div class="box-veronika__icon novi-icon fl-bigmug-line-circular229"></div>
            </div>
            <div class="box-veronika__main">
              <h5 class="box-veronika__title">More Than 10 Years of Reliability</h5>
              <p>If you are unsatisfied with our services, we will return you all your money during first 30 days.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Veronika-->
        <article class="box-veronika">
          <div class="box-veronika__inner">
            <div class="box-veronika__icon-outer">
              <div class="box-veronika__icon novi-icon box-veronika__icon-sm fl-bigmug-line-email64 "></div>
            </div>
            <div class="box-veronika__main">
              <h5 class="box-veronika__title">Client Focus &amp; Trust in Business Affairs</h5>
              <p>We put our clients’ needs first and meet their needs when dealing with business issues.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Veronika-->
        <article class="box-veronika">
          <div class="box-veronika__inner">
            <div class="box-veronika__icon-outer">
              <div class="box-veronika__icon novi-icon box-veronika__icon-md fl-bigmug-line-lock64"></div>
            </div>
            <div class="box-veronika__main">
              <h5 class="box-veronika__title">Award-Winning Reputation</h5>
              <p>Our award-winning reputation is founded on exceeding the expectations of our clients.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Veronika-->
        <article class="box-veronika">
          <div class="box-veronika__inner">
            <div class="box-veronika__icon-outer">
              <div class="box-veronika__icon novi-icon box-veronika__icon-sm fl-bigmug-line-cloud255"></div>
            </div>
            <div class="box-veronika__main">
              <h5 class="box-veronika__title">Delivering Success</h5>
              <p>We give confidence and re-assurance to our clients as we drive their projects forward.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>