<section class="section parallax-container breadcrumbs-custom" data-parallax-img="images/bg-image-3-1920x730.jpg">
  <div class="parallax-content">
    <div class="breadcrumbs-custom__aside context-dark">
      <div class="container">
        <h2 class="breadcrumbs-custom__title">Breadcrumbs</h2>
      </div>
    </div>
    <div class="breadcrumbs-custom__main bg-gray-light novi-bg">
      <div class="container">
        <ul class="breadcrumbs-custom__path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Breadcrumbs</li>
        </ul>
      </div>
    </div>
  </div>
</section>