<section class="section breadcrumbs-custom">
  <div class="breadcrumbs-custom__aside bg-image context-dark novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumb-2-1920x238.jpg)">
    <div class="container">
      <h2 class="breadcrumbs-custom__title">Breadcrumbs</h2>
    </div>
  </div>
</section>