<section class="section breadcrumbs-custom">
  <div class="breadcrumbs-custom__aside bg-image context-dark novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumb-3-1920x238.jpg);">
    <div class="container">
      <h2 class="breadcrumbs-custom__title">Breadcrumbs</h2>
    </div>
  </div>
  <div class="breadcrumbs-custom__main bg-gray-light novi-bg">
    <div class="container">
      <ul class="breadcrumbs-custom__path">
        <li><a href="index.html">Home</a></li>
        <li class="active">Breadcrumbs</li>
      </ul>
    </div>
  </div>
</section>