<section class="section section-md bg-gray-light novi-bg novi-bg-img">
  <div class="container">
    <div class="range range-md-center range-fix">
      <div class="cell-lg-11">
        <!-- Section Header-->
        <div class="section__header">
          <h3>Our Projects</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="isotope isotope-1" data-isotope-layout="masonry" data-isotope-group="projects" data-column-class=".isotope-item-etalon" data-lightgallery="group">
    <div class="row no-gutters row-condensed">
      <div class="col-sm-6 col-lg-4 isotope-item">
        <!-- Thumb Zoe--><a class="thumb-zoe" href="images/project-1-639x524.jpg" data-lightgallery="item"><img class="thumb-zoe__image" src="images/project-1-639x524.jpg" alt="" width="639" height="524">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">New Office Co.</p>
          </div>
        </a> </div>
      <div class="col-sm-6 col-lg-4 isotope-item isotope-item-etalon">
        <!-- Thumb Zoe--><a class="thumb-zoe" href="images/project-2-320x262.jpg" data-lightgallery="item"><img class="thumb-zoe__image" src="images/project-2-320x262.jpg" alt="" width="320" height="262">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">2K Stationery</p>
          </div>
        </a> </div>
      <div class="col-sm-6 col-lg-4 isotope-item">
        <!-- Thumb Zoe--><a class="thumb-zoe" href="images/project-4-320x524.jpg" data-lightgallery="item"><img class="thumb-zoe__image" src="images/project-4-320x524.jpg" alt="" width="320" height="524">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">iStep</p>
          </div>
        </a> </div>
      <div class="col-sm-6 col-lg-4 isotope-item">
        <!-- Thumb Zoe--><a class="thumb-zoe" href="images/project-3-640x524.jpg" data-lightgallery="item"><img class="thumb-zoe__image" src="images/project-3-640x524.jpg" alt="" width="640" height="524">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">PaperWorks Ltd.</p>
          </div>
        </a> </div>
      <div class="col-sm-6 col-lg-4 isotope-item">
        <!-- Thumb Zoe--><a class="thumb-zoe" href="images/project-5-320x262.jpg" data-lightgallery="item"><img class="thumb-zoe__image" src="images/project-5-320x262.jpg" alt="" width="320" height="262">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">BTS Corp.</p>
          </div>
        </a> </div>
    </div>
  </div>
</section>