<section class="section section-md bg-gray-light novi-bg novi-bg-img">
  <div class="container">
    <div class="range range-md-center range-fix">
      <div class="cell-lg-11">
        <!-- Section Header-->
        <div class="section__header">
          <h3>Our Projects</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="isotope isotope-1" data-isotope-layout="masonry" data-isotope-group="projects" data-column-class=".isotope-item-etalon" data-lightgallery="group">
    <div class="row no-gutters row-condensed">
      <div class="col-sm-6 col-lg-4 isotope-item" data-filter="Commercials">
        <div class="thumb-zoe" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-8-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-8-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-4-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-4-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-5-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-5-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-6-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-6-565x401.jpg&quot;}]"><img
            class="thumb-zoe__image" src="images/project-1-639x524.jpg" alt="" width="639" height="524">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">New Office Co.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 isotope-item isotope-item-etalon" data-filter="Commercials">
        <div class="thumb-zoe" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-2-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-2-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-4-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-4-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-5-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-5-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-6-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-6-565x401.jpg&quot;}]"><img
            class="thumb-zoe__image" src="images/project-2-320x262.jpg" alt="" width="320" height="262">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">2K Stationery</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 isotope-item" data-filter="Branding">
        <div class="thumb-zoe" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-3-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-3-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-4-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-4-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-5-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-5-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-6-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-6-565x401.jpg&quot;}]"><img
            class="thumb-zoe__image" src="images/project-4-320x524.jpg" alt="" width="320" height="524">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">iStep</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 isotope-item" data-filter="Digital advertising">
        <div class="thumb-zoe" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-7-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-7-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-4-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-4-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-5-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-5-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-6-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-6-565x401.jpg&quot;}]"><img
            class="thumb-zoe__image" src="images/project-3-640x524.jpg" alt="" width="640" height="524">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">PaperWorks Ltd.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 isotope-item" data-filter="Branding">
        <div class="thumb-zoe" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-10-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-10-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-4-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-4-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-5-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-5-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-6-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-6-565x401.jpg&quot;}]"><img
            class="thumb-zoe__image" src="images/project-5-320x262.jpg" alt="" width="320" height="262">
          <div class="thumb-zoe__caption novi-bg">
            <p class="thumb-zoe__title">BTS Corp.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>