<section class="section section-md bg-default text-center novi-bg novi-bg-img">
  <div class="container">
    <div class="row row-fix justify-content-md-center">
      <div class="col-md-10 col-lg-7 col-xl-6">
        <h4>Contact Us (with reCAPTCHA)</h4> <!-- RD Mailform-->
        <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
          <div class="row row-fix align-items-md-end row-20">
            <div class="col-md-6">
              <div class="form-wrap"> <input class="form-input" id="contact-form-2-name" type="text" name="name" data-constraints="@Required"> <label class="form-label" for="contact-form-2-name">Your Name</label> </div>
            </div>
            <div class="col-md-6">
              <div class="form-wrap"> <input class="form-input" id="contact-form-2-phone" type="text" name="phone" data-constraints="@PhoneNumber"> <label class="form-label" for="contact-form-2-phone">Phone</label> </div>
            </div>
            <div class="col-sm-12">
              <div class="form-wrap"> <label class="form-label" for="contact-form-2-message">Your Message</label> <textarea class="form-input" id="contact-form-2-message" name="message" data-constraints="@Required"></textarea> </div>
            </div>
            <div class="col-md-6">
              <div class="form-wrap"> <input class="form-input" id="contact-form-2-email" type="email" name="email" data-constraints="@Email @Required"> <label class="form-label" for="contact-form-2-email">E-mail</label> </div>
            </div>
            <div class="col-md-7">
              <div class="form-wrap form-wrap-recaptcha">
                <!-- Google captcha-->
                <div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
              </div>
            </div>
            <div class="col-md-6"> <button class="button button-block button-gradient button-ujarak" type="submit">Send Message</button> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>