<section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-2-1920x1121.jpg">
  <div class="parallax-content">
    <div class="section-lg text-center text-sm-left">
      <div class="container">
        <div class="row row-fix row-50 flex-md-row-reverse justify-content-md-between align-items-center align-items-lg-start">
          <div class="col-md-5 wow fadeInRightSmall">
            <div class="box-width-3 box-centered">
              <h2>Some Facts About Us</h2>
              <p class="text-style-1">Delivering cost effective and high-quality business solutions</p><a class="button button-lg button-secondary button-ujarak" href="about.html">Get Started now</a>
            </div>
          </div>
          <div class="col-md-7 col-lg-6 wow fadeInLeftSmall">
            <div class="row row-style-1">
              <div class="col-sm-6">
                <div class="col-inner">
                  <!-- Box counter-->
                  <article class="box-counter box-counter_modern">
                    <div class="box-counter__main">
                      <div class="box-counter__icon fl-bigmug-line-cube29"></div><span>1.6</span><span class="small">k</span>
                    </div>
                    <p class="box-counter__title">Projects</p>
                  </article>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <!-- Box counter-->
                  <article class="box-counter box-counter_modern">
                    <div class="box-counter__main">
                      <div class="box-counter__icon fl-bigmug-line-trophy55"></div>
                      <div class="counter">27</div>
                    </div>
                    <p class="box-counter__title">Winning Awards</p>
                  </article>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <!-- Box counter-->
                  <article class="box-counter box-counter_modern">
                    <div class="box-counter__main">
                      <div class="box-counter__icon fl-bigmug-line-planetary2"></div>
                      <div class="counter">20</div><span class="small">k</span>
                    </div>
                    <p class="box-counter__title">Professionals</p>
                  </article>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <!-- Box counter-->
                  <article class="box-counter box-counter_modern">
                    <div class="box-counter__main">
                      <div class="box-counter__icon fl-bigmug-line-like51"></div>
                      <div class="counter">99</div><span class="small small_top">%</span>
                    </div>
                    <p class="box-counter__title">Satisfied Customers</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>