<section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-2-1920x1121.jpg">
  <div class="parallax-content">
    <div class="section-lg text-center">
      <div class="container">
        <h2>Some Facts About Us</h2>
        <p class="text-style-1">Delivering cost effective and high-quality business solutions</p>
        <div class="row row-50 offset-top-1">
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main"><span>1.6</span><span class="small">k</span></div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">Projects</p>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main">
                <div class="counter">27</div>
              </div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">Winning Awards</p>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main">
                <div class="counter">87</div>
              </div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">Professionals</p>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main">
                <div class="counter">99</div><span class="small small_top">%</span>
              </div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">Satisfied Customers</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>