<section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-2-1920x1121.jpg">
  <div class="parallax-content">
    <div class="section-lg text-center">
      <div class="container">
        <h2>Some Facts About Us</h2>
        <p class="text-style-1">Delivering cost effective and high-quality business solutions</p>
        <div class="row row-custom-bordered row-md-30">
          <div class="col-sm-6 col-lg-3">
            <!-- Box counter-->
            <article class="box-counter box-counter_creative">
              <div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-cube29"></span><span>1.6</span><span class="small">k</span></div>
              <p class="box-counter__title">Projects</p>
            </article>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- Box counter-->
            <article class="box-counter box-counter_creative">
              <div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-trophy55"></span>
                <div class="counter">27</div>
              </div>
              <p class="box-counter__title">Awards</p>
            </article>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- Box counter-->
            <article class="box-counter box-counter_creative">
              <div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-planetary2"></span>
                <div class="counter">87</div>
              </div>
              <p class="box-counter__title">Professionals</p>
            </article>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- Box counter-->
            <article class="box-counter box-counter_creative">
              <div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-checkmark14"></span>
                <div class="counter">99</div><span class="small small_top">%</span>
              </div>
              <p class="box-counter__title">Satisfied Customers</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>