<footer class="section footer-modern context-dark">
  <div class="footer-modern__main bg-gray-3 novi-bg novi-bg-img">
    <div class="container">
      <div class="row row-50 justify-content-sm-center justify-content-md-start justify-content-lg-between">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <p class="custom-heading-3">About Us</p>
          <p class="ls-05">A dolor dolores est hic libero molestiae nam neque nihil, perferendis totam. Aliquid architecto autem deserunt distinctio.</p><a class="button button-primary button-ujarak" href="contact-us.html">Get in touch</a>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
          <p class="custom-heading-3">Contact information</p>
          <dl class="list-terms-block"> <dt>24\7 Support</dt>
            <dd><a class="link-md" href="tel:#">1-800-700-6200</a></dd>
          </dl>
          <dl class="list-terms-block"> <dt>E-mail</dt>
            <dd><a href="mailto:#">mail@demolink.org</a></dd>
          </dl>
          <dl class="list-terms-block"> <dt>Follow Us</dt>
            <dd>
              <ul class="list-inline list-inline-xxs">
                <li><a class="novi-icon icon icon-xxs icon-circle icon-filled icon-filled_brand fa fa-facebook" href="#"></a></li>
                <li><a class="novi-icon icon icon-xxs icon-circle icon-filled icon-filled_brand fa fa-twitter" href="#"></a></li>
                <li><a class="novi-icon icon icon-xxs icon-circle icon-filled icon-filled_brand fa fa-google-plus" href="#"></a></li>
                <li><a class="novi-icon icon icon-xxs icon-circle icon-filled icon-filled_brand fa fa-instagram" href="#"></a></li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="col-md-4">
          <p class="custom-heading-3">Useful links</p>
          <div class="row row-fix row-5">
            <div class="col-sm-6 col-md-12 col-lg-6">
              <ul class="list-1">
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Consulting</a></li>
                <li><a href="#">Employee</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-6">
              <ul class="list-1">
                <li><a href="#">Market Analysis</a></li>
                <li><a href="#">Risk Management</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
                <li><a href="blog.html">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-default__aside bg-gray-5 novi-bg novi-bg-img">
    <div class="container">
      <div class="footer-default__aside-inner">
        <!-- Rights-->
        <p class="rights"><span>©&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Consult</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span>
          <!--{DEL LIVEDEMO USERPACKAGE}--><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span>
          <!--{DEL}-->
        </p>
        <ul class="list-separated list-inline">
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>