<footer class="section footer-creative bg-primary-darken novi-bg novi-bg-img">
  <div class="container">
    <div class="footer-creative__column footer-creative__column_decorated bg-primary">
      <div class="background-item novi-bg"></div>
      <h3>24/7 Support:</h3>
      <div class="unit flex-row text-primary-darken-2">
        <div class="unit__left"><span class="icon novi-icon icon-md icon-default fl-bigmug-line-headphones32"></span></div>
        <div class="unit__body"><a class="link link-lg" href="tel:#">1-800-700-6200</a>
          <p class="ls-05">Our Support Service is always available to help you.</p>
        </div>
      </div>
    </div>
    <div class="footer-creative__column">
      <ul class="list-tags">
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="#">Operations Consulting</a></li>
        <li><a href="#">Market Analysis</a></li>
        <li><a href="#">Risk Management</a></li>
        <li><a href="#">Employee training</a></li>
        <li><a href="#">Investment banking</a></li>
        <li><a href="#">Business planning</a></li>
      </ul>
      <hr>
      <div class="layout-justify">
        <!-- Rights-->
        <p class="rights"><span>©&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Consult</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span>
          <!--{DEL LIVEDEMO USERPACKAGE}--><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span>
          <!--{DEL}-->
        </p>
        <ul class="list-inline list-inline-xs social-list">
          <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
          <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
          <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
          <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>