<section class="section section-sm bg-gray-light novi-bg novi-bg-img">
  <div class="container">
    <!-- Section Header-->
    <div class="section__header section__header_wide">
      <h3>Our projects</h3>
      <div class="isotope-filters isotope-filters-horizontal isotope-filters-left"> <button class="isotope-filters-toggle button button-sm button-primary" data-custom-toggle="#isotope-filters" data-custom-toggle-disable-on-blur="true">Filter<span
            class="caret"></span></button>
        <ul class="list-fix isotope-filters-list" id="isotope-filters">
          <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
          <li><a data-isotope-filter="Commercials" data-isotope-group="gallery" href="#">Commercials</a></li>
          <li><a data-isotope-filter="Branding" data-isotope-group="gallery" href="#">Branding</a></li>
          <li><a data-isotope-filter="Digital advertising" data-isotope-group="gallery" href="#">Digital advertising</a></li>
          <li><a data-isotope-filter="Printed Ads" data-isotope-group="gallery" href="#">Printed Ads</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="isotope isotope-1" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
    <div class="row no-gutters row-condensed">
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Commercials"><a class="thumb-elegant" href="images/services-1-565x401.jpg" data-lightgallery="item"><img src="images/services-1-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-2-565x401.jpg" data-lightgallery="item"><img src="images/services-2-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Commercials"><a class="thumb-elegant" href="images/services-3-565x401.jpg" data-lightgallery="item"><img src="images/services-3-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Branding"><a class="thumb-elegant" href="images/services-4-565x401.jpg" data-lightgallery="item"><img src="images/services-4-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-5-565x401.jpg" data-lightgallery="item"><img src="images/services-5-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-6-565x401.jpg" data-lightgallery="item"><img src="images/services-6-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Branding"><a class="thumb-elegant" href="images/services-7-565x401.jpg" data-lightgallery="item"><img src="images/services-7-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-4 col-sm-6 isotope-item" data-filter="Printed Ads"><a class="thumb-elegant" href="images/services-8-565x401.jpg" data-lightgallery="item"><img src="images/services-8-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
    </div>
  </div>
</section>