<section class="section section-sm bg-white novi-bg novi-bg-img">
  <div class="container">
    <!-- Section Header-->
    <div class="section__header">
      <h3>Our projects</h3>
      <div class="isotope-filters isotope-filters-horizontal isotope-filters-left"> <button class="isotope-filters-toggle button button-sm button-primary" data-custom-toggle="#isotope-filters-1" data-custom-toggle-disable-on-blur="true">Filter<span
            class="caret"></span></button>
        <ul class="list-fix isotope-filters-list" id="isotope-filters-1">
          <li><a class="active" data-isotope-filter="*" data-isotope-group="grid" href="#">All</a></li>
          <li><a data-isotope-filter="Commercials" data-isotope-group="grid" href="#">Commercials</a></li>
          <li><a data-isotope-filter="Branding" data-isotope-group="grid" href="#">Branding</a></li>
          <li><a data-isotope-filter="Digital advertising" data-isotope-group="grid" href="#">Digital advertising</a></li>
          <li><a data-isotope-filter="Printed Ads" data-isotope-group="grid" href="#">Printed Ads</a></li>
        </ul>
      </div>
    </div> <!-- Isotope Content-->
    <div class="row row-30 isotope" data-isotope-layout="masonry" data-isotope-group="grid" data-lightgallery="group">
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Commercials"><a class="thumb-elegant" href="images/services-1-565x401.jpg" data-lightgallery="item"><img src="images/services-1-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-2-565x401.jpg" data-lightgallery="item"><img src="images/services-2-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Commercials"><a class="thumb-elegant" href="images/services-3-565x401.jpg" data-lightgallery="item"><img src="images/services-3-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Branding"><a class="thumb-elegant" href="images/services-4-565x401.jpg" data-lightgallery="item"><img src="images/services-4-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-5-565x401.jpg" data-lightgallery="item"><img src="images/services-5-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-6-565x401.jpg" data-lightgallery="item"><img src="images/services-6-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Branding"><a class="thumb-elegant" href="images/services-7-565x401.jpg" data-lightgallery="item"><img src="images/services-7-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Printed Ads"><a class="thumb-elegant" href="images/services-8-565x401.jpg" data-lightgallery="item"><img src="images/services-8-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-9-565x401.jpg" data-lightgallery="item"><img src="images/services-9-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><a class="thumb-elegant" href="images/services-10-565x401.jpg" data-lightgallery="item"><img src="images/services-10-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Branding"><a class="thumb-elegant" href="images/services-11-565x401.jpg" data-lightgallery="item"><img src="images/services-11-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
      <div class="col-lg-3 col-md-6 isotope-item" data-filter="Printed Ads"><a class="thumb-elegant" href="images/services-12-565x401.jpg" data-lightgallery="item"><img src="images/services-12-565x401.jpg" alt="" width="565" height="401">
          <div class="thumb-elegant__overlay"></div>
        </a></div>
    </div>
  </div>
</section>