<header class="section page-header">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-classic novi-bg" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
      data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px"
      data-md-stick-up="true" data-lg-stick-up="true">
      <div class="rd-navbar-outer">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel"> <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button> <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand" href="index.html">
                <div class="brand__name"><img class="brand__logo-dark" src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"><img class="brand__logo-light" src="images/logo-inverse-104x20.png"
                    alt="" width="104" height="20" srcset="images/logo-inverse-208x40.png 2x"> </div>
              </a></div>
          </div>
          <div class="rd-navbar-body">
            <!-- RD Navbar Aside-->
            <div class="rd-navbar-aside">
              <div class="rd-navbar-content-outer">
                <div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div>
                <div class="rd-navbar-content">
                  <ul class="list-bordered list-inline">
                    <li>
                      <dl class="list-terms-inline"> <dt>24/7 Support</dt>
                        <dd><a href="tel:#">1-800-700-6200</a></dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="list-terms-inline"> <dt>E-mail</dt>
                        <dd><a href="mailto:#">mail@demolink.org</a></dd>
                      </dl>
                    </li>
                    <li>
                      <ul class="list-inline list-inline-xs social-list">
                        <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                        <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                        <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                        <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- RD Navbar Nav Wrap-->
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-element">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search rd-navbar-search-toggled"> <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap"> <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"> <label class="form-label" for="rd-navbar-search-form-input">Search...</label> </div> <button class="rd-navbar-search-submit"
                      type="submit"></button>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                  </form>
                </div>
              </div> <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li><a href="about.html">About</a> </li>
                <li><a href="servicio_horario.html">Services</a> </li>
                <li><a href="blog.html">Blog</a> <!-- RD Navbar Dropdown-->
                  <ul class="rd-navbar-dropdown">
                    <li><a href="blog-post.html">Blog post</a></li>
                  </ul>
                </li>
                <li><a href="faq.html">FAQ</a> </li>
                <li><a href="#">Pages</a> <!-- RD Navbar Dropdown-->
                  <ul class="rd-navbar-dropdown">
                    <li><a href="maintenance.html">Maintenance</a></li>
                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                    <li><a href="404-page.html">404 Page</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                  </ul>
                </li>
                <li><a href="contact-us.html">Contact Us</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>