<header class="section page-header section-navbar-slider">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static"
      data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true">
      <div class="rd-navbar-aside-outer">
        <div class="rd-navbar-aside rd-navbar-content-outer">
          <div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div>
          <div class="rd-navbar-content">
            <ul class="rd-navbar-content__list">
              <li><span class="icon icon-sm icon-darker fl-bigmug-line-headphones32 novi-icon"></span>
                <dl class="list-terms-inline"> <dt>24/7 Support</dt>
                  <dd><a href="tel:#">1-800-700-6200</a></dd>
                </dl>
              </li>
              <li><span class="icon icon-xs-2 icon-darker fl-bigmug-line-email64 novi-icon"></span>
                <dl class="list-terms-inline"> <dt>E-mail</dt>
                  <dd><a href="mailto:#">mail@demolink.org</a></dd>
                </dl>
              </li>
              <li><span class="icon icon-sm icon-darker fl-bigmug-line-chat55 novi-icon"></span>
                <dl class="list-terms-inline"> <dt>Social Media</dt>
                  <dd>
                    <ul class="list-inline list-inline-xs social-list">
                      <li><a class="novi-icon icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                      <li><a class="novi-icon icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                      <li><a class="novi-icon icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                      <li><a class="novi-icon icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel"> <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button> <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand" href="index.html">
                <div class="brand__name"><img class="brand__logo-dark" src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"><img class="brand__logo-light" src="images/logo-inverse-104x20.png"
                    alt="" width="104" height="20" srcset="images/logo-inverse-208x40.png 2x"> </div>
              </a></div>
          </div> <!-- RD Navbar Nav Wrap-->
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a> </li>
              <li><a href="servicio_horario.html">Services</a> </li>
              <li><a href="blog.html">Blog</a> <!-- RD Navbar Dropdown-->
                <ul class="rd-navbar-dropdown">
                  <li><a href="blog-post.html">Blog post</a></li>
                </ul>
              </li>
              <li><a href="faq.html">FAQ</a> </li>
              <li><a href="#">Pages</a> <!-- RD Navbar Dropdown-->
                <ul class="rd-navbar-dropdown">
                  <li><a href="maintenance.html">Maintenance</a></li>
                  <li><a href="privacy-policy.html">Privacy policy</a></li>
                  <li><a href="404-page.html">404 Page</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                </ul>
              </li>
              <li><a href="contact-us.html">Contact Us</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="swiper-container swiper-slider swiper_style-4 swiper_height-2 swiper-pagination_creative" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-1-1920x850.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <h1 class="title" data-caption-animate="fadeInUpXSmall">Providing High-Quality Business Solutions</h1>
            <p class="caption" data-caption-animate="fadeInUpSmall">We are one of the world’s leading business consulting companies, which combines classic management consulting with outstanding technological expertise and innovations in marketing
              and promotion.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-2-1920x850.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <h1 class="title" data-caption-animate="fadeInUpXSmall">A Team of Experts Working for You</h1>
            <p class="caption" data-caption-animate="fadeInUpSmall">Consult is a synonym of professionalism because of the experts we have gathered at our company. Over the years we have helped hundreds of businesses who were more than just
              satisfied with our work.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-3-1920x850.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <h1 class="title" data-caption-animate="fadeInUpXSmall">Professional Business Approach Since Day One</h1>
            <p class="caption" data-caption-animate="fadeInUpSmall">Since our establishment in 1999, we have been pursuing the goal of satisfying our customers’ needs, be it small business consulting or assistance to bigger companies as well as
              international enterprises.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination__module">
      <div class="swiper-pagination"></div>
      <div class="swiper-pagination__divider"></div>
      <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider"></span><span class="swiper-pagination__fraction-count">00</span></div>
    </div>
  </div>
</header>