<section class="section section-md bg-default text-center novi-bg novi-bg-img">
  <div class="container">
    <div class="row row-fix justify-content-md-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <h4>Login form</h4>
        <div class="group-sm group-sm-justify group-middle"><a class="button button-facebook button-icon button-icon-left" href="#"><span class="icon novi-icon fa fa-facebook"></span>Facebook</a><a class="button button-twitter button-icon button-icon-left"
            href="#"><span class="icon novi-icon fa fa-twitter"></span>Twitter</a><a class="button button-google button-icon button-icon-left" href="#"><span class="icon novi-icon fa fa-google-plus"></span>Google+</a></div>
        <div class="text-decoration-lines"><span class="text-decoration-lines__content">or</span></div> <!-- RD Mailform-->
        <form class="rd-mailform rd-mailform_label-centered">
          <div class="form-wrap"> <label class="form-label-outside" for="login-email">E-mail</label> <input class="form-input" id="login-email" type="email" name="email" data-constraints="@Email @Required"> </div>
          <div class="form-wrap"> <label class="form-label-outside" for="login-password">Password</label> <input class="form-input" id="login-password" type="password" name="pass" data-constraints="@Required"> </div>
          <div class="form-wrap"> <label class="checkbox-inline"> <input type="checkbox">Remember Me </label> </div>
          <div class="row row-fix row-20 form-wrap">
            <div class="col-md-6"> <button class="button button-gradient button-ujarak button-block" type="submit">Login</button> </div>
            <div class="col-md-6"> <button class="button button-default-outline button-block button-ujarak">Create an Account</button> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>