<section class="section novi-bg novi-bg-img section-md bg-gray-light">
  <div class="container container_bigger">
    <div class="row justify-content-md-center justify-content-xl-between row-2-columns-bordered row-50">
      <div class="col-md-10 col-lg-5">
        <h3>Get in Touch</h3>
        <ul class="list-creative">
          <li>
            <dl class="list-terms-medium list-terms-medium_secondary"> <dt>Address</dt>
              <dd><a href="#">212 Prospect Ave, Brooklyn, New York United States</a></dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-medium"> <dt>Phones</dt>
              <dd>
                <ul class="list-comma">
                  <li><a href="tel:#">+1-800-700-6200</a></li>
                  <li><a href="tel:#">+1-800-955-4567</a></li>
                </ul>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-medium list-terms-medium_tertiary"> <dt>E-mails</dt>
              <dd>
                <ul class="list-comma">
                  <li><a href="mailto:#">mail@demolink.org</a></li>
                  <li><a href="mailto:#">info@demolink.org</a></li>
                </ul>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="col-md-10 col-lg-7 col-xl-6">
        <div class="google-map-container google-map-container-1" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-zoom="14" data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png">
          <div class="google-map"></div>
          <ul class="google-map-markers">
            <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-description="9870 St Vincent Place, Glasgow"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>