<section class="section section-sm bg-gray-lighter novi-bg novi-bg-img">
  <div class="container">
    <div class="row row-fix">
      <div class="col-12">
        <div class="pricing-table pricing-table-creative">
          <article class="pricing-table__item pricing-table-creative__item novi-bg">
            <div class="pricing-table__item-inner">
              <p class="pricing-table__item-title">Basic</p>
              <div class="pricing-table__item-price">
                <p class="pricing-table__item-price-value"><span class="small">$</span><span>3.99</span></p>
                <p class="pricing-table__item-price-details">per month</p>
              </div>
              <div class="pricing-table__item-control">
                <div class="button-wrap"><a class="button button-default-outline button-ujarak" href="#">Order now</a></div>
              </div>
              <ul class="pricing-table__item-features">
                <li>Data &amp; Analytics</li>
                <li>Direct Marketing</li>
                <li>Strategy</li>
                <li>Risk Management</li>
              </ul>
            </div>
          </article>
          <article class="pricing-table__item pricing-table-creative__item novi-bg pricing-table-creative__item_prefered">
            <div class="pricing-table__item-inner">
              <p class="pricing-table__item-title">Power</p>
              <div class="pricing-table__item-price">
                <p class="pricing-table__item-price-value"><span class="small">$</span><span>6.99</span></p>
                <p class="pricing-table__item-price-details">per month</p>
              </div>
              <div class="pricing-table__item-control">
                <div class="button-wrap"><a class="button button-primary button-ujarak" href="#">Order now</a></div>
              </div>
              <ul class="pricing-table__item-features">
                <li>Business &amp; IT Strategy</li>
                <li>Financial Advisory</li>
                <li>Operations Management</li>
                <li>Strategic Planning</li>
              </ul>
            </div>
          </article>
          <article class="pricing-table__item pricing-table-creative__item novi-bg">
            <div class="pricing-table__item-inner">
              <p class="pricing-table__item-title">Ultimate</p>
              <div class="pricing-table__item-price">
                <p class="pricing-table__item-price-value"><span class="small">$</span><span>9.99</span></p>
                <p class="pricing-table__item-price-details">per month</p>
              </div>
              <div class="pricing-table__item-control">
                <div class="button-wrap"><a class="button button-default-outline button-ujarak" href="#">Order now</a></div>
              </div>
              <ul class="pricing-table__item-features">
                <li>Marketing Consulting</li>
                <li>Mergers &amp; Acquisitions</li>
                <li>Quality Engineering</li>
                <li>PR Management</li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>