<section class="section section-sm bg-gray-lighter novi-bg novi-bg-img">
  <div class="container">
    <div class="row row-fix">
      <div class="col-12">
        <div class="row row-30 justify-content-md-center">
          <div class="col-md-6 col-lg-4">
            <article class="pricing-table__item pricing-table-modern__item novi-bg">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner">
                    <div class="novi-bg"></div>
                  </div>
                </div>
                <p class="pricing-table__item-title">Basic</p>
              </div>
              <div class="pricing-table__item-main">
                <div class="pricing-table__item-price"><span class="pricing-table__item-price-currency">$</span><span class="pricing-table__item-price-value">3</span>
                  <div class="pricing-table__item-price-aside"><span class="top">99</span><span class="bottom">mon</span></div>
                </div>
                <div class="pricing-table__item-divider"></div>
                <ul class="pricing-table__item-features">
                  <li>Data &amp; Analytics</li>
                  <li>Direct Marketing</li>
                  <li>Strategy</li>
                  <li>Risk Management</li>
                </ul>
                <div class="pricing-table__item-control"><a class="button button-default button-ujarak" href="#">Order now</a></div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="pricing-table__item pricing-table-modern__item novi-bg pricing-table-modern__item_prefered">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner">
                    <div class="novi-bg"></div>
                  </div>
                </div>
                <p class="pricing-table__item-title">Power</p>
              </div>
              <div class="pricing-table__item-main">
                <div class="pricing-table__item-price"><span class="pricing-table__item-price-currency">$</span><span class="pricing-table__item-price-value">6</span>
                  <div class="pricing-table__item-price-aside"><span class="top">99</span><span class="bottom">mon</span></div>
                </div>
                <div class="pricing-table__item-divider"></div>
                <ul class="pricing-table__item-features">
                  <li>Business &amp; IT Strategy</li>
                  <li>Financial Advisory</li>
                  <li>Operations Management</li>
                  <li>Strategic Planning</li>
                </ul>
                <div class="pricing-table__item-control"><a class="button button-gradient button-ujarak" href="#">Order now</a></div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="pricing-table__item pricing-table-modern__item novi-bg">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner">
                    <div class="novi-bg"></div>
                  </div>
                </div>
                <p class="pricing-table__item-title">Ultimate</p>
              </div>
              <div class="pricing-table__item-main">
                <div class="pricing-table__item-price"><span class="pricing-table__item-price-currency">$</span><span class="pricing-table__item-price-value">9</span>
                  <div class="pricing-table__item-price-aside"><span class="top">99</span><span class="bottom">mon</span></div>
                </div>
                <div class="pricing-table__item-divider"></div>
                <ul class="pricing-table__item-features">
                  <li>Marketing Consulting</li>
                  <li>Mergers &amp; Acquisitions</li>
                  <li>Quality Engineering</li>
                  <li>PR Management</li>
                </ul>
                <div class="pricing-table__item-control"><a class="button button-default button-ujarak" href="#">Order now</a></div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>