<section class="section">
  <div class="swiper-container swiper-slider swiper_style-4 swiper_height-2 swiper-pagination_creative" data-loop="true" data-autoplay="3500" data-simulate-touch="false" data-slide-effect="fade">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-1-1920x850.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <h1 class="title" data-caption-animate="fadeInUpXSmall">Providing High-Quality Business Solutions</h1>
            <p class="caption" data-caption-animate="fadeInUpSmall">We are one of the world’s leading business consulting companies, which combines classic management consulting with outstanding technological expertise and innovations in marketing
              and promotion.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-2-1920x850.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <h1 class="title" data-caption-animate="fadeInUpXSmall">A Team of Experts Working</h1>
            <p class="caption" data-caption-animate="fadeInUpSmall">Consult is a synonym of professionalism because of the experts we have gathered at our company. Over the years we have helped hundreds of businesses who were more than just
              satisfied with our work.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-3-1920x850.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <h1 class="title" data-caption-animate="fadeInUpXSmall">Professional Business Approach Since Day One</h1>
            <p class="caption" data-caption-animate="fadeInUpSmall">Since our establishment in 1999, we have been pursuing the goal of satisfying our customers’ needs, be it small business consulting or assistance to bigger companies as well as
              international enterprises.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination__module">
      <div class="swiper-pagination"></div>
      <div class="swiper-pagination__divider"></div>
      <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider"></span><span class="swiper-pagination__fraction-count">00</span></div>
    </div>
  </div>
</section>