<section class="section swiper-container swiper-slider swiper_style-1 swiper_height-1 swiper-controls-classic" data-loop="true" data-autoplay="3500" data-simulate-touch="false">
  <div class="swiper-wrapper">
    <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-1-1920x850.jpg">
      <div class="swiper-slide-caption">
        <div class="swiper-slide-decoration" data-caption-animate="scaleInY"><span></span></div>
        <div class="container">
          <h1 data-caption-animate="fadeInUpSmall">Providing High-Quality Business Solutions</h1>
          <div class="group group-md group-middle" data-caption-animate="fadeInUpSmall" data-caption-delay="100">
            <div class="group-item">
              <div class="group group-sm group-middle">
                <p class="text-column">for</p>
                <h1>You</h1>
              </div>
            </div><a class="button button-lg button-primary button-ujarak" href="#">Get Started</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-2-1920x850.jpg">
      <div class="swiper-slide-caption">
        <div class="swiper-slide-decoration" data-caption-animate="scaleInY"><span></span></div>
        <div class="container">
          <h1 data-caption-animate="fadeInUpSmall">A Team of Experts Working</h1>
          <div class="group group-md group-middle" data-caption-animate="fadeInUpSmall" data-caption-delay="100">
            <div class="group-item">
              <div class="group group-sm group-middle">
                <p class="text-column">for</p>
                <h1>You</h1>
              </div>
            </div><a class="button button-lg button-primary button-ujarak" href="#">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</section>