<section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-3-1920x730.jpg">
  <div class="parallax-content">
    <div class="section-md text-center">
      <div class="container">
        <div class="row row-fix justify-content-md-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3>Subscribe to Our Newsletter</h3>
            <p><span class="box-width-1">Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.</span></p> <!-- RD Mailform-->
            <form class="rd-mailform form_transparent rd-mailform_inline-3" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap"> <input class="form-input" id="subscribe-form-3-email" type="email" name="email" data-constraints="@Email @Required"> <label class="form-label" for="subscribe-form-3-email">Your E-mail</label> </div> <button
                class="button button-default fa-envelope" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>