<section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-7-1920x1320.jpg">
  <div class="parallax-content">
    <div class="section-lg">
      <div class="container">
        <h2>Meet Our Team</h2>
        <div class="row row-50">
          <div class="col-md-6 col-lg-4">
            <!-- Card Creative-->
            <article class="card-creative novi-bg novi-bg-img">
              <div class="card-creative__inner">
                <figure class="card-creative__media"><img src="images/team-1-230x211.jpg" alt="" width="230" height="211"> </figure>
                <p class="card-creative__title">Iren Liberman</p>
                <p class="card-creative__subtitle">Business Advisor</p>
                <div class="card-creative__divider"></div>
                <div class="card-creative__aside">
                  <ul class="list-inline list-inline-md social-list">
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-facebook" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-twitter" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <!-- Card Creative-->
            <article class="card-creative novi-bg novi-bg-img">
              <div class="card-creative__inner">
                <figure class="card-creative__media"><img src="images/team-2-230x211.jpg" alt="" width="230" height="211"> </figure>
                <p class="card-creative__title">Eric Smith</p>
                <p class="card-creative__subtitle">CEO &amp; Founder</p>
                <div class="card-creative__divider"></div>
                <div class="card-creative__aside">
                  <ul class="list-inline list-inline-md social-list">
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-facebook" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-twitter" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <!-- Card Creative-->
            <article class="card-creative novi-bg novi-bg-img">
              <div class="card-creative__inner">
                <figure class="card-creative__media"><img src="images/team-3-230x211.jpg" alt="" width="230" height="211"> </figure>
                <p class="card-creative__title">Emily Rose</p>
                <p class="card-creative__subtitle">Customer Support Manager</p>
                <div class="card-creative__divider"></div>
                <div class="card-creative__aside">
                  <ul class="list-inline list-inline-md social-list">
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-facebook" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-twitter" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon novi-icon icon-xs icon-darker icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>