<section class="section novi-bg novi-bg-img section-md bg-gray-light text-center">
  <div class="container">
    <h2>Our Clients</h2>
    <div class="row row-fix justify-content-md-center justify-content-lg-start row-50">
      <div class="col-md-10 col-lg-6">
        <article class="card-shadow novi-bg">
          <div class="row-style-3-wrap">
            <div class="row row-fix row-style-3">
              <div class="col-sm-6 wow fadeIn"><a class="link-image" href="#"><img src="images/brand-1-126x68.png" alt="" width="126" height="68"></a></div>
              <div class="col-sm-6 wow fadeIn"><a class="link-image" href="#"><img src="images/brand-3-134x83.png" alt="" width="134" height="83"></a></div>
              <div class="col-sm-6 wow fadeIn"><a class="link-image" href="#"><img src="images/brand-2-126x100.png" alt="" width="126" height="100"></a></div>
              <div class="col-sm-6 wow fadeIn"><a class="link-image" href="#"><img src="images/brand-4-138x55.png" alt="" width="138" height="55"></a></div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-10 col-lg-6">
        <article class="card-shadow novi-bg">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-style-1 quote-modern-carousel" data-items="1" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false">
            <article class="quote-modern">
              <div class="quote-modern__header"><img class="quote-modern__image" src="images/client-2-100x100.jpg" alt="" width="100" height="100">
                <div class="quote-modern__meta">
                  <h5 class="quote-modern__cite">Samuel Wilson,</h5>
                  <h5 class="quote-modern__subtitle">CEO “ManStep”</h5>
                </div>
              </div>
              <div class="quote-modern__text">
                <p>A dolor dolores est hic libero molestiae nam neque nihil, perferendis totam. Aliquid architecto autem deserunt distinctio dolorum earum eos nesciunt, non possimus quibusdam quis quisquam quos rem suscipit.</p>
              </div>
            </article>
            <article class="quote-modern">
              <div class="quote-modern__header"><img class="quote-modern__image" src="images/client-1-100x100.jpg" alt="" width="100" height="100">
                <div class="quote-modern__meta">
                  <h5 class="quote-modern__cite">Michelle Johnson,</h5>
                  <h5 class="quote-modern__subtitle">CEO “WorkForce”</h5>
                </div>
              </div>
              <div class="quote-modern__text">
                <p>Amet commodi consectetur corporis culpa doloribus esse omnis saepe temporibus voluptatibus. Accusantium aperiam esse expedita fugit harum labore magni minima sint? Asperiores delectus ipsa nam nisi, numquam.</p>
              </div>
            </article>
            <article class="quote-modern">
              <div class="quote-modern__header"><img class="quote-modern__image" src="images/client-3-100x100.jpg" alt="" width="100" height="100">
                <div class="quote-modern__meta">
                  <h5 class="quote-modern__cite">Ann McMillan,</h5>
                  <h5 class="quote-modern__subtitle">CEO “Creative Power”</h5>
                </div>
              </div>
              <div class="quote-modern__text">
                <p>Cupiditate fuga repellat tempore velit voluptate! Ab amet aspernatur dolorem dolores eaque eveniet nihil non nostrum officia perspiciatis? Consectetur est exercitationem illo quo quos! Ad aperiam error.</p>
              </div>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>