<section class="section section-md bg-default section-variant-3 text-center novi-bg novi-bg-img">
  <div class="container">
    <h2>Our Clients</h2> <!-- Slick Carousel-->
    <article class="owl-testimonials-widget">
      <!-- Owl Carousel-->
      <div class="owl-carousel" data-items="1" data-dots="false" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false" data-dots-custom="#quote-custom-dots">
        <div class="item">
          <!-- Quote Minimal-->
          <article class="quote-minimal">
            <div class="quote-minimal__mark"><img src="images/quote-img.png" width="39" height="21" alt=""></div>
            <div class="quote-minimal__text">
              <p>Having acquired an existing distributorship, Consult helped me maneuver through key areas of my business: sales growth planning as well as evaluating and improving my team’s performance.</p>
            </div>
            <div class="quote-minimal__info">
              <p class="heading-5 quote-minimal__title">Samuel Wilson</p>
              <p class="heading-5 quote-minimal__subtitle">CEO “ManStep”</p>
            </div>
          </article>
        </div>
        <div class="item">
          <!-- Quote Minimal-->
          <article class="quote-minimal">
            <div class="quote-minimal__mark"><img src="images/quote-img.png" width="39" height="21" alt=""></div>
            <div class="quote-minimal__text">
              <p>Two years after Consult’s involvement, we are remarkably successful and the leader in served markets. This brought industry knowledge, best practices, and real-world solutions to the intricate challenges we faced.</p>
            </div>
            <div class="quote-minimal__info">
              <p class="heading-5 quote-minimal__title">Michelle Johnson</p>
              <p class="heading-5 quote-minimal__subtitle">CEO “WorkForce”</p>
            </div>
          </article>
        </div>
        <div class="item">
          <!-- Quote Minimal-->
          <article class="quote-minimal">
            <div class="quote-minimal__mark"><img src="images/quote-img.png" width="39" height="21" alt=""></div>
            <div class="quote-minimal__text">
              <p>Through the strategic planning process, Consult helped us break down silos, become empowered, develop respect for one another, agree upon our core competencies, and develop a vision for the future.</p>
            </div>
            <div class="quote-minimal__info">
              <p class="heading-5 quote-minimal__title">Ann McMillan</p>
              <p class="heading-5 quote-minimal__subtitle">CEO “Creative Power”</p>
            </div>
          </article>
        </div>
      </div>
      <ul class="owl-custom-dots" id="quote-custom-dots">
        <li data-owl-item="0">
          <div class="quote-image"><img src="images/client-2-100x100.jpg" alt="" width="100" height="100"> </div>
        </li>
        <li data-owl-item="1">
          <div class="quote-image"><img src="images/client-1-100x100.jpg" alt="" width="100" height="100"> </div>
        </li>
        <li data-owl-item="2">
          <div class="quote-image"><img src="images/client-3-100x100.jpg" alt="" width="100" height="100"> </div>
        </li>
      </ul>
    </article>
  </div>
</section>