<section class="section section-md bg-gray-light text-center novi-bg novi-bg-img">
  <div class="container">
    <h2>Our Clients</h2> <!-- Owl Carousel-->
    <div class="owl-outer-navigation-wrap owl-carousel_nav-modern wow fadeIn">
      <div class="owl-carousel quote-creative-carousel" data-items="1" data-lg-items="2" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-navigation-container="#owl-carousel-nav"
        data-dots-each="1">
        <div class="item">
          <!-- Quote Creative-->
          <article class="quote-creative novi-bg">
            <div class="quote-creative__header">
              <div class="quote-creative__media"><img src="images/client-1-112x99.jpg" alt="" width="112" height="99"> </div>
              <div class="quote-creative__info">
                <p class="quote-creative__title">Sam Wilson</p>
                <p class="quote-creative__subtitle">CEO “ManStep”</p>
              </div>
            </div>
            <div class="quote-creative__main">
              <div class="quote-creative__mark"><img src="images/quote-img.png" width="39" height="21" alt=""></div>
              <div class="quote-creative__main-text">
                <p>A dolor dolores est hic libero molestiae nam neque nihil, perferendis totam. Aliquid architecto autem deserunt distinctio dolorum earum eos nesciunt, non possimus quibusdam quis quisquam quos rem</p>
              </div>
            </div>
          </article>
        </div>
        <div class="item">
          <!-- Quote Creative-->
          <article class="quote-creative novi-bg">
            <div class="quote-creative__header">
              <div class="quote-creative__media"><img src="images/client-2-112x99.jpg" alt="" width="112" height="99"> </div>
              <div class="quote-creative__info">
                <p class="quote-creative__title">Michelle Johnson</p>
                <p class="quote-creative__subtitle">CEO “WorkForce”</p>
              </div>
            </div>
            <div class="quote-creative__main">
              <div class="quote-creative__mark"><img src="images/quote-img.png" width="39" height="21" alt=""></div>
              <div class="quote-creative__main-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="owl-outer-navigation" id="owl-carousel-nav"></div>
    </div>
  </div>
</section>