/*
* Countdown
* --------------------------------------------------
*/

// Variables
// Default colors
$countdown-foreground-color: $secondary;
$countdown-background-color: $white;
$countdown-heading-color: $gray-6;
$countdown-counter-color: $gray-darker;

// Contrast colors
$countdown-foreground-contrast: $secondary;
$countdown-background-contrast: $white;
$countdown-heading-contrast: $gray-lighter;
$countdown-counter-contrast: $white;

// Default styles
.countdown-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	&, &:last-child {
		margin-bottom: -30px;
		margin-right: -30px;

		> * {
			margin-bottom: 30px;
			margin-right: 30px;
		}
	}
}

.countdown-circle {
	flex-basis: 100%;
	position: relative;
	display: block;

	svg {
		display: block;
		width: 100%;
		height: auto;
		fill: transparent;
	}
}

.countdown-gradient {
	.stop-color-1 {
		stop-color: $secondary;
	}
	.stop-color-2 {
		stop-color: $primary;
	}
}

.countdown-fg {
	stroke-width: 3.4px;
	stroke: url('#Gradient1');
}

.countdown-bg {
	stroke-width: 2.8px;
	stroke: $countdown-background-color;
}

.countdown-overlay {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.countdown-counter {
	display: block;
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
	color: $countdown-counter-color;

	@include media-breakpoint-up(md) {
		font-size: 26px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 36px;
	}
}

.countdown-heading {
	font-weight: 400;
	text-transform: uppercase;
	color: $countdown-heading-color;
}

.countdown-seconds {
	display: none;

	@include media-breakpoint-up(sm) {
		display: block;
	}
}

// Context styling
%context-dark {
	.countdown-counter {
		color: $countdown-background-contrast;
	}

	.countdown-heading {
		color: $countdown-heading-contrast;
	}
}

// Offsets
* + .countdown-wrap {
	margin-top: 33px;
}

* + .countdown-heading {
	margin-top: 4px;
}

@include media-breakpoint-up(sm) {
	* + .countdown-heading {
		margin-top: 9px;
	}
}

@include media-breakpoint-up(xl) {
	* + .countdown-wrap {
		margin-top: 48px;
	}
	.countdown-wrap + p {
		margin-top: 39px;
	}
}