/*
*
* Owl Carousel
* 
*/

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  font: 400 40px/80px 'FontAwesome';
  cursor: pointer;
  z-index: 1;
  transition: scale 100ms ease;
  &:before {
    content: '\f144';
  }
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/*
 * Owl Navigation
 */

.owl-nav {
  
  &.disabled {
    display: none !important;
  }
}

.owl-carousel_nav-modern {
  .owl-prev,
  .owl-next,
  .owl-prev,
  .owl-next {
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 61px;
    width: 28px;
    border: 2px solid $gray-9;
    cursor: pointer;
    transition: .3s;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      border: 0 solid $gray-9;
      transition: .3s;
    }
    
    &::before {
      top: 0;
      height: 24px;
      width: 17px;
      border-bottom-width: 2px;
    }
    
    &::after {
      width: 26px;
      height: 25px;
      bottom: 0;
      border-top-width: 2px;
    }
    
    &:hover {
      width: 40px;
      &,
      &::before,
      &::after {
        border-color: $primary;
      }
      
      &::before {
        width: 26px;
      }
    }
  }
  
  .owl-prev,
  .owl-prev {
    border-left: 0;
    
    &::before {
      right: 19px;
    }
    &::after {
      right: 28px;
    }
    
    &:hover {
      margin-left: -6px;
      &::before {
        right: 28px;
      }
    }
  }
  
  .owl-next,
  .owl-next {
    border-right: 0;
    
    &::before {
      left: 19px;
    }
    &::after {
      left: 28px;
    }
    
    &:hover {
      margin-right: -6px;
      &::before {
        left: 28px;
      }
    }
  }
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font: 400 46px/50px 'FontAwesome';
  color: $black;
  
  &:hover {
    color: $primary;
  }
}

.owl-prev {
  left: 0;
  
  &:before {
    content: '\f104';
  }
}

.owl-next {
  right: 0;
  
  &:before {
    content: '\f105';
  }
}

/*
 * Owl Pagination
 */

.owl-dots {
  text-align: center;
  margin-top: 10px;
}

.owl-dot {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid $primary;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: .2s;
  
  &:only-child {
    display: none;
  }
  
  &.active {
    background-color: $primary;
  }
}

/**
* Owl custom styles
*/

// Carousel with Quotes Creative inside
.quote-creative-carousel {
  margin-top: -30px;

  .owl-stage-outer {
    padding: 30px 0;
  }
  
  .quote-creative {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .owl-dots { margin-top: -10px; }
  
  @include media-breakpoint-up(sm) {
    .owl-item {
      padding: 30px 45px;
    }

    .item { 
      margin-left: -20px; 
      margin-right: -20px;
    }
  }
}

// Outer Navigation: Modern Style
.owl-outer-navigation-wrap.owl-carousel_nav-modern {
  position: relative;
  
  @include media-breakpoint-down(lg) {
    .owl-prev,
    .owl-next {
      display: none;
    }
  }
  
  @include media-breakpoint-up(xl) {
    padding-left: 45px;
    padding-right: 45px;
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .owl-prev { left: 0; }
    .owl-next { right: 0; }
    
    .owl-dots {
      display: none !important;
    }
  }
  
  @include media-breakpoint-up(xxl) {
    padding-left: 0;
    padding-right: 0;
    
    .owl-prev { left: -10%; }
    .owl-next { right: -10%; }
  }
}

* + .owl-outer-navigation-wrap {
  margin-top: 30px;
}

// Owl Style 1
.owl-style-1 {
  padding: 20px 8px;
  
  .quote-modern {
    padding: 0;
  }
  
  .owl-dots {
    margin-top: 20px;
  }
  
  .owl-dot {
    width: 15px;
    height: 15px;
    border: 2px solid $gray;
    background-color: transparent;
    border-radius: 50%;
    
    &:hover,
    &.active {
      background: $primary;
      border-color: $primary;
    }
  }
  
  @include media-breakpoint-up(sm) {
    padding: 30px 48px 30px 30px;
    .owl-dots {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
    }
    
    .owl-dot {
      display: block;
    }
    
    .owl-dot + .owl-dot {
      margin-top: 7px;
    }
  }
  
  @include media-breakpoint-up(md) {
    padding: 40px 35px;
  }
  
  @include media-breakpoint-up(lg) {
    padding: 40px 70px 40px 35px;
  }
  
  @include media-breakpoint-up(xl) {
    padding: 48px 70px 48px 35px;
    .owl-dots {
      right: 48px;
    }
  }
}

.owl-testimonials-widget {
  .owl-custom-dots {
    display: flex;
    justify-content: center;
  
    > li {
      position: relative;
      padding: 0 5px;
      cursor: pointer;
  
      &,
      * {
        border-radius: 50%;
      }
    }
    
    > li:hover,
    > li.active {
      .quote-image {
        transform: scale3d(1, 1, 1);
        box-shadow: 5px 3px 5px 0 rgba($black, 0.15);
      
        &::after {
          opacity: 0;
        }
      }
    }
  }
  
  .quote-image {
    max-width: 80px;
    transform: scale3d(.8, .8, .8);
    transition: .22s;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($white, .45);
      transition: .22s;
      pointer-events: none;
    }
  }
  
  * + .owl-custom-dots { margin-top: 20px; }
  
  @include media-breakpoint-up(md) {
    > li {
      padding: 0 20px;
    }
    .quote-image {
      max-width: 100px;
    }
  
    * + .owl-custom-dots { margin-top: 39px; }
  }
}

* + .owl-testimonials-widget { margin-top: 31px; }

/**
* Owl Carousel Centered
*/
.owl-carousel_centered {
  
  @include media-breakpoint-up(md) {
    margin-bottom: -20px;
    
    .owl-stage {
      padding: 25px 0;
    }
    
    .owl-item {
      padding: 0 13px;
      transform: scale3d(1, 1, 1);
      transform-origin: 99% 47%;
      transition: .33s;
      
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: rgba($white, .2);
        opacity: 0;
        transition: .44s;
      }
      
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    .item {
      margin-left: -13px;
      margin-right: -13px;
    }
    
    .owl-item.center {
      transform: scale3d(1.1, 1.1, 1);
      transition: .66s;
      z-index: 1;
      transform-origin: 50% 50%;
      
      & + .owl-item {
        transform-origin: 1% 47%;
      }
    }
  }
}
