/*
* @subsection   RD Navbar
*
* @description  Describes style declarations for RD Navbar extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
*/
@import "rd-navbar_includes/_rd-navbar-mixins.scss";

/*
* @subsection General Styles
*/

$rd-navbar-min-font-size: 24px;
$rd-navbar-min-line-height: 48px;
$rd-navbar-min-height: 56px;

$rd-navbar-color: $gray-darker;
$rd-navbar-background: $white;
$rd-navbar-shadow: none;
$rd-navbar-width: map-get($container-max-widths, xl);
$rd-navbar-border: $gray-lighter;

//RD Navbar panel 
$rd-navbar-panel-color: $rd-navbar-color;
$rd-navbar-panel-background: $rd-navbar-background;

//RD Navbar nav
$rd-navbar-nav-min-width: 270px;
$rd-navbar-nav-color: $black;
$rd-navbar-nav-background: transparent;
$rd-navbar-nav-hover-color: $primary;
$rd-navbar-nav-hover-background: transparent;
$rd-navbar-nav-active-color: $rd-navbar-nav-hover-color;
$rd-navbar-nav-active-background: transparent;
$rd-navbar-submenu-border: $black;

//RD Navbar dropdown
$rd-navbar-dropdown-width: 210px;
$rd-navbar-dropdown-background: $rd-navbar-background;
$rd-navbar-dropdown-item-color: $rd-navbar-nav-color;
$rd-navbar-dropdown-item-background: transparent;
$rd-navbar-dropdown-item-hover-color: $primary;
$rd-navbar-dropdown-item-hover-background: transparent;
$rd-navbar-dropdown-item-active-color: $rd-navbar-dropdown-item-hover-color;
$rd-navbar-dropdown-item-active-background: $rd-navbar-dropdown-item-hover-background;

//RD Navbar megamenu
$rd-navbar-megamenu-gutter: 30px;
$rd-navbar-megamenu-background: $rd-navbar-dropdown-background;
$rd-navbar-megamenu-item-color: $rd-navbar-dropdown-item-color;
$rd-navbar-megamenu-item-background: transparent;
$rd-navbar-megamenu-item-hover-color: $rd-navbar-dropdown-item-hover-color;
$rd-navbar-megamenu-item-hover-background: transparent;

//RD Navbar togles
$rd-navbar-toggle-preset: "button-lines-arrow-1";
$rd-navbar-search-toggle-preset: "search-preset-1";
$rd-navbar-collapse-toggle-preset: "collapse-preset-1";

//RD Navbar Fixed
$rd-navbar-fixed-height: $rd-navbar-min-height;
$rd-navbar-fixed-line-height: $rd-navbar-min-line-height;
$rd-navbar-fixed-font-size: $rd-navbar-min-font-size;
$rd-navbar-fixed-panel-color: $gray-darker;
$rd-navbar-fixed-toggle-color: $gray;
$rd-navbar-fixed-panel-background: $white;
$rd-navbar-fixed-shadow: none;
$rd-navbar-fixed-border: $rd-navbar-border;

$rd-navbar-fixed-panel-item-color: $gray-darker;
$rd-navbar-fixed-panel-item-hover-color: $white;
$rd-navbar-fixed-panel-item-background: $rd-navbar-fixed-panel-background;
$rd-navbar-fixed-panel-item-hover-background: $primary;

$rd-navbar-fixed-panel-item-font-size: 12px;
$rd-navbar-fixed-panel-item-line-height: 24px;
$rd-navbar-fixed-panel-item-padding-vertical: 9px;
$rd-navbar-fixed-panel-item-height: 41px;

$rd-navbar-fixed-submenu-toggle-color: $gray-darker;
$rd-navbar-fixed-submenu-toggle-hover-color: $primary;
$rd-navbar-fixed-submenu-toggle-focus-color: $white;

$navbar-static-nav-indent: 20px;

$navbar-fullwidth-nav-indent: 45px;

// RD Navbar Basics
%rd-navbar-transition {
  transition: .32s all cubic-bezier(1, 0.54, 0.15, 0.86);
}

%rd-navbar-hidden {
  display: none;
}

%rd-navbar-visible {
  display: block;
}

.rd-navbar--no-transition {
  &, * {
    transition: none !important;
  }
}

.rd-navbar-wrap {
  position: relative;
  z-index: 1081;
  font-size: 0;
  line-height: 0;
  @extend %rd-navbar-transition;
}

.rd-navbar, .rd-navbar.rd-navbar--is-clone {
  @extend %rd-navbar-hidden;
}

.rd-navbar-fixed,
.rd-navbar-static {
  @extend %rd-navbar-visible;
}

.rd-navbar-wrap,
.rd-navbar,
.rd-navbar-brand,
.rd-navbar-slogan,
.rd-navbar-dropdown,
.rd-navbar-megamenu,
.rd-navbar-collapse-items,
.brand-name,
.rd-navbar-nav,
.rd-navbar-panel,
.rd-navbar-search-form-input,
.rd-navbar-search-form-submit,
.rd-navbar-search-toggle,
.rd-navbar-live-search-results,
.rd-navbar-search-form {
  transition: .3s all ease;
}

// RD Navbar Collapse
.rd-navbar-collapse {
  &-toggle {
    @include make-toggle(
                    $rd-navbar-collapse-toggle-preset,
                    $rd-navbar-min-line-height,
                    $rd-navbar-min-font-size,
                    $rd-navbar-panel-color
    );
    display: none;
  }
}

@import "rd-navbar_includes/_rd-navbar-components.scss";

/*
* @subsection   Hybrid  Styles
*/
.rd-navbar.rd-navbar-fixed + .rd-navbar.rd-navbar--is-clone {
  display: none;
}

.rd-navbar {
  font-size: $font-size-base;
  line-height: $line-height-base;

  .rd-navbar-nav {
    > li {
      font-size: $font-size-base;
      line-height: 1.4;
    }

    > li > a {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  }
}

.rd-navbar-static {
  .rd-navbar-nav {
    // RD Navbar Megamenu
    .rd-navbar-submenu {
      > .rd-navbar-dropdown,
      > .rd-navbar-megamenu {
        opacity: 0;
        visibility: hidden;
      }

      &.focus {
        opacity: 1;
        visibility: visible;
      }
    }

    .rd-navbar-submenu {
      > .rd-navbar-dropdown,
      > .rd-navbar-megamenu {
        transform: scale(1, .9);
        transform-origin: 50% 0;
      }

      &.opened,
      &.focus {
        > .rd-navbar-dropdown,
        > .rd-navbar-megamenu {
          transform: scale(1, 1);
        }
      }

      .rd-navbar-submenu.focus > .rd-navbar-dropdown,
      .rd-navbar-submenu.opened > .rd-navbar-dropdown {
        display: block;
      }
    }
  }

  .rd-navbar-nav {
    > li {
      display: inline-block;
      white-space: nowrap;

      a {
        position: relative;
        white-space: normal;
        z-index: 2;
        display: inline-block;
        color: $rd-navbar-nav-color;
        background: $rd-navbar-nav-background;
        cursor: pointer;
      }

      &.opened > a,
      &.active > a,
      &.focus > a,
      & > a:hover {
        color: $rd-navbar-nav-active-color;
        background: $rd-navbar-nav-active-background;
      }
    }

    li.focus,
    li.opened {
      > .rd-navbar-dropdown,
      > .rd-navbar-megamenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    .rd-navbar--has-dropdown {
      position: relative;
    }

    > li > .rd-navbar-dropdown {
      position: absolute;
      left: 0;
      z-index: 5;
      display: block;
      text-align: left;

      &.rd-navbar-open-left {
        left: 0;
        right: auto;
      }
    }
  }


  // RD Navbar Dropdown & Megamenu
  .rd-navbar-dropdown,
  .rd-navbar-megamenu {
    border: 1px solid $rd-navbar-border;
  }

  // RD Navbar Dropdown
  .rd-navbar-dropdown {
    width: $rd-navbar-dropdown-width;
    padding: 0;
    margin-top: 28px;
    background: $rd-navbar-dropdown-background;

    .rd-navbar-dropdown {
      position: absolute;
      left: 100%;
      margin-left: 35px;
      top: -25px;

      &.rd-navbar-open-right {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 35px;
      }
    }

    > li > a {
      display: block;
      width: 100%;
      padding: 18px 25px;
      font-size: 14px;
      &,
      &:focus,
      &:active {
        color: $rd-navbar-dropdown-item-color;
        background: $rd-navbar-dropdown-item-background;
      }
    }

    > li > a:hover {
      color: $rd-navbar-dropdown-item-hover-color;
      background: $rd-navbar-dropdown-item-hover-background;
    }

    > li.focus > a,
    > li.opened > a {
      color: $rd-navbar-dropdown-item-active-color;
      background: $rd-navbar-dropdown-item-active-background;
    }
    
    > li + li {
      border-top: 1px solid $rd-navbar-border;
    }
  }

  // RD Navbar Megamenu
  .rd-navbar-megamenu {
    position: absolute;
    z-index: 4;
    display: flex;
    table-layout: fixed;
    width: calc(100% - 30px);
    left: 15px;
    max-width: $rd-navbar-width;
    margin-top: 28px;
    text-align: left;
    background: $rd-navbar-megamenu-background;

    > li {
      position: relative;
      flex-grow: 1;
      flex-basis: 25%;
      padding: 22px 20px 30px 30px;
    }

    // Resize
    @include media-breakpoint-up(xl) {
      width: map-get($container-max-widths, xl) - $grid-gutter-width;
      left: calc(50vw - #{map-get($container-max-widths, xl) / 2 - $grid-gutter-width / 2});
    }
  }

  .rd-megamenu-header {
    position: relative;
    display: block;
    padding-bottom: 9px;
    font-weight: 700;
    color: $primary;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

  * + .rd-megamenu-header {
    margin-top: 40px;
  }

  * + .rd-megamenu-list {
    margin-top: 22px;
  }

  .rd-navbar-items-list {
    > li {
      display: inline-block;
      padding-left: 35px;
      padding-right: 35px;
    }

    > li:first-child { margin-left: 0; }
    > li:last-child { margin-right: 0; }

    > li:not(:last-child) {
      border-right: 1px solid $rd-navbar-border;
    }
  }

  // RD Navbar Search
  .rd-navbar-search-toggled {
    .rd-search {
      position: absolute;
      z-index: 10;
      top: -10px;
      transform-origin: 100% 50%;
      transition: .33s;
      opacity: 0;
      visibility: hidden;
    }

    .rd-navbar-search-toggle {
      opacity: 1;
      visibility: visible;
    }

    &.active {
      .rd-search {
        opacity: 1;
        visibility: visible;
        top: 0;
      }
    }
  }

  // RD Navbar Submenu Toggle
  .rd-navbar-nav > li {
    white-space: nowrap;

    > * {
      white-space: normal;
    }

    > .rd-navbar-submenu-toggle {
      display: inline-block;
      width: 17px;
      text-align: center;
      cursor: pointer;
      color: $rd-navbar-nav-color;

      &::after {
        content: '\f107';
        position: relative;
        display: inline-block;
        font: 400 14px "FontAwesome";
        text-align: center;
        transition: 0.4s all ease;
        z-index: 2;
       
        will-change: transform;
        -webkit-filter: blur(0);
      }
    }

    .rd-navbar-dropdown {

      .rd-navbar-submenu {
        a {
          position: relative;
          margin-right: 15px;
        }

        &.opened > .rd-navbar-submenu-toggle,
        a:hover ~ .rd-navbar-submenu-toggle {
          color: $rd-navbar-dropdown-item-hover-color;
        }

        &.focus,
        & > a:hover + {
          .rd-navbar-submenu-toggle {
            opacity: 0;
            right: -19px;
          }
        }
      }

      .rd-navbar-submenu-toggle {
        position: absolute;
        top: 2px;
        right: -15px;
        cursor: pointer;
        padding: 3px;
        line-height: 1;
        color: $rd-navbar-nav-color;
        transition: .22s;

        &::after {
          content: '\f105';
          position: relative;
          display: inline-block;
          font: 400 14px "FontAwesome";
          text-align: center;
          transition: 0.4s all ease;
          z-index: 2;
          will-change: transform;
          -webkit-filter: blur(0);
        }
      }
    }

    &.focus > .rd-navbar-submenu-toggle,
    &.opened > .rd-navbar-submenu-toggle,
    & > a:hover + .rd-navbar-submenu-toggle {
      &::after {
        transform: rotate(180deg);
      }
    }

    &.active > .rd-navbar-submenu-toggle,
    &.focus > .rd-navbar-submenu-toggle,
    &.opened > .rd-navbar-submenu-toggle,
    & > a:hover + .rd-navbar-submenu-toggle {
      color: $rd-navbar-nav-hover-color;
    }
  }

  // RD Navbar List
  .rd-megamenu-list {
    > li > a {
      position: relative;
      display: block;
      width: 100%;
      letter-spacing: .05em;
      font-size: 14px;
      line-height: 1.6;
      padding: 1px 14px 1px 0;
      @include link($rd-navbar-dropdown-item-color, $rd-navbar-dropdown-item-hover-color);

      &,
      &::before {
        transition: .2s all linear;
      }

      &::before {
        position: absolute;
        top: 1px;
        left: -6px;
        content: '\f105';
        font-family: 'FontAwesome';
        font-size: inherit;
        line-height: inherit;
        color: $rd-navbar-dropdown-item-hover-color;
        opacity: 0;
        visibility: hidden;
      }
    }

    > li > a:hover,
    > li.focus > a {
      padding-left: 14px;
      padding-right: 0;

      &::before {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }

    > li > a {
      &,
      &:focus,
      &:active {
        color: $rd-navbar-megamenu-item-color;
        background: $rd-navbar-dropdown-item-background;
      }
    }

    > li > a:hover {
      color: $rd-navbar-megamenu-item-hover-color;
      background: $rd-navbar-dropdown-item-hover-background;
    }

    > li + li {
      margin-top: 10px;
    }

    @include media-breakpoint-up(xxl) {
      > li + li {
        margin-top: 20px;
      }
    }
  }
}


@import "rd-navbar_includes/rd-navbar-fixed.scss";
@import "rd-navbar_includes/rd-navbar-classic"; 
@import "rd-navbar_includes/rd-navbar-modern";
@import "rd-navbar_includes/rd-navbar-creative";

