//
// Nav custom
// 

// Tabs
//

// Corporate style
$tabs-corporate-color: $body-color;
$tabs-corporate-background: transparent;
$tabs-corporate-active-color: $white;
$tabs-corporate-active-background: $primary;
$tabs-corporate-active-background2: $secondary;
$tabs-corporate-border: #e5e7e9;

// Base styles
.nav {
	display: block;
}

.tabs-custom {
	text-align: left;
	.nav-tabs {
		font-size: 0;
		line-height: 0;
		word-spacing: 0;
		border: 0;

		&:before,
		&:after {
			display: none;
		}
	}

	.nav-item {
		float: none;
		border: 0;
		cursor: pointer;
		transition: .33s all ease;
	}

	.nav-link {
		margin: 0;
		border-radius: 0;
		border: 0;
	}

	.nav-link.active {
		cursor: default;
	}
}

.tab-content > .tab-pane {
	display: block;
	visibility: hidden;
	height: 0;
	overflow: hidden;
}

.tab-content > .active {
	visibility: visible;
	height: auto;
	overflow: visible;
}

.page .tabs-custom.tabs-centered {
	.nav-tabs,
	.tab-content {
		text-align: center;
	}
}

// Offsets
* + .tabs-horizontal.tabs-corporate {
	margin-top: 25px;
}

* + .tabs-vertical.tabs-corporate {
	margin-top: 40px;
}

@include media-breakpoint-up(md) {
	* + .tabs-vertical.tabs-corporate {
		margin-top: 60px;
	}
}

@include media-breakpoint-up(xl) {
	* + .tabs-vertical.tabs-corporate {
		margin-top: 80px;
	}
}

// Tabs line
.tabs-custom.tabs-line {
	.nav-tabs {
		position: relative;
	}

	.nav-link {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.4;
		text-align: center;
		vertical-align: middle;
	}

	* + .tab-content {
		margin-top: 20px;
	}

	@include media-breakpoint-down(sm) {
		.nav-tabs {
			max-width: 100%;
			border: 1px solid $tabs-corporate-border;
		}

		.nav-item {
			margin: -1px;
		}

		.nav-link {
			padding: 7px 10px;
			color: $tabs-corporate-color;
			background: $tabs-corporate-background;
			border-bottom: 1px solid $tabs-corporate-border;

			&:first-child {
				border-top: 1px solid $tabs-corporate-border;
			}
		}

		.nav-link:hover,
		.nav-link.active {
			color: $tabs-corporate-active-color;
			background: $primary;
			border-color: $primary;
		}
	}
}

// Tabs corporate style
.tabs-corporate {
	.nav-tabs {
		position: relative;
		border: 1px solid $tabs-corporate-border;
	}

	.nav-item {
		margin: -1px;
	}

	.nav-link {
		padding: 10px 10px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
		line-height: 1.4;
		color: $tabs-corporate-color;
		background: $tabs-corporate-background;
		border-bottom: 1px solid $tabs-corporate-border;
		text-align: center;
		vertical-align: middle;

		&:first-child {
			border-top: 1px solid $tabs-corporate-border;
		}
	}

	.nav-link:hover,
	.nav-link.active {
		color: $tabs-corporate-active-color;
		background: $tabs-corporate-active-background;
		border-color: $tabs-corporate-active-background;
	}

	.tab-content {
		padding: 30px 0 0;
	}
}

// Tabs creative style
.tabs-creative {
	.nav-tabs {
		position: relative;
		background: $gray-light;
	}

	.nav-link {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;
		line-height: 1.4;
		text-align: center;
		vertical-align: middle;
	}

	.tab-content {
		padding: 30px 0 0;
	}

	@include media-breakpoint-down(md) {
		.nav-tabs {
			border: 1px solid $body-color;
		}

		.nav-item {
			margin: -1px;
		}

		.nav-link {
			padding: 10px;
			background: $white;
			border-top: 1px solid $tabs-corporate-border;
			border-bottom: 1px solid $tabs-corporate-border;
		}

		.nav-link:hover,
		.nav-link.active {
			color: $white;
			background: $secondary;
			border-color: $secondary;
		}
	}
}

// Tabs Bordered
.tabs-custom.tabs-bordered {
	.nav-tabs {
		position: relative;
	}

	.nav-link {
		font-family: $font-family-sec;
		font-size: 16px;
		line-height: 1.4;
		text-align: center;
		vertical-align: middle;
		color: $gray-9;
		background: transparent;
	}

	.nav-link:hover,
	.nav-link.active {
		color: $primary;
		background: transparent;
		border-color: $primary;
	}

	* + .tab-content {
		margin-top: 20px;
	}

	@include media-breakpoint-down(sm) {
		.nav-tabs {
			max-width: 100%;
			border: 1px solid $gray-2;
		}

		.nav-item {
			margin: -1px;
		}

		.nav-link {
			padding: 7px 10px;
			border-bottom: 1px solid $gray-2;
		}
	}
}

@include media-breakpoint-up(md) {
	// Horizontal tabs
	// 
	.tabs-horizontal {
		&.tabs-corporate {
			.nav-tabs {
				position: relative;
				width: 100%;
				display: block;
				justify-content: center;
				text-align: center;
				@include spacing(10px);
				border: 0;
				will-change: transform;
			}

			.nav-item {
				display: inline-block;
				will-change: transform;
				flex-grow: 1;
				flex-shrink: 0;
			}

			.nav-link {
				display: block;
				position: relative;
				z-index: 1;
				min-width: 130px;
				letter-spacing: .1em;
				padding: 13px 20px;
				border: 2px solid $tabs-corporate-border;

				&,
				&::before {
					transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
				}

				&::before {
					content: '';
					position: absolute;
					top: -2px;
					left: -2px;
					width: calc(100% + 4px);
					height: calc(100% + 4px);
					z-index: -1;
					opacity: 0;
					transform: scale3d(0.7, 1, 1);
					transition: transform 0.4s, opacity 0.4s;
					transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
					background: linear-gradient(to right, $tabs-corporate-active-background2, $tabs-corporate-active-background);
				}
			}

			.nav-link.active,
			.nav-link:hover {
				color: $tabs-corporate-active-color;
				border-color: transparent;
				background-color: transparent;

				&::before {
					opacity: 1;
					transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
				}
			}

			&.tabs-corporate_left {
				.nav-tabs {
					text-align: left;
				}

				.tab-content {
					padding: 30px 0 0;
				}
			}
		}
		&.tabs-line {
			.nav-tabs {
				border: 0;
				border-bottom: 4px solid $gray-4;
			}

			.nav-item {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 52px;
				}
			}

			.nav-link {
				position: relative;
				padding: 0 0 15px 0;
				background-color: transparent;
				color: $gray;
				border: 0;

				&::after {
					content: '';
					position: absolute;
					bottom: -4px;
					left: 0;
					height: 4px;
					width: 0;
					background: $primary;
					transition: .22s ease;
				}
			}

			.nav-link.active,
			.nav-link:hover {
				color: $gray-darker;
			}

			.nav-link.active {
				&::after {
					width: 100%;
				}
			}

			* + .tab-content {
				margin-top: 30px;
			}
		}
		&.tabs-bordered {
			.nav-tabs {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				@include spacing(15px);
			}

			.nav-item {
				display: block;
				flex-grow: 1;
				flex-basis: 33.215%;
				max-width: 33.215%;
			}

			.nav-link {
				position: relative;
				display: block;
				padding: 10px;
				font-size: 20px;
				border: 2px solid;

				&:after {
					content: "";
					position: absolute;
					left: -2px;
					top: -2px;
					right: -2px;
					bottom: -2px;
					border: 2px solid;
					border-image: linear-gradient(90deg, $secondary 38%, $primary 65%);
					border-image-slice: 1;
					opacity: 0;
					transition: inherit;
					pointer-events: none;
				}
			}

			.nav-link.active,
			.nav-link:hover {
				color: $gray-darker;

				&:after {
					opacity: 1;
				}
			}

			* + .tab-content {
				margin-top: 50px;
			}
		}
	}

	// Vertical tabs
	.tabs-vertical {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;

		.nav-tabs {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: stretch;
			flex-shrink: 0;
			max-width: 50%;
		}

		.nav-item {
			border: 0;
			width: 100%;
			text-align: left;
		}

		.nav-link.active,
		.nav-link:hover {
			box-shadow: 0 9px 21px 0 rgba(#1e1e1e, .13);
		}

		.tab-content {
			flex-grow: 1;
		}

		// Tabs corporate
		&.tabs-corporate {
			.nav-tabs {
				width: auto;
				min-width: 260px;
				border: 0;
			}

			.nav-item {
				margin: 0;
			}

			.nav-link {
				position: relative;
				z-index: 1;
				padding: 17px 30px;
				border: 0;
				overflow: hidden;
				text-align: left;

				&::before {
					content: '';
					position: absolute;
					top: -2px;
					left: -2px;
					width: calc(100% + 4px);
					height: calc(100% + 4px);
					z-index: -1;
					opacity: 0;
					transform: scale3d(0.7, 1, 1);
					transition: transform 0.4s, opacity 0.4s;
					transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
					background: linear-gradient(to right, $tabs-corporate-active-background2, $tabs-corporate-active-background);
				}
			}

			.nav-link.active,
			.nav-link:hover {
				color: $tabs-corporate-active-color;
				border-color: transparent;
				background-color: transparent;

				&::before {
					opacity: 1;
					transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
				}
			}

			.nav-item + .nav-item {
				margin-top: 2px;
			}

			.tab-content {
				padding: 0 0 0 30px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	// Horizontal tabs
	.tabs-horizontal {

		// Tabs Corporate
		&.tabs-corporate {
			.tab-content {
				padding-top: 60px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}

		// Tabs Creative
		&.tabs-creative {
			.nav-tabs {
				padding-left: 0;
				padding-right: 0;
			}

			.nav-item {
				padding: 20px 30px;
				display: inline-block;
				vertical-align: middle;
				border: 0;
			}

			.nav-link {
				font-size: 14px;
				letter-spacing: .1em;
				padding: 0;
				background-color: transparent;
			}

			.nav-link.active,
			.nav-link:hover {
				color: $secondary;
			}

			.tab-content {
				padding-top: 50px;
			}
		}
	}

	// Vertical tabs
	.tabs-vertical {

		// Tabs corporate
		&.tabs-corporate {
			.tab-content {
				padding: 0 0 0 45px;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	// Horizontal tabs
	.tabs-horizontal {
		&.tabs-bordered {
			.nav-link {
				font-size: 36px;
				padding: 25px 20px;
			}
		}
	}
}
