//
// Time Circles
// 

/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
.time_circles {
  position: relative;
  width: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
  position: absolute;
  top: 0 !important;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  text-align: center;
  > * {
    margin-bottom: 5px;
  }
  
  @include media-breakpoint-up(sm) {
    > * {
      margin-bottom: 8px;
    }
  }
}

@include media-breakpoint-up(xl) {
  #DateCountdown {
    width: 100%;
  }
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: $font-family-base;
  font-size: 11px !important;
  line-height: 1.2 !important;
  letter-spacing: .05em;
  color: $gray;
  text-transform: uppercase;

  & + * {
    margin-top: 0;
  }
  
  @include media-breakpoint-up(md) {
    font-size: 14px !important;
  }
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
  display: block;
  text-align: center;
  letter-spacing: 0;
  font-family: $font-family-sec;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 1 !important;
  color: $gray-darker;

  @include media-breakpoint-up(md) {
    font-size: 24px !important;
  }

  @include media-breakpoint-up(lg) {
    font-size: 36px !important;
  }
}

.countdown-wraper {
  max-width: 765px;
  margin-left: auto;
  margin-right: auto;
}

* + .countdown-wraper {
  margin-top: 15px;
}

@include media-breakpoint-up(md) {
  * + .countdown-wraper {
    margin-top: 45px;
  }
}

.countdown-wraper + .button {
  margin-top: 40px;
}
