/*
* Fixed Layout
*/
.rd-navbar-fixed {
	display: block;

	// RD Navbar Brand
	.rd-navbar-brand .brand {
		position: fixed;
		text-align: left;
		top: -1px;
		left: $rd-navbar-min-height;
		height: $rd-navbar-min-height;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		overflow: hidden;
		z-index: 17;

		img {
			width: auto;
		}

		.brand__slogan {
			display: none;
		}
	}

	// RD Navbar Panel
	.rd-navbar-panel {
		display: flex;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		padding: ($rd-navbar-fixed-height - $rd-navbar-fixed-line-height) / 2;
		height: $rd-navbar-fixed-height;
		z-index: 999;
		border-bottom: 1px solid $rd-navbar-border;
	}

	.rd-navbar-panel__content {
		position: relative;
		z-index: 11;
	}

	// RD Navbar Toggle
	.rd-navbar-toggle {
		display: inline-block;
	}

	.rd-navbar-panel__button {
		position: fixed;
		right: 55px;
		top: 8px;
		z-index: 1002;
		font-size: 0;
		line-height: 0;

		.button {
			height: $rd-navbar-fixed-height - 16px;
			width: $rd-navbar-fixed-height - 16px;

			font-size: 0;
			padding: 7px 5px;

			.icon {
				top: 0;
				padding-left: 0;
				padding-right: 0;
				font-size: 18px;
				line-height: 1;
			}
		}
	}

	// RD Navbar Nav Wrap
	.rd-navbar-nav-wrap {
		@extend %rd-navbar-transition;
		position: fixed;
		z-index: 100;
		top: -56px;
		left: 0;
		width: 280px;
		padding: $rd-navbar-min-height  * 2 0 ($rd-navbar-min-height + 25px);
		bottom: -$rd-navbar-min-height;
		box-shadow: $rd-navbar-shadow;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transform: translateX(-110%);
		border-right: 1px solid $rd-navbar-border;

		&.active {
			transform: translateX(0);
		}

		.firefox & {
			> *:last-child {
				margin-bottom: 80px;
			}
		}

		.rd-navbar-element {
			margin: 15px;
			display: flex;
			align-items: center;
			> * + * {
				margin-left: 5px;
			}
		}

		.rd-navbar-search {
			width: auto;
			.form-input,
			.form-label {
				font-size: 14px;
			}

			.rd-navbar-search-submit {
				&::before {
					font-size: 17px;
				}
			}
		}

		.link-wrap {
			height: 50px;
			width: 50px;
			flex-shrink: 0;
			padding-top: 5px;
			padding-left: 4px;
			line-height: 50px;
			text-align: center;
			background: $gray-lighter;
			transition: .22s;

			.link-cart {
				&__count {
					top: -14px;
				}

				.icon {
					color: $gray-darker;
				}
			}

			&:hover {
				background: $primary;
				.icon,
				.link-cart {
					color: $white;
				}
			}
		}
	}

	// RD Navbar Nav
	.rd-navbar-nav {
		display: block;
		margin: 15px 0;
		height: auto;
		text-align: left;

		> li > a {
			font-size: $rd-navbar-fixed-panel-item-font-size;
			line-height: ($rd-navbar-fixed-panel-item-line-height / $rd-navbar-fixed-panel-item-font-size);
		}

		li {
			text-align: left;
			> a {
				display: block;
				padding: $rd-navbar-fixed-panel-item-padding-vertical 56px $rd-navbar-fixed-panel-item-padding-vertical 18px;
			}
		}

		> li + li {
			margin-top: 4px;
		}
	}

	.rd-navbar-submenu {
		position: relative;
		@extend %rd-navbar-transition;

		.rd-navbar-dropdown {
			.rd-navbar-submenu-toggle:after {
				height: 34px;
				line-height: 34px;
			}
		}

		.rd-navbar-dropdown > li > a {
			padding-left: 30px;
		}

		.rd-navbar-dropdown li li > a,
		.rd-navbar-megamenu ul li li > a {
			padding-left: 46px;
		}

		&.opened {
			> .rd-navbar-dropdown,
			> .rd-navbar-megamenu {
				display: block;
			}
		}
	}

	.rd-navbar-dropdown,
	.rd-navbar-megamenu {
		display: none;
	}

	.rd-megamenu-list,
	.rd-navbar-dropdown {
		> li > a {
			padding: 9px 56px 9px 16px;
			font-size: 12px;
			line-height: 1.5;
		}

		> li + li {
			margin-top: 3px;
		}
	}

	.rd-megamenu-list {
		> li > a {
			padding-left: 30px;
		}
	}

	.rd-navbar-megamenu {
		.rd-megamenu-header {
			position: relative;
			display: block;
			padding: 0 20px 7px;
			font-family: $font-family-sec;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: .06em;
			line-height: 1.5;

			&::after {
				content: '';
				position: absolute;
				left: 20px;
				right: 20px;
				bottom: 0;
				border-bottom: 1px solid $rd-navbar-border;
			}
		}

		// Offsets
		* + .rd-megamenu-list {
			margin-top: 11px;
		}
		* + .rd-megamenu-header {
			margin-top: 20px;
		}

		> li + li {
			margin-top: 20px;
		}
	}

	// RD Navbar Nav
	.rd-navbar-nav {
		li {
			.rd-navbar-dropdown,
			.rd-navbar-megamenu {
				transition: opacity 0.3s, height 0.4s ease;
				opacity: 0;
				height: 0;
				overflow: hidden;
			}

			&.opened {
				> .rd-navbar-dropdown {
					padding: 4px 0 0;
				}

				> .rd-navbar-megamenu {
					padding-top: 15px;
					padding-bottom: 15px;
				}

				> .rd-navbar-dropdown,
				> .rd-navbar-megamenu {
					opacity: 1;
					height: auto;
				}
				> .rd-navbar-submenu-toggle {
					&::after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	// RD Navbar toggle
	.rd-navbar-submenu-toggle {
		cursor: pointer;
		&::after {
			content: '\f107';
			position: absolute;
			top: 0;
			right: 0;
			width: 56px;
			height: $rd-navbar-fixed-panel-item-height;
			font: 400 14px "FontAwesome";
			line-height: $rd-navbar-fixed-panel-item-height;
			text-align: center;
			transition: 0.4s all ease;
			z-index: 2;
			cursor: pointer;
		}
	}

	// Hybrid Styles
	.rd-navbar-collapse,
	.rd-navbar-search-toggle {
		position: fixed;
		top: ($rd-navbar-fixed-height - $rd-navbar-fixed-line-height) / 2;
		z-index: 1000;
		background-color: transparent;
		border: none;
	}

	// RD Navbar States
	&.active {
		.rd-navbar-nav {
			transform: translateX(0);
		}
	}

	// RD Navbar Content
	.rd-navbar-content {
		position: fixed;
		top: $rd-navbar-min-height - 1px;
		transform: translateX(30px);
		transform-origin: 100% 100%;
		right: 0;
		z-index: 1001;
		width: auto;
		padding: 25px 32px;
		margin: 0 -1px;
		opacity: 0;
		visibility: hidden;
		transition: 0.23s all ease-in-out;
		font-size: 14px;
		line-height: 1.4;
		background: $rd-navbar-background;
		border: 1px solid $rd-navbar-border;
		text-align: left;
		pointer-events: none;

		* {
			pointer-events: auto;
		}

		> * + * {
			margin-top: 20px;
		}

		.button {
			display: block;
		}

		.list-bordered {
			> li {
				display: block;
				padding: 0;
				&::after {
					display: none;
				}
			}

			> li + li {
				margin-top: 17px;
			}
		}
	}

	.rd-navbar-content__list {
		> li {
			display: flex;
			align-items: center;
			@include groupX(10px);
		}

		> li + li {
			margin-top: 15px;
		}
	}

	.rd-navbar-content.active {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}

	.rd-navbar-content__toggle {
		top: ($rd-navbar-fixed-height - $rd-navbar-min-line-height) / 2;
		right: 2px;
		width: $rd-navbar-min-line-height;
		@include make-toggle(
						'collapse-preset-1',
						$rd-navbar-min-line-height,
						19px,
						$rd-navbar-fixed-toggle-color
		);
		position: fixed;
		z-index: 1000;
	}

	.rd-navbar-search_toggled {
		position: static;
	}

	.rd-navbar-search-wrap.active {
		.rd-navbar-search_toggled .rd-search {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}

	.rd-search-results-live {
		display: none;
	}

	html .page & .rd-navbar-fixed--hidden {
		display: none;
	}
}

// Themes
.rd-navbar-fixed {
	// Default-theme
	//

	// RD Navbar Panel
	.rd-navbar-panel {
		color: $rd-navbar-fixed-panel-color;
		box-shadow: $rd-navbar-fixed-shadow;
		background: $rd-navbar-fixed-panel-background;
	}

	// RD Navbar Nav Wrap
	.rd-navbar-nav-wrap {
		color: $white;
		background: $rd-navbar-background;
		border-color: $rd-navbar-border;
	}

	// RD Navbar Nav
	.rd-navbar-nav {
		li {
			> a {
				color: $rd-navbar-fixed-panel-color;
			}

			&:hover,
			&.focus,
			&.active,
			&.opened {
				> a {
					color: $rd-navbar-fixed-panel-item-hover-color;
					background: $rd-navbar-fixed-panel-item-hover-background;
				}

				> .rd-navbar-submenu-toggle {
					color: $rd-navbar-fixed-submenu-toggle-focus-color;
				}
			}

			&.opened {
				> .rd-navbar-submenu-toggle {
					color: $rd-navbar-fixed-submenu-toggle-focus-color;
				}
			}
		}
	}

	// Mixed RD Navbar Dropdown & Megamenu
	.rd-megamenu-list,
	.rd-navbar-dropdown {
		> li > a {
			color: $rd-navbar-dropdown-item-color;
		}

		> li:hover,
		> li.focus,
		> li.active,
		> li.opened {
			> a {
				color: $rd-navbar-fixed-panel-item-hover-color;
				background: $primary;
			}
		}
	}

	// RD Navbar megamenu
	.rd-navbar-megamenu {
		.rd-megamenu-header {
			color: $black;

			a {
				@include link($white, $primary);
			}
		}
	}

	.rd-navbar-submenu-toggle {
		color: $rd-navbar-fixed-panel-color;
	}

	// RD Navbar Search
	.rd-navbar-search-toggled {
		.rd-search {
			border-color: $rd-navbar-fixed-border;
		}
	}
}

// Themes
.rd-navbar-fixed.rd-navbar_transparent {
	// Dark-theme
	//

	// RD Navbar Panel
	.rd-navbar-panel {
		color: $white;
		background: $gray-darker;
		border-bottom-color: $black;
	}

	// RD Navbar Nav Wrap
	.rd-navbar-nav-wrap {
		color: $white;
		background: lighten($gray-darker, 5%);
		border-color: lighten($gray-darker, 5%);
	}

	// RD Navbar Content
	.rd-navbar-content__toggle {
		@include make-toggle(
						'collapse-preset-1',
						$rd-navbar-min-line-height,
						19px,
						$white
		);
	}

	// RD Navbar Nav
	.rd-navbar-nav {
		li {
			> a {
				color: $white;
			}
		}

		li {

			&:hover,
			&.focus,
			&.active,
			&.opened {
				> a {
					color: $white;
					background: $primary;
				}

				> .rd-navbar-submenu-toggle {
					color: $white;
				}
			}

			&.opened {
				> .rd-navbar-submenu-toggle {
					color: $white;
				}
			}
		}
	}

	// Mixed RD Navbar Dropdown & Megamenu
	.rd-megamenu-list,
	.rd-navbar-dropdown {
		> li > a {
			color: darken($white, 20%);
		}

		&:hover,
		&.focus,
		&.active,
		&.opened {
			> a {
				color: $rd-navbar-fixed-panel-item-hover-color;
				background: $primary;
			}
		}
	}

	// RD Navbar megamenu
	.rd-navbar-megamenu {
		.rd-megamenu-header {
			color: $white;

			a {
				@include link($white, $primary);
			}
		}
	}

	.rd-navbar-submenu-toggle {
		color: $white;
	}
}

html.rd-navbar-fixed-linked {
	.page {
		padding-top: $rd-navbar-fixed-height;
	}
}