footer.section.footer-modern.context-dark
	.footer-modern__main.bg-gray-3.novi-bg.novi-bg-img
		.container
			.row.row-50.justify-content-sm-center.justify-content-md-start.justify-content-lg-between
				.col-sm-6.col-md-4.col-lg-3
					p.custom-heading-3 About Us
					p.ls-05 A dolor dolores est hic libero molestiae nam neque nihil, perferendis totam. Aliquid architecto autem deserunt distinctio.
					a.button.button-primary.button-ujarak(href='contact-us.html') Get in touch
				
				.col-sm-6.col-md-4.col-xl-3
					p.custom-heading-3 Contact information
					dl.list-terms-block
						dt 24\7 Support
						dd: a.link-md(href='tel:#') 1-800-700-6200
					
					dl.list-terms-block
						dt E-mail
						dd: a(href='mailto:#') mail@demolink.org
					
					dl.list-terms-block
						dt Follow Us
						dd: ul.list-inline.list-inline-xxs
							li: a.novi-icon.icon.icon-xxs.icon-circle.icon-filled.icon-filled_brand.fa.fa-facebook(href='#')
							li: a.novi-icon.icon.icon-xxs.icon-circle.icon-filled.icon-filled_brand.fa.fa-twitter(href='#')
							li: a.novi-icon.icon.icon-xxs.icon-circle.icon-filled.icon-filled_brand.fa.fa-google-plus(href='#')
							li: a.novi-icon.icon.icon-xxs.icon-circle.icon-filled.icon-filled_brand.fa.fa-instagram(href='#')
				
				.col-md-4
					p.custom-heading-3 Useful links
					.row.row-fix.row-5
						.col-sm-6.col-md-12.col-lg-6
							ul.list-1
								li: a(href='#') Tutorials
								li: a(href='#') Pricing
								li: a(href='#') Support
								li: a(href='#') Consulting
								li: a(href='#') Employee
						
						.col-sm-6.col-md-12.col-lg-6
							ul.list-1
								li: a(href='#') Market Analysis
								li: a(href='#') Risk Management
								li: a(href='contact-us.html') Contact Us
								li: a(href='blog.html') Blog
	
	.footer-default__aside.bg-gray-5.novi-bg.novi-bg-img
		.container: .footer-default__aside-inner
			+rights
			ul.list-separated.list-inline
				li: a(href='faq.html') FAQ
				li: a(href='#') Support
="\n"
