footer.section.footer-creative.bg-primary-darken.novi-bg.novi-bg-img
  .container
    .footer-creative__column.footer-creative__column_decorated.bg-primary
      .background-item.novi-bg
      h3 24/7 Support:
      .unit.flex-row.text-primary-darken-2
        .unit__left: span.icon.novi-icon.icon-md.icon-default.fl-bigmug-line-headphones32
        .unit__body
          a.link.link-lg(href='tel:#') 1-800-700-6200
          p.ls-05 Our Support Service is always available to help you.

    .footer-creative__column
      ul.list-tags
        li: a(href='#') Tutorials
        li: a(href='pricing.html') Pricing
        li: a(href='#') Support
        li: a(href='contact-us.html') Contact Us
        li: a(href='blog.html') Blog
        li: a(href='#') Operations Consulting
        li: a(href='#') Market Analysis
        li: a(href='#') Risk Management
        li: a(href='#') Employee training
        li: a(href='#') Investment banking
        li: a(href='#') Business planning

      hr
      .layout-justify
        +rights
        ul.list-inline.list-inline-xs.social-list
          li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-facebook(href='#')
          li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-twitter(href='#')
          li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-google-plus(href='#')
          li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-pinterest-p(href='#')
="\n"
