header.section.page-header
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-modern(
		data-layout='rd-navbar-fixed',
		data-sm-layout='rd-navbar-fixed',
		data-sm-device-layout='rd-navbar-fixed',
		data-md-layout='rd-navbar-fixed',
		data-md-device-layout='rd-navbar-fixed',
		data-lg-device-layout='rd-navbar-fixed',
		data-lg-layout='rd-navbar-static',
		data-xl-device-layout='rd-navbar-static',
		data-xl-layout='rd-navbar-static',
		data-stick-up-clone='false',
		data-md-stick-up-offset='118px',
		data-lg-stick-up-offset='118px',
		data-md-stick-up='true',
		data-lg-stick-up='true'
		class=navbarInverse ? 'rd-navbar_inverse' : '')
			.rd-navbar-aside-outer.novi-bg.novi-bg-img: .rd-navbar-aside
				// RD Navbar Panel
				.rd-navbar-panel
					button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
					// RD Navbar Brand
					.rd-navbar-brand
						a.brand(href='index.html')
							.brand__name
								+png(logoDefault.normal, 'brand__logo-dark')(srcset='images/' + logoDefault.retina + '.png 2x')
								+png(logoInverse.normal, 'brand__logo-light')(srcset='images/' + logoInverse.retina + '.png 2x' )
				
				// RD Navbar Content
				.rd-navbar-content-outer
					.rd-navbar-content__toggle.rd-navbar-static--hidden(data-rd-navbar-toggle='.rd-navbar-content'): span
					.rd-navbar-content
						.list-wrap
							ul.list-bordered.list-inline
								li
									.unit.flex-row.unit-spacing-sm
										.unit__left: span.novi-icon.icon.icon-sm.icon-darker.icon-circle.icon-outline.fl-bigmug-line-headphones32
										.unit__body
											dl.list-terms-block
												dt 24/7 Support
												dd: a(href='tel:#') 1-800-700-6200
								li
									.unit.flex-row.unit-spacing-sm
										.unit__left: span.novi-icon.icon.icon-xs-2.icon-darker.icon-circle.icon-outline.fl-bigmug-line-email64
										.unit__body
											dl.list-terms-block
												dt E-mail
												dd: a(href='mailto:#') mail@demolink.org
								
								li
									.unit.flex-row.unit-spacing-sm
										.unit__left: span.novi-icon.icon.icon-sm.icon-darker.icon-circle.icon-outline.fl-bigmug-line-chat55
										.unit__body
											dl.list-terms-block
												dt Social Media
												dd: ul.list-inline.list-inline-sm.d-flex
													li: a.novi-icon.icon.icon-gray-dark.icon-style-brand.fa.fa-facebook(href='#')
													li: a.novi-icon.icon.icon-gray-dark.icon-style-brand.fa.fa-twitter(href='#')
													li: a.novi-icon.icon.icon-gray-dark.icon-style-brand.fa.fa-google-plus(href='#')
													li: a.novi-icon.icon.icon-gray-dark.icon-style-brand.fa.fa-pinterest-p(href='#')
			="\n"
			
			.rd-navbar-main-outer.context-dark.novi-bg.novi-bg-img: .rd-navbar-main
				// RD Navbar Nav Wrap
				.rd-navbar-nav-wrap
					.rd-navbar-element
						// RD Navbar Search
						.rd-navbar-search.rd-navbar-search-toggled
							button.rd-navbar-search-toggle(data-rd-navbar-toggle=".rd-navbar-search")
							form.rd-search(action="search-results.html" data-search-live="rd-search-results-live" method="GET")
								.form-wrap
									input.form-input(id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off")
								button.rd-navbar-search-submit(type='submit')
								label.form-label(for="rd-navbar-search-form-input") Search...
								#rd-search-results-live.rd-search-results-live
					
					include ../includes/_navigation
="\n"
