header.section.page-header
  // RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-classic.novi-bg(
    data-layout='rd-navbar-fixed', 
    data-sm-layout='rd-navbar-fixed', 
    data-sm-device-layout='rd-navbar-fixed',
    data-md-layout='rd-navbar-fixed',
    data-md-device-layout='rd-navbar-fixed',
    data-lg-device-layout='rd-navbar-fixed',
    data-lg-layout='rd-navbar-static',
    data-xl-device-layout='rd-navbar-static',
    data-xl-layout='rd-navbar-static',
    data-stick-up-clone='false',
    data-md-stick-up-offset='74px',
    data-lg-stick-up-offset='66px', 
    data-md-stick-up='true', 
    data-lg-stick-up='true' 
    class=navbarInverse ? 'rd-navbar_inverse' : '')
      .rd-navbar-outer
        .rd-navbar-inner
          // RD Navbar Panel
          .rd-navbar-panel
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
            // RD Navbar Brand
            .rd-navbar-brand
              a.brand(href='index.html')
                .brand__name
                  +png(logoDefault.normal, 'brand__logo-dark')(srcset='images/' + logoDefault.retina + '.png 2x')
                  +png(logoInverse.normal, 'brand__logo-light')(srcset='images/' + logoInverse.retina + '.png 2x' )
          ="\n"

          .rd-navbar-body
            // RD Navbar Aside
            .rd-navbar-aside
              .rd-navbar-content-outer
                .rd-navbar-content__toggle.rd-navbar-static--hidden(data-rd-navbar-toggle='.rd-navbar-content'): span
                .rd-navbar-content
                  ul.list-bordered.list-inline
                    li
                      dl.list-terms-inline
                        dt 24/7 Support
                        dd: a(href='tel:#') 1-800-700-6200
                    li
                      dl.list-terms-inline
                        dt E-mail
                        dd: a(href='mailto:#') mail@demolink.org

                    li
                      ul.list-inline.list-inline-xs.social-list
                        li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-facebook(href='#')
                        li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-twitter(href='#')
                        li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-google-plus(href='#')
                        li: a.icon.novi-icon.icon-gray-dark.icon-style-brand.fa.fa-pinterest-p(href='#')

            // RD Navbar Nav Wrap
            .rd-navbar-nav-wrap
              .rd-navbar-element
                // RD Navbar Search
                .rd-navbar-search.rd-navbar-search-toggled
                  button.rd-navbar-search-toggle(data-rd-navbar-toggle=".rd-navbar-search")
                  form.rd-search(action="search-results.html" data-search-live="rd-search-results-live" method="GET")
                    .form-wrap
                      input.form-input(id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off")
                      label.form-label(for="rd-navbar-search-form-input") Search...
                    button.rd-navbar-search-submit(type='submit')
                    #rd-search-results-live.rd-search-results-live

              include ../includes/_navigation
="\n"
