//- Includes
include ../elements/_ui-card

// Your Questions
section.section.section-md.bg-gray-light.text-center.novi-bg.novi-bg-img
	.container
		h2 Your Questions
		// Bootstrap collapse
		#accordion1.card-group.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='true')
			.row.row-30
				.col-md-6.card-wrap
					+card({
						first: true,
						cardClass: 'card-corporate',
						parentId: 'accordion1',
						number: '1',
						header: 'Can I track my order?'
					})
						p Yes, you can! After placing your order you will receive an order confirmation via email. Each order starts production 15 minutes after your order is placed. Within a few hours of you placing your order, you will receive an expected delivery time. When the order will be ready for delivery, you will receive another email with the tracking number and a link to trace the order online with the courier.

					+card({
						cardClass: 'card-corporate',
						parentId: 'accordion1',
						number: '2',
						header: 'How can I change something in my order?'
					})
						p If you need to change something in your order, please contact us immediately. We usually process orders within 30 minutes, and once we have processed your order, we will be unable to make any changes.

					+card({
						cardClass: 'card-corporate',
						parentId: 'accordion1',
						number: '3',
						header: 'How can I pay for my order?'
					})
						p We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.

				.col-md-6.card-wrap
					+card({
						cardClass: 'card-corporate',
						parentId: 'accordion1',
						number: '4',
						header: 'Can I return an item?'
					})
						p Please contact our administrators for more information on returning products purchased on our website.
					+card({
						cardClass: 'card-corporate',
						parentId: 'accordion1',
						number: '5',
						header: 'When will my order be delivered?'
					})
						p Delivery times will depend on your location. Once payment is confirmed your order will be packaged. Delivery can be expected within 10 business days.

					+card({
						cardClass: 'card-corporate',
						parentId: 'accordion1',
						number: '6',
						header: 'Do you provide any scripts?'
					})
						p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.
="\n"
