//- Includes
include ../elements/_ui-box-veronika

// Why Choose Us
section.section.section-md.section-variant-3.bg-default.text-center.novi-bg.novi-bg-img
	.container
		h2 Why Choose Us
		.row.row-30.row-md-70.row-flex.wow.fadeIn
			.col-md-6.col-lg-4
				+box-veronika({
					icon: 'fl-bigmug-line-gear30',
					title: 'Innovative & Creative Approach'
				})
					p We bring a lateral approach to all our services, thinking innovatively and creatively.
			
			.col-md-6.col-lg-4
				+box-veronika({
					icon: 'fl-bigmug-line-headphones32',
					title: 'Dedicated 24/7 Support'
				})
					p Our Support Team works 24/7 to solve the complex business tasks of our customers.
			
			.col-md-6.col-lg-4
				+box-veronika({
					icon: 'fl-bigmug-line-circular229',
					title: 'More Than 10 Years of Reliability'
				})
					p If you are unsatisfied with our services, we will return you all your money during first 30 days.
			.col-md-6.col-lg-4
				+box-veronika({
					icon: 'box-veronika__icon-sm fl-bigmug-line-email64 ',
					title: 'Client Focus & Trust in Business Affairs'
				})
					p We put our clients’ needs first and meet their needs when dealing with business issues.
			
			.col-md-6.col-lg-4
				+box-veronika({
					icon: 'box-veronika__icon-md fl-bigmug-line-lock64',
					title: 'Award-Winning Reputation'
				})
					p Our award-winning reputation is founded on exceeding the expectations of our clients.
			
			.col-md-6.col-lg-4
				+box-veronika({
					icon: 'box-veronika__icon-sm fl-bigmug-line-cloud255',
					title: 'Delivering Success'
				})
					p We give confidence and re-assurance to our clients as we drive their projects forward.
="\n"