// Search Layout
section.section.section-md.bg-default
  .container
    // Search Layout
    article.search-layout
      .search-layout__aside
        h2.custom-heading-2
          | Get a Domain
          span.custom-heading-2__element Name 

      .search-layout__main
        h5 With FREE Email, DNS, Theft Protection, and other features
        // RD Search
        form.rd-form.form_inline.form_lg
          .form-wrap
            input.form-input(type="text" name="s" autocomplete="off")
          .form-button
            button.button.button-lg.button-primary.button-ujarak(type='submit') Search
        .layout-justify
          ul.list-domains
            li
              span.text-mark .com
              span $9.95
            li
              span.text-mark .net 
              span $9.95
            li
              span.text-mark .biz
              span $8.95
            li
              span.text-mark .me
              span $7.95

          p.big * All prices per annum
="\n"

// Divider
section.section.section-md.bg-default.text-center
  .container: .divider
="\n"

// Cloud Solutions
section.section.section-lg.bg-default.text-center
  .container
    h2 Cloud Solutions
    .row.row-50.justify-content-md-center
      .col-md-6.col-lg-4
        // Box Chloe
        article.box-chloe.box-chloe_primary
          .box-chloe__icon.fl-bigmug-line-download136
          .box-chloe__main
            h4.box-chloe__title Shared Hosting 
            p Shared Hosting is a type of web hosting service where you share the same physical server with many other users.
            a.button.button-sm.button-default.button-ujarak(href='pricing.html') View Details

      .col-md-6.col-lg-4
        // Box Chloe
        article.box-chloe.box-chloe_secondary
          .box-chloe__icon.fl-bigmug-line-favourites5
          .box-chloe__main
            h4.box-chloe__title Dedicated Hosting
            p A dedicated server gives you the ultimate control, power and security with full access to all resources.
            a.button.button-sm.button-default.button-ujarak(href='pricing.html') View Details

      .col-md-6.col-lg-4
        // Box Chloe 
        article.box-chloe.box-chloe_tertiary
          .box-chloe__icon.fl-bigmug-line-hot67
          .box-chloe__main
            h4.box-chloe__title Premium Hosting 
            p Premium hosting gives you server level performance and the reliability of a custom-built server cluster.
            a.button.button-sm.button-default.button-ujarak(href='pricing.html') View Details
="\n"

// Pricing Tables
section.section.section-md.bg-gray-light.text-center.oh
  .container.wow.fadeInUpSmall
    h2 Pricing Plans
    include ../includes/_pricing-table-classic
="\n"

// Why Choose Us
section.section.section-sm.bg-default.text-center
  .container
    h2 Why Choose Us 
    .row.row-30.wow.fadeIn
      include ../includes/_cells-key-features
="\n"

// Facts
+parallax-section({
  img: 'bg-image-2-1920x1121'
})
  .section-lg.text-center.text-sm-left
    .container
      .row.row-50.flex-md-row-reverse.justify-content-md-between
        .col-md-5.wow.fadeInRightSmall
          .box-width-3.box-centered
            h2 Some Facts About Us
            p.text-style-1 More than 100,000 websites hosted
            a.button.button-lg.button-secondary.button-ujarak(href='about.html') Get Started now
        .col-md-7.col-lg-6.wow.fadeInLeftSmall
          .row.row-style-1
            .col-sm-6: .cell-inner
              // Box counter
              article.box-counter.box-counter_modern
                .box-counter__main
                  .box-counter__icon.fl-bigmug-line-cube29
                  span 1.6
                  span.small k
                p.box-counter__title CMS Installations

            .col-sm-6: .cell-inner
              // Box counter
              article.box-counter.box-counter_modern
                .box-counter__main
                  .box-counter__icon.fl-bigmug-line-trophy55
                  .counter 27
                p.box-counter__title Awards Won

            .col-sm-6: .cell-inner
              // Box counter
              article.box-counter.box-counter_modern
                .box-counter__main
                  .box-counter__icon.fl-bigmug-line-planetary2
                  .counter 20
                  span.small k
                p.box-counter__title Registered Domains

            .col-sm-6: .cell-inner
              // Box counter
              article.box-counter.box-counter_modern
                .box-counter__main
                  .box-counter__icon.fl-bigmug-line-like51
                  .counter 99
                  span.small.small_top %
                p.box-counter__title Satisfied Customers
="\n"

include ../sections/_section-our-clients
include ../sections/_section-partners
