// Team
section.section.section-lg.bg-gray-light.text-center.novi-bg.novi-bg-img
	.container
		h2 Meet Our Team
		.row.row-50
			.col-md-6.col-lg-3
				// Card Creative
				article.card-creative.novi-bg.novi-bg-img
					.card-creative__inner
						figure.card-creative__media
							+jpg('team-1-230x211')
						p.card-creative__title Iren Liberman
						p.card-creative__subtitle Business Advisor
						.card-creative__divider
						.card-creative__aside
							ul.list-inline.list-inline-md.social-list
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-facebook(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-twitter(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-google-plus(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-pinterest-p(href='#')
			
			.col-md-6.col-lg-3
				// Card Creative
				article.card-creative.novi-bg.novi-bg-img
					.card-creative__inner
						figure.card-creative__media
							+jpg('team-2-230x211')
						p.card-creative__title Eric Smith
						p.card-creative__subtitle CEO & Founder
						.card-creative__divider
						.card-creative__aside
							ul.list-inline.list-inline-md.social-list
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-facebook(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-twitter(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-google-plus(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-pinterest-p(href='#')
			
			.col-md-6.col-lg-3
				// Card Creative
				article.card-creative.novi-bg.novi-bg-img
					.card-creative__inner
						figure.card-creative__media
							+jpg('team-3-230x211')
						p.card-creative__title Emily Rose
						p.card-creative__subtitle Customer Support Manager
						.card-creative__divider
						.card-creative__aside
							ul.list-inline.list-inline-md.social-list
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-facebook(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-twitter(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-google-plus(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-pinterest-p(href='#')
			.col-md-6.col-lg-3
				// Card Creative
				article.card-creative.novi-bg.novi-bg-img
					.card-creative__inner
						figure.card-creative__media
							+jpg('team-4-230x211')
						p.card-creative__title Mary Johnson
						p.card-creative__subtitle Project Manager
						.card-creative__divider
						.card-creative__aside
							ul.list-inline.list-inline-md.social-list
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-facebook(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-twitter(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-google-plus(href='#')
								li: a.icon.novi-icon.icon-xs.icon-darker.icon-style-brand.fa.fa-pinterest-p(href='#')

="\n"