header.section.page-header.section-navbar-slider
  include ../includes/_navbar-creative
  .swiper-container.swiper-slider.swiper_style-3.swiper_height-1.swiper-pagination_creative(data-loop='true' data-autoplay='5000' data-simulate-touch='false' data-slide-effect='fade')
    .swiper-wrapper
      .swiper-slide.bg-image-dark(data-slide-bg='images/slider-creative-slide-1-1920x850.jpg')
        .swiper-slide-caption
          .swiper-slide-decoration(data-caption-animate='scaleInY'): span
          .container
            h1(data-caption-animate='fadeInUpSmall') Affordable Domains
            .group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
              .group-item
                .group.group-sm.group-middle
                  p.text-column for
                  h1 You
              a.button.button-lg.button-secondary.button-ujarak(href='services.html') Get Started

            p.text-style-2(data-caption-animate='fadeInUpSmall' data-caption-delay='200') from $7/year

      .swiper-slide.bg-image-dark(data-slide-bg='images/slider-creative-slide-2-1920x850.jpg')
        .swiper-slide-caption
          .swiper-slide-decoration(data-caption-animate='scaleInY'): span
          .container
            h1(data-caption-animate='fadeInUpSmall') Better Web Hosting
            .group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
              .group-item
                .group.group-sm.group-middle
                  p.text-column for
                  h1 You
              a.button.button-lg.button-secondary.button-ujarak(href='pricing.html') Get Started

            p.text-style-2(data-caption-animate='fadeInUpSmall' data-caption-delay='200') from $0,1/day

    .swiper-pagination__module
      .swiper-pagination
      .swiper-pagination__divider
      .swiper-pagination__fraction
        span.swiper-pagination__fraction-index 00
        span.swiper-pagination__fraction-divider
        span.swiper-pagination__fraction-count 00
="\n"