//- Includes
include ../elements/_ui-box-veronika

// Our Hosting
section.section.section-md.bg-default.novi-bg.novi-bg-img
	.container
		.row.row-50.justify-content-sm-center.flex-lg-row-reverse.align-items-lg-center
			.col-sm-10.col-lg-5.col-xl-4
				h2 Our Services
				ul.list-classy
					li.list-classy__item: a(href='services.html')
						span.icon.novi-icon.fl-bigmug-line-chat51
						div
							h4.list-classy__title Operations Consulting
							p Plans Start at $4.50\mo

					li.list-classy__item.list-classy__item_secondary: a(href='services.html')
						span.icon.novi-icon.fl-bigmug-line-three142
						div
							h4.list-classy__title Market Analysis
							p Plans Start at $7.50\mo

					li.list-classy__item.list-classy__item_tertiary: a(href='services.html')
						span.icon.novi-icon.fl-bigmug-line-graphical8
						div
							h4.list-classy__title Risk Management
							p Plans Start at $9.99\mo

				a.button.button-lg.button-default-outline.button-ujarak(href='services.html') See All Services

			.col-sm-10.col-lg-7.col-xl-8
				.box-inset-2
					.thumb-video
						+jpg('video-preview-1-699x488', 'thumb-video__image')
						.thumb-video__caption
							button.thumb-video__button(type='button' data-toggle='modal' data-target='#modalVideoAbout')
							h3.thumb-video__title About Us
	// Modal
	#modalVideoAbout.modal.modal-video.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#myModalLabel.modal-title About Us
				.modal-body
					.embed-responsive.embed-responsive-16by9
						iframe(src='//www.youtube.com/embed/QZzbm-FrkGk' width='640' height='360' allowfullscreen='')
="\n"

// Pricing Tables
section.section.section-md.section-variant-2.bg-gray-light.text-center.oh.novi-bg.novi-bg-img
	.container.wow.fadeInUpSmall
		h2 Pricing Plans
		include ../includes/_pricing-table-creative
="\n"

include ./_section-advantages-creative

include ./_section-about-facts-creatice

include ./_section-testimonials-creative

// Partners
section.section.section-lg.bg-default.text-center.novi-bg.novi-bg-img
	.container: .divider
	.container
		.row.row-custom-bordered.row-md-30.align-items-sm-center
			.col-sm-6.col-md-3.wow.fadeIn
				a.link-image(href='#'): +png('brand-1-126x68')
			.col-sm-6.col-md-3.wow.fadeIn
				a.link-image(href='#'): +png('brand-2-126x100')
			.col-sm-6.col-md-3.wow.fadeIn
				a.link-image(href='#'): +png('brand-3-134x83')
			.col-sm-6.col-md-3.wow.fadeIn
				a.link-image(href='#'): +png('brand-4-138x55')
="\n"
