// Facts
+parallax-section({
  img: 'bg-image-2-1920x1121'
})
  .section-lg.text-center
    .container
      h2 Some Facts About Us
      p.text-style-1 Delivering cost effective and high-quality business solutions
      .row.row-50.offset-top-1
        .col-sm-6.col-md-3
          // Box counter
          article.box-counter
            .box-counter__main
              span 1.6
              span.small k
            .box-counter__divider
            p.box-counter__title Projects

        .col-sm-6.col-md-3
          // Box counter
          article.box-counter 
            .box-counter__main
              .counter 27
            .box-counter__divider
            p.box-counter__title Winning Awards

        .col-sm-6.col-md-3
          // Box counter
          article.box-counter
            .box-counter__main
              .counter 87
            .box-counter__divider
            p.box-counter__title Professionals

        .col-sm-6.col-md-3
          // Box counter
          article.box-counter
            .box-counter__main
              .counter 99
              span.small.small_top %
            .box-counter__divider
            p.box-counter__title Satisfied Customers
="\n"
