// Swiper
section.section.swiper-container.swiper-slider.swiper_style-2.swiper-controls-modern(data-loop='true' data-autoplay='5000' data-simulate-touch='false')
  .swiper-wrapper
    .swiper-slide.bg-image-dark(data-slide-bg='images/slider-modern-slide-1-1920x660.jpg')
      .swiper-slide-caption
        .swiper-slide-decoration(data-caption-animate='scaleInY'): span
        .container
          h1(data-caption-animate='fadeInUpSmall') Better Web Hosting 
          .group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
            .group-item
              .group.group-sm.group-middle
                p.text-column for
                h1 You 
            a.button.button-lg.button-primary.button-ujarak(href='pricing.html') Get Started

          p.text-style-2(data-caption-animate='fadeInUpSmall' data-caption-delay='200') from $0,1/day

    .swiper-slide.bg-image-dark(data-slide-bg='images/slider-modern-slide-2-1920x660.jpg')
      .swiper-slide-caption
        .swiper-slide-decoration(data-caption-animate='scaleInY'): span
        .container
          h1(data-caption-animate='fadeInUpSmall') Affordable Domains
          .group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
            .group-item
              .group.group-sm.group-middle
                p.text-column for
                h1 You
            a.button.button-lg.button-primary.button-ujarak(href='pricing.html') Get Started

          p.text-style-2(data-caption-animate='fadeInUpSmall' data-caption-delay='200') from $7/year

  .swiper-pagination

  .swiper-button-prev
  .swiper-button-next
="\n"