// Our Clients
section.section.section-md.bg-gray-light.text-center.novi-bg.novi-bg-img
	.container
		h2 Our Clients
		// Owl Carousel
		.owl-outer-navigation-wrap.owl-carousel_nav-modern.wow.fadeIn
			.owl-carousel.quote-creative-carousel(
			data-items='1'
			data-lg-items='2'
			data-dots='true'
			data-nav='true'
			data-stage-padding='0'
			data-loop='true'
			data-margin='30'
			data-mouse-drag='false'
			data-navigation-container='#owl-carousel-nav' data-dots-each='1')
				.item
					// Quote Creative
					article.quote-creative.novi-bg
						.quote-creative__header
							.quote-creative__media: +jpg('client-1-112x99')
							.quote-creative__info
								p.quote-creative__title Sam Wilson
								p.quote-creative__subtitle CEO “ManStep”
						.quote-creative__main
							+quote-mark-2('quote-creative__mark')
							.quote-creative__main-text
								p A dolor dolores est hic libero molestiae nam neque nihil, perferendis totam. Aliquid architecto autem deserunt distinctio dolorum earum eos nesciunt, non possimus quibusdam quis quisquam quos rem
				
				.item
					// Quote Creative
					article.quote-creative.novi-bg
						.quote-creative__header
							.quote-creative__media: +jpg('client-2-112x99')
							.quote-creative__info
								p.quote-creative__title Michelle Johnson
								p.quote-creative__subtitle CEO “WorkForce”
						.quote-creative__main
							+quote-mark-2('quote-creative__mark')
							.quote-creative__main-text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
			
			#owl-carousel-nav.owl-outer-navigation
="\n"