// Our Clients
section.section.section-md.bg-default.section-variant-3.text-center.novi-bg.novi-bg-img
	.container
		h2 Our Clients
		// Slick Carousel
		article.owl-testimonials-widget
			// Owl Carousel
			.owl-carousel(data-items='1', data-dots='false' data-nav='false' data-stage-padding='15', data-loop='false', data-margin='30', data-mouse-drag="false" data-dots-custom='#quote-custom-dots')
				.item
					// Quote Minimal
					article.quote-minimal
						+quote-mark-2('quote-minimal__mark')
						.quote-minimal__text
							p Having acquired an existing distributorship, Consult helped me maneuver through key areas of my business: sales growth planning as well as evaluating and improving my team’s performance.
						.quote-minimal__info
							p.heading-5.quote-minimal__title Samuel Wilson
							p.heading-5.quote-minimal__subtitle CEO “ManStep”
				
				.item
					// Quote Minimal
					article.quote-minimal
						+quote-mark-2('quote-minimal__mark')
						.quote-minimal__text
							p Two years after Consult’s involvement, we are remarkably successful and the leader in served markets. This brought industry knowledge, best practices, and real-world solutions to the intricate challenges we faced.
						.quote-minimal__info
							p.heading-5.quote-minimal__title Michelle Johnson
							p.heading-5.quote-minimal__subtitle CEO “WorkForce”
				
				.item
					// Quote Minimal
					article.quote-minimal
						+quote-mark-2('quote-minimal__mark')
						.quote-minimal__text
							p Through the strategic planning process, Consult helped us break down silos, become empowered, develop respect for one another, agree upon our core competencies, and develop a vision for the future.
						.quote-minimal__info
							p.heading-5.quote-minimal__title Ann McMillan
							p.heading-5.quote-minimal__subtitle CEO “Creative Power”
			
			ul.owl-custom-dots#quote-custom-dots
				li(data-owl-item='0'): .quote-image: +jpg('client-2-100x100')
				li(data-owl-item='1'): .quote-image: +jpg('client-1-100x100')
				li(data-owl-item='2'): .quote-image: +jpg('client-3-100x100')
="\n"