// Our Clients
section.section.novi-bg.novi-bg-img.section-md.bg-gray-light.text-center
	.container
		h2 Our Clients
		.row.row-fix.justify-content-md-center.justify-content-lg-start.row-50
			.col-md-10.col-lg-6
				article.card-shadow.novi-bg
					.row-style-3-wrap: .row.row-fix.row-style-3
						.col-sm-6.wow.fadeIn
							a.link-image(href='#'): +png('brand-1-126x68')
						.col-sm-6.wow.fadeIn
							a.link-image(href='#'): +png('brand-3-134x83')
						.col-sm-6.wow.fadeIn
							a.link-image(href='#'): +png('brand-2-126x100')
						.col-sm-6.wow.fadeIn
							a.link-image(href='#'): +png('brand-4-138x55')
			
			.col-md-10.col-lg-6
				article.card-shadow.novi-bg
					// Owl Carousel
					.owl-carousel.owl-style-1.quote-modern-carousel(
					data-items='1'
					data-dots='true'
					data-nav='false'
					data-stage-padding='15'
					data-loop='true'
					data-margin='30'
					data-mouse-drag='false')
						
						article.quote-modern
							.quote-modern__header
								+jpg('client-2-100x100', 'quote-modern__image')
								.quote-modern__meta
									h5.quote-modern__cite Samuel Wilson,
									h5.quote-modern__subtitle CEO “ManStep”
							.quote-modern__text
								p A dolor dolores est hic libero molestiae nam neque nihil, perferendis totam. Aliquid architecto autem deserunt distinctio dolorum earum eos nesciunt, non possimus quibusdam quis quisquam quos rem suscipit.
						
						article.quote-modern
							.quote-modern__header
								+jpg('client-1-100x100', 'quote-modern__image')
								.quote-modern__meta
									h5.quote-modern__cite Michelle Johnson,
									h5.quote-modern__subtitle CEO “WorkForce”
							.quote-modern__text
								p Amet commodi consectetur corporis culpa doloribus esse omnis saepe temporibus voluptatibus. Accusantium aperiam esse expedita fugit harum labore magni minima sint? Asperiores delectus ipsa nam nisi, numquam.
						
						article.quote-modern
							.quote-modern__header
								+jpg('client-3-100x100', 'quote-modern__image')
								.quote-modern__meta
									h5.quote-modern__cite Ann McMillan,
									h5.quote-modern__subtitle CEO “Creative Power”
							.quote-modern__text
								p Cupiditate fuga repellat tempore velit voluptate! Ab amet aspernatur dolorem dolores eaque eveniet nihil non nostrum officia perspiciatis? Consectetur est exercitationem illo quo quos! Ad aperiam error.
="\n"