// Facts
+parallax-section({
	img: 'bg-image-2-1920x1121'
})
	.section-lg.text-center
		.container
			h2 Some Facts About Us
			p.text-style-1 Delivering cost effective and high-quality business solutions
			.row.row-custom-bordered.row-md-30
				.col-sm-6.col-lg-3
					// Box counter
					article.box-counter.box-counter_creative
						.box-counter__main
							span.icon.novi-icon.fl-bigmug-line-cube29
							span 1.6
							span.small k
						p.box-counter__title Projects
				
				.col-sm-6.col-lg-3
					// Box counter
					article.box-counter.box-counter_creative
						.box-counter__main
							span.icon.novi-icon.fl-bigmug-line-trophy55
							.counter 27
						p.box-counter__title Awards
				
				.col-sm-6.col-lg-3
					// Box counter
					article.box-counter.box-counter_creative
						.box-counter__main
							span.icon.novi-icon.fl-bigmug-line-planetary2
							.counter 87
						p.box-counter__title Professionals
				
				.col-sm-6.col-lg-3
					// Box counter
					article.box-counter.box-counter_creative
						.box-counter__main
							span.icon.novi-icon.fl-bigmug-line-checkmark14
							.counter 99
							span.small.small_top %
						p.box-counter__title Satisfied Customers
="\n"