//- Includes
include ../elements/_ui-box-lucy
include ../elements/_ui-inline-subscribe-form

// Cloud Solutions
section.section.swiper-after_1.wow.slideInUp
  .container: .bg-default
    .row.row-style-2
      .col-md-4
        // Box Nina
        article.box-nina
          .box-nina__icon.fl-bigmug-line-download136
          .box-nina__main
            h4.box-nina__title: a(href='pricing.html') Shared Hosting
            p Plans Start at $4.50\mo
            a.button.button-sm.button-default.button-ujarak(href='pricing.html') View Details

      .col-md-4
        // Box Nina
        article.box-nina.box-nina_secondary
          .box-nina__icon.fl-bigmug-line-favourites5
          .box-nina__main
            h4.box-nina__title: a(href='pricing.html') Dedicated Hosting
            p Plans Start at $4.50\mo
            a.button.button-sm.button-default.button-ujarak(href='pricing.html') View Details

      .col-md-4
        // Box Nina 
        article.box-nina.box-nina_tertiary
          .box-nina__icon.fl-bigmug-line-hot67
          .box-nina__main
            h4.box-nina__title: a(href='pricing.html') Premium Hosting
            p Plans Start at $4.50\mo
            a.button.button-sm.button-default.button-ujarak(href='pricing.html') View Details
="\n"

// Search Layout
section.section.section-md.bg-default.wow.fadeInUpXSmall(data-wow-duration='.8s')
  .container
    article.card-bordered
      h2 Get a Domain Name
      p.big With FREE Email, DNS, Theft Protection, and other features
      // RD Search
      form.rd-form.rd-search.form_inline.form_lg(action="search-results.html", method="GET", data-search-live="rd-search-results-live")
        .form-wrap
          input.form-input#search-form-input(type="text" name="s" autocomplete="off")
          label.form-label(for='search-form-input') Enter your domain name here...
        .form-button
          button.button.button-lg.button-primary.button-ujarak(type='submit') Search Domain

      ul.list-domains
        li
          span.text-mark .com
          span $9.95
        li
          span.text-mark .net 
          span $9.95
        li
          span.text-mark .biz
          span $8.95
        li
          span.text-mark .me
          span $7.95
="\n"

// Pricing Plans
section.section.section-md.bg-gray-light.text-center.oh
  .container.wow.fadeInUpSmall
    h2 Pricing Plans
    include ../includes/_range-pricing-modern
="\n"

// Why Choose Us
section.section.section-md.bg-default.text-center
  .container
    h2 Why Choose Us 
    .row.row-30.row-md-70.wow.fadeIn
      .col-md-6.col-lg-4
        +box-lucy({
          icon: 'fl-bigmug-line-gear30',
          title: 'High Quality Hardware'
        })
          p We use the latest hardware solutions that are updated and maintained regularly.

      .col-md-6.col-lg-4
        +box-lucy({
          icon: 'fl-bigmug-line-headphones32',
          title: 'Dedicated 24\\7 Support'
        })
          p If you have a question about our domain and hosting services, use our 24/7 support.

      .col-md-6.col-lg-4
        +box-lucy({
          icon: 'fl-bigmug-line-circular229',
          title: '30-Day Money-back Guarantee'
        })
          p If you are unsatisfied with our services, we will return you all your money during first 30 days.

      .col-md-6.col-lg-4
        +box-lucy({
          icon: 'box-lucy__icon-md fl-bigmug-line-lock64',
          title: 'Server Level Protection'
        })
          p Hostpro provides protection for your website from DDoS attacks and other web threats.

      .col-md-6.col-lg-4
        +box-lucy({
          icon: 'box-lucy__icon-sm fl-bigmug-line-email64 ',
          title: 'Unlimited Email Addresses'
        })
          p We offer our clients a vast range of available email addresses that are easy to configure.

      .col-md-6.col-lg-4
        +box-lucy({
          icon: 'fl-bigmug-line-cloud255',
          title: 'CloudFlare Integration'
        })
          p We use CloudFlare integration to provide even more protection for your website.
="\n"

include ../sections/_section-about-facts

// Our Clients
section.section.section-md.bg-gray-light.text-center
  .container
    h2 Our Clients
    .row.justify-content-md-center.justify-content-lg-start.row-50
      .col-md-10.col-lg-6
        article.card-shadow
          .row-style-3-wrap: .row.row-style-3
            .col-sm-6.wow.fadeIn
              a.link-image(href='#'): +png('brand-1-126x68')
            .col-sm-6.wow.fadeIn
              a.link-image(href='#'): +png('brand-3-134x83')
            .col-sm-6.wow.fadeIn
              a.link-image(href='#'): +png('brand-2-126x100')
            .col-sm-6.wow.fadeIn
              a.link-image(href='#'): +png('brand-4-138x55')

      .col-md-10.col-lg-6
        article.card-shadow
          // Owl Carousel 
          .owl-carousel.owl-style-1.quote-modern-carousel(
          data-items='1' 
          data-dots='true' 
          data-nav='false'
          data-stage-padding='15'
          data-loop='true' 
          data-margin='30' 
          data-mouse-drag='false')
            .item
              // Quote Modern
              article.quote-modern
                .quote-modern__header
                  +jpg('client-1-93x93', 'quote-modern__image')
                  .quote-modern__meta
                    h5.quote-modern__cite Mike Johnson,
                    h5.quote-modern__subtitle Web Developer
                .quote-modern__text
                  p I am blessed with having found the best Web Hosting company ever. Great service, great hosting, and the staff are amazing. Everyone I refer to them loves them as much as I do.
            .item
              // Quote Modern
              article.quote-modern
                .quote-modern__header
                  +jpg('client-2-93x93', 'quote-modern__image')
                  .quote-modern__meta
                    h5.quote-modern__cite Rachel Adams,
                    h5.quote-modern__subtitle Entrepreneur
                .quote-modern__text
                  p I'm speechless. I want to thank you for your well wishes and your kind words. It’s so hard to find good hosting and domain search service these days but you guys at Hostpro are in a class by yourself.
            .item
              // Quote Modern
              article.quote-modern
                .quote-modern__header
                  +jpg('client-3-93x93', 'quote-modern__image')
                  .quote-modern__meta
                    h5.quote-modern__cite Jane Wilson,
                    h5.quote-modern__subtitle Web Designer
                .quote-modern__text
                  p I'd like to thank you for a long partnership with outstanding customer service every time I deal with you - this is why I continue to recommend you guys and don't use anyone else for any of my websites.
="\n"

// Subscribe
+parallax-section({
  img: 'bg-image-1-1920x900'
})
  .section-md.text-center.text-md-left
    .container
      .row.row-30.justify-content-md-center.align-items-md-center
        .col-md-10.col-lg-6.wow.fadeInLeftSmall
          h3 Let’s Stay in Touch!

        .col-md-10.col-lg-6.wow.fadeInRightSmall
          // RD Mailform
          form.rd-mailform.form_lg.form_inline.form_inline-centered.form_outline.form(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
            .form-wrap
              input.form-input(id="get-in-touch-email" type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="get-in-touch-email") Enter your email
            .form-button
              button.button.button-lg.button-primary.button-ujarak Subscribe
="\n"
