-
	var
	brandName = 'Consult',
	logoDefault = { normal: 'logo-default-104x20', retina: 'logo-default-208x40'},
	logoInverse = { normal: 'logo-inverse-104x20', retina: 'logo-inverse-208x40'},
	postLink = 'blog-post.html',
	livedemo = true,
	builderLink = 'http://ld-wp2.template-help.com/novi-builder/prod-18365/'
	menu = [
		{
			title: 'About',
			category: 'about'
		},
		{
			title: 'Services',
			category: 'services'
		},
		{
			title: 'Blog',
			category: 'blog',
			dropdown: [
				{ title: 'Blog post' }
			]
		},
		{
			title: 'FAQ',
			category: 'help',
			link: 'faq.html'
		},
		{
			title: 'Pages',
			category: 'pages',
			dropdown: [
				{ title: 'Maintenance' },
				{ title: 'Privacy policy' },
				{ title: '404 Page' },
				{ title: 'Coming Soon' }
			]
		},
		{
		title: 'Contact Us',
		category: 'contact-us'
		},
		{
		title: 'Elements',
		category: 'elements',
		link: '#',
		megamenu: [
			{
				title: 'Elements 1',
				list: [
					{ title: 'Breadcrumbs' },
					{ title: 'Maps' },
					{ title: 'Sliders' },
					{ title: 'Gallery' },
					{ title: 'Gallery Album' }
				]
			},
			{
			title: 'Elements 2',
			list: [
					{ title: 'Headers' },
					{ title: 'Footers' },
					{ title: 'Pricing' },
					{ title: 'Testimonials' },
					{ title: 'Partners' }
				]
			},
			{
			title: 'Elements 3',
			list: [
					{ title: 'Forms' },
					{ title: 'Team' },
					{ title: 'Counters' },
					{ title: 'Advantages' }
				]
			}
		]
	}
	]