- var fonts = "//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono:400"
- var html_class = "wide wow-animation"
- var subscribeFormCounter = 1

include _mixins
include _config


block variables

doctype html

html(lang="en" class=html_class)
	head
		// Site Title
		block title
			title=pageName
		
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset='utf-8')
		
		link(rel="icon" href="images/favicon.ico" type="image/x-icon")
		
		// Stylesheets
		link(rel="stylesheet" type="text/css" href=fonts)
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/fonts.css")
		link(rel="stylesheet" href="css/style.css")
		style(type="text/css") #page-loader{position:fixed;left:0;top:0;bottom:0;right:0;float:left;display:flex;align-items:center;justify-content:center;padding:20px 20px 8%;z-index:9999999;opacity:1;background:#fff;transition:.3s all ease}#page-loader .page-loader-body{text-align:center}#page-loader *+.cssload-wrapper{margin-top:30px}#page-loader.loaded{display:none;z-index:-10000}[data-x-mode=true] #page-loader{display:none!important}.cssload-wrapper{width:300px;max-width:95%}.cssload-border{position:relative;width:100%;padding:8px}.cssload-whitespace{position:relative;overflow:hidden;width:100%;height:5px;margin:0 auto}.cssload-line{position:absolute;width:100%;height:inherit;background:linear-gradient(90deg,#04ccfc,#3a7bd5);animation:cssload-slide 3s ease-in-out infinite both}@media (min-width:768px){.cssload-wrapper{width:400px}}@keyframes cssload-slide{0%{left:-100%}100%{left:100%}}
		
		= "\n\t\t"
		<!--[if lt IE 10]>
		div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
			a(href="http://windows.microsoft.com/en-US/internet-explorer/")
				img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
		script(src="js/html5shiv.min.js")
		= "\n\t\t"
		<![endif]-->
	body
		// Page Loader
		#page-loader
			.page-loader-body
				+png(logoDefault.normal)( srcset='images/' + logoDefault.retina + '.png 2x' )
				.cssload-wrapper
					.cssload-border
						.cssload-whitespace
							.cssload-line
		
		.page
			block page
		
		// Global Mailform Output
		#form-output-global.snackbars
		
		// Javascript
		script(src="js/core.min.js")
		script(src="js/script.js")
		
		if(codedBy)
			// coded by kraken



























